/* Cabecera________________ */
/*  Requiere $main_sprite */

#lab-header { width: 100%; background: none; position: absolute; font-size: 0.8em; text-align: center; height: 70px; top: 0; z-index: 10;

  .logo { position: relative; z-index: 1; float: left; height: 2.4em; width: 9em; padding: 0; background: $main_sprite  10px -18px no-repeat; 

    &:hover { background-position: 10px -18px }

    a { display:block; height: 100%; width: 100%; text-indent: -999px; overflow: hidden; }
  }

}

.social-lockup { position: absolute; right: 0; top: 0;

  a { display: block; float: right; text-indent: -999px; overflow: hidden; margin-top: 7px; margin-right: 20px;
      width: 46px; height: 46px; background: $main_sprite top left no-repeat;  }

  .social-fbook { background-position: -410px  -77px; 
    &:hover { background-position: -411px -19px; }
  }
  .social-twitter { background-position: -460px -77px; 
    &:hover { background-position: -461px -19px; }
  }
  .social-gplus { background-position: -143px -126px; 
    &:hover { background-position: -143px -167px; }
  }
}