$main_sprite: url("../img/bg--mainsprite.png");

$font: "RTVEfontR", Arial, Helvetica, sans-serif;
$font-bold: "RTVEfontB", Arial, Helvetica, sans-serif;
$font-sans: "RTVEfontSansR", Arial, Helvetica, sans-serif;
$font-sans-bold: "RTVEfontSansB", Arial, Helvetica, sans-serif;

$pink: #FE2979;
$grey: #888888;
$pink-bg: #612C40;
$grey-bg: #2c2c2c;

$alto-frame: 700px;

@import "compass/reset";
@import "compass/utilities";

@import "baselab";
@import "baselab-head";

@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/transform";

/* layout & overwrites */
html, body { height: 100%; }
body { background: $grey-bg; color: rgba(255,255,255,0.4); }

#main { width: 824px; height: $alto-frame; overflow: hidden; margin-top: 49px; position: relative; }
#everything { width: 1300px; margin: 0 auto; position: relative; min-height: 700px; top: 50%; margin-top: -350px; }
      @media (max-height: 640px) { #everything { top: 0; margin-top: 0; } }
  .wrap { height: 700px; position: absolute; top: 50%; margin-top: -350px; width: 100%; }

a:hover { color: $pink; }

.js .no-js, .no-js .yes-js { display: none; }

  /* some common styles */
.pink { color: $pink; }
.pink_under { color: $pink; text-decoration:underline }
.wrapper { width: 1200px; height: 700px; margin: 0 auto; position: relative; }

.graph-circ.graph-circ-main { 
  span { text-transform:uppercase }
}

.hazclick { position:absolute; left:0px; bottom:-10px;font-size:0.8em;color:#fff;opacity:0.5;text-shadow:1px 0px #333;}
.hazclick2 { position:absolute; right:0px; bottom:-10px;font-size:0.8em;color:#fff;opacity:0.5;text-shadow:1px 0px #333;}
.destacado { font-size: 1.4em;text-align: right; width: 80%; margin-left: 20%; }

.gotocreditos { color: white; text-decoration: none; position: absolute; left: 35px; bottom: 7px; }
.enlaces { color: white; text-decoration: none; position: absolute; right: 22px; text-ailgn: right; bottom: -13px; }

  /* some common svg styles */
.graph-circ { @include border-radius(1000px); }
.graph-ref { fill: none; stroke: white; stroke-width: 1px; }

.head { width: 100%; color: white; text-shadow: 1px 1px 2px black;
  .firsts { font-family: "RTVEfontR", Arial, Helvetica, sans-serif; text-align: center; font-size: 1.2em;
      border-bottom: 1px solid white; padding-bottom: 7px; margin-bottom: 12px; padding-right: 80px; text-transform: uppercase; }
  h2 { padding: 0; text-align: center; padding-right: 71px; color: $pink; text-transform: uppercase; font-size: 0.9em; }
  .title { font-size: 0.9em; font-family: "RTVEfontR", Arial, Helvetica, sans-serif; }
}

.butt { display: block; padding:5px 20px 2px 20px; color:white; border: 1px solid $pink; text-align: center;
    text-transform:uppercase; font-size: 1em; text-decoration:none; color: $pink;
    @include border-radius(30px); @include transition(all 1s); z-index:10;
  &.butt-big { padding:20px 40px 20px 40px; 
    &:active, &.act { @include box-shadow(inset 0 5px 40px #333); }
  }
  &:hover { background: $pink; color: white; text-decoration: none; }
  &:active { @include box-shadow(inset 0 3px 10px #333); }
  &.act { background: $pink; color: white; }
}

.govideo, .shareGlobal, .goStats, .goNOvideo, .moreinfo { @include border-radius(200px); display: block; height: 65px; width: 65px; text-indent: -999px; overflow: hidden; 
   background: url(../img/sp-icons.png) no-repeat -140px 0; 
}
  .govideo:hover, .goNOvideo:hover { background-position: -140px -76px; }
  .shareGlobal{ background-position: 0 0;
    &:hover { background-position: 0 -76px; }
  }
  .goStats{ background-position: -65px 0;
    &:hover { background-position: -65px -76px; }
  }
  .moreinfo{ background-position: -210px 0;
    &:hover { background-position: -210px -76px; }
  }

  /* head */
#lab-header { z-index: 100; background: black; height: 50px; 
  .main-link { width: 100%; position: absolute; text-decoration: none; color: white; font-size: 1.6em; line-height: 2em; left: 0; 
    &:hover { color: $pink; }
  }
  logo { top: 10px; background-position: 10px -26px; }
}
.social-lockup { top: 10px;
  a { width: 26px; height: 26px; margin-top: 2px; margin-right: 10px; }
  .social-twitter { background-position: -63px -65px; &:hover { background-position: -63px -94px; }}
  .social-fbook { background-position: -33px -65px; &:hover { background-position: -33px -94px; }}
  .social-gplus { background-position: -3px -65px; &:hover { background-position: -3px -94px; }}
}


/*  SECCIONESSSSSS */
.bl-sct { opacity: 0; pointer-events: none; position: absolute; top: 0; width: 824px; height: 600px; 
    @include transition(all .4s); @include transform(translatey(-700px)); pointer-events: none; }
.sct-active { opacity: 1; pointer-events: all; @include transform(translateY(0)); pointer-events: all; }
.bl-sct-extra { position: absolute; top: 0; width: 100%; height: 100%; background: rgba($grey-bg,0.9); color: white; font-size: 0.9em; z-index: 999;
    @include transition(all .4s); @include transform(translatex(900px)); padding-top: 20px;
    h2 { font-size: 1.4em; text-align: center;  }
    li { margin-bottom: 0.4em; font-size: 0.9em; }
    .closeextra { text-decoration: none; font-weight: 800; background: $pink; color: white; padding: 7px 13px; border-radius: 40px; font-size: 1.2em; 
      position: absolute; right: 0; top: 0; }
  }
  .bl-sct-extra-act .bl-sct-extra { opacity: 1; @include transform(translatex(0)); }

#sct-credits { text-align: center; color: white; font-size: 1.2em; 
  h2 { margin-top:50px }
  }

#sct-macroeconomy { text-transform: uppercase; color: $pink; text-align: justify; width: 680px; padding-left: 50px;
  .bl-wrap:hover, .bl-wrap-act { color: white; }
  span { display: block; }
  .col-1 { width: 454px; margin-right: 20px; }
  .col-2 { width: 205px; }
  .col-3 { width: 185px; margin-right: 20px; }
  .col-4 { width: 245px; }
  .col-5 { width: 60px; margin-right: 10px; }
  .col-6 { width: 174px; font-size: 1.1em; }
  .col-7 { width: 136px; margin-right: 11px; }
  .col-8 { width: 475px; }
  .col-9 { width: 105px; margin-right: 15px; }
  .col-10 { width: 105px; margin-right: 15px; }
  .col-11 { width: 354px; }
  .col-size1 { font-size: 4.1em; }
  .col-size1 { font-size: 4.1em; }
  .col-size2 { font-size: 3.4em; }
  .col-size5 { font-size: 2.2em; }
  .col-size3 { font-size: 1.2em; }
  .col-size4 { font-size: 1em; }
  .bl-sct-extra { width: 110%; height: 120%; left: 0;text-transform: none; font-size: 1em; 
    li { margin-bottom: 1em; }
  }
}

#container-menu {

  float: left; padding-top: 40px; position: relative; width: 410px; overflow: hidden;

  .bl-main-menu { width: 410px; height: 523px; text-align: center; overflow: hidden; position: relative;
    a { text-decoration: none; font-size: 0.8em; padding: 2em 0; @include box-sizing(border-box); display: block; position: relative; 
      .big { font-size: 1.4em; text-transform: uppercase; margin-bottom: 0.5em; display: block;  @include transition(all 1s); }
        &:hover .big, &.act .big { color: $pink; }
      .number { position: absolute; width: 100%; top: 0; left: 0; text-align: center; font-size: 8.2em; opacity: 0.6; z-index: -1; color: #494949; }
      &:hover, &.act { color: #ccc; @include transition(all 1s); text-decoration: none; }
    }
  }

  .rs-carousel-item-container {
    position: absolute;

    li { height: 125px; overflow: hidden; border-bottom: 1px solid rgba(200,200,200,0.6); }
  }

  .rs-carousel-item a { text-decoration: none; }
  .rs-carousel-mask { width: 410px; height: 504px; margin-top: 60px; float: left; }
  .rs-carousel-item { width: 410px; height: 126px; }
  .rs-carousel-action { display: block; overflow: hidden; text-indent: -9999px; width: 50px; height: 40px; margin: 0 auto;
    &:before { content: ''; display: block; height: 40px; width: 50px; margin: 0 auto; background: url("../img/bg--mainsprite.png") -143px -40px no-repeat; }
    &:hover:before { background-position: -200px -39px; }
  }
  .rs-carousel-action-prev {
    &:before { background-position: -143px 0px; }
    &:hover:before { background-position: -200px -1px; }
  }
  .rs-carousel-action-next {

  }
  .rs-carousel-disabled .rs-carousel-pagination-link a,
  .rs-carousel-disabled .rs-carousel-action-next,
  .rs-carousel-disabled .rs-carousel-action-prev,
  .rs-carousel-action-disabled {
    color: gray;
    cursor: default;
  }
  .rs-carousel-vertical .rs-carousel-mask { width: 504px; }
  .rs-carousel-vertical.rs-carousel-items-1 .rs-carousel-mask { height: 126px; }
  .rs-carousel-vertical.rs-carousel-items-2 .rs-carousel-mask { height: 252px; }
  .rs-carousel-vertical.rs-carousel-items-3 .rs-carousel-mask { height: 378px; }
  .rs-carousel-vertical.rs-carousel-items-4 .rs-carousel-mask { height: 504x; }

}


#sct-portada { left: 0; width: 1200px; background: $grey-bg; color: black; text-align: center; height: 640px; color: white; z-index: 5;
    @include transition(all 0);
  .logo1 { position: absolute; margin-left: -240px; top: 40px; }
  .main { z-index: 2; position: relative; margin-top: 130px; }
  h1 { font-size: 2.7em; padding-top: 40px; text-shadow: 3px 3px black; padding-bottom: 0px; }
  p { margin: 20px 140px; text-shadow: 1px 1px black; font-size: 1em; }
  .butt { width: 100px; margin: 0 auto; box-shadow: 5px 5px 5px black; font-size: 1.2em; color: white; background: $pink; padding: 5px 40px; }
}

#sct-mostsuccessfulvoted { 

  .graph-texts { position: absolute; left: 20px; bottom: -30px; width: 800px; font-size: 1em; color: white; }
    .graph-text { @include transform(translateY(600px)); @include transition(all 1s ease-out);  }
      &.sct-active .graph-text {  @include transform(translateY(0)); }
      .graph-text-1 { @include transition-delay(2s); }
      .graph-text-2 { @include transition-delay(4s); }
}

  
.bl-sucessfull { color: white; width: 100%; position: relative; height: 120px;
  svg { @include transform(rotate(-90deg)); @include transform-origin(50%, 50%); margin-right: 10px; left: 99px; top: 0px; }
  h3 { width: 110px; margin-bottom: 20px; display: block; height: 60px; padding-top: 49px; padding-bottom: 0; font-size: 1.1em; margin-bottom: 0; text-align: center; }
  .bl-gh-val { position: absolute; left: 95px; top: 1px; font-size: 0.9em; }
  .bl-sucesstotal { position: relative; height: 80px; width: 600px; }
    .bl-total { width: 0; position: absolute; left: 0; bottom: 0; @include transition(all 1s); height: 35px; background: $pink; 
      span { position: absolute; right: 0; top: -20px; font-size: 0.8em; width: 100px; text-align: right; display: block; overflow: hidden; }
    }
    .bl-actierto { position: absolute; left: 0; bottom: 0; height: 35px;
        span { position: absolute; right: 0; top: 44px; font-size: 0.8em; width: 120px; text-align: right; display: block; overflow: hidden; }
      }
      .bl-actierto-elm { width: 9px; height: 35px; border-right: 1px solid $pink; }
      .bl-actierto-elm-white { border-right: 1px solid rgba(white, 0.3); }
}


#sct-historicaladvantage { color: white; background: url(../img/bg--shadow-big5.png) no-repeat bottom left; height: 633px;

  .moreinfo { display: block; position: absolute; left: 20px; top: 20px; @include transform( translateX(1000px)); z-index: 200; }
  &.sct-active .moreinfo { @include transform( translateX(0));@include transition(all 2s); @include transition-delay(6s);  }

  .p-1 { position: absolute; bottom: 190px; width: 80%; left: 15%; font-size: 1.2em; z-index: 2; text-shadow: 1px 1px black; opacity: 1; @include transition(all 2s); @include transition-delay(5s);   }
  .p-2 { position: absolute; top: 50px; width: 75%; left: 15%; font-size: 1.2em; z-index: 22; text-shadow: 1px 1px black;
    @include transform( translateX(1000px));}
  &.sct-active .p-2 { @include transform( translateX(0));@include transition(all 2s); @include transition-delay(6s);  }
 &.sct-active .p-1 { opacity:0  }  
  &:before { display: block; content: ''; width: 96%; height: 3px; background: white; position: absolute; left: 13px; top: 310px; }
  .hvr { position: absolute; opacity: 0; width: 88%; height: 270px; right: 0; z-index: 2;
      background: rgba($grey-bg, 0.8); }
    &.sct-active .hvr { opacity: 1; @include transition(all 2s); @include transition-delay(5s);  }
  .col { width: 68px; float: left; position: relative;
      &:before { display: block; content: ''; width: 1px; height: 255px; background: rgba(204, 204, 204, 0.28); position: absolute; right: 50%; bottom: -266px; }
  }

  .p-1:focus{ opacity:0.5}
    .col-0 { width: 100px; 
      &:before { display: none; }
    }
  .col-0-1 { padding-top: 246px; text-transform: uppercase; padding-bottom: 20px; line-height: 1.5em; }
  .col-0-2 { text-transform: uppercase; line-height: 1.5em; }
  .bl-title { text-align: center; padding-top: 7px; }
  .bl-country { width: 45px; height: 45px; margin: 8px 11px; background: url(../img/bg--mainsprite.png) no-repeat -321px -129px; }
    .bl-esp { background-position: -215px -129px; }
    .bl-ger { background-position: -162px -129px; }
    .bl-fr { background-position: -376px -129px; }
    .bl-ita { background-position: -267px -129px; }
    .bl-gb { background-position: -320px -129px; }
  .bl-country-hid { background: none; }
  .bl-country-down { @include transform(translatey(0));  }
   &.sct-active .bl-country-down { @include transform(translatey(320px)); @include transition(all 1s); @include transition-delay(5s); }
}

#sct-hostwon {
  .moreinfo { display: block; position: absolute; right: 20px; bottom: 20px; }

  .graph-texts { position: absolute; left: 20px; bottom: -30px; width: 580px; font-size: 1em; color: white; }
    .graph-text { @include transform(translateY(600px)); @include transition(all 1s ease-out);  }
      &.sct-active .graph-text {  @include transform(translateY(0)); }
      .graph-text-1 { @include transition-delay(2s); }
      .graph-text-2 { @include transition-delay(6s); }
      .graph-text-3 { @include transition-delay(9s); }
  .main { margin-top: 10px; }
  .main-col { width: 25%; float: left; color: white; @include transform(translatey(-800px)); @include transition(all 1s); }
    &.sct-active .col-1 { @include transform(translatey(0)); }
      &.sct-active .col-1 .circ-sec { @include transform(translateY(0) scale(1)); @include transition-delay(1s); }
      &.sct-active .col-1 .circ-sec:before { opacity: 1; @include transition-delay(2s); }
    &.sct-active .col-2 { @include transform(translatey(0)); @include transition-delay(3s); }
      &.sct-active .col-2 .circ-sec { @include transform(translateY(0) scale(1)); @include transition-delay(3s); }
      &.sct-active .col-2 .circ-sec:before { opacity: 1; @include transition-delay(4s); }
    &.sct-active .col-3 { @include transform(translatey(0)); @include transition-delay(5s); }
      &.sct-active .col-3 .circ-sec { @include transform(translateY(0) scale(1)); @include transition-delay(5s); }
      &.sct-active .col-3 .circ-sec:before { opacity: 1; @include transition-delay(6s); }
    &.sct-active .col-4 { @include transform(translatey(0)); @include transition-delay(7s); }
      &.sct-active .col-4 .circ-sec { @include transform(translateY(0) scale(1)); @include transition-delay(7s); }
      &.sct-active .col-4 .circ-sec:before { opacity: 1; @include transition-delay(8s); }
      &.sct-active .col-4 .circ-sec2 { @include transform(translateY(0) scale(1)); @include transition-delay(8s); }
      &.sct-active .col-4 .circ-sec2:before { opacity: 1; @include transition-delay(9s); }
      &.sct-active .col-4 .circ-sec3 { @include transform(translateY(0) scale(1)); @include transition-delay(9s); }
      &.sct-active .col-4 .circ-sec3:before { opacity: 1; @include transition-delay(10s); }
  h3 { text-align: center; text-transform: uppercase; }
  .circ-ini { height: 120px; width: 120px; background: rgba($pink, 0.8); padding-top: 22px; text-align: center; margin: 0 40px; font-size: 0.8em;opacity:0.7;
      @include border-radius(200px); @include box-sizing(border-box); cursor: pointer;
    .circ-year { display: block; font-size: 1.5em; }
  }
  .circ-sec { width: 150px; height: 150px; background: rgba($pink, 0.8); box-shadow: 0 0 0 10px rgba($pink, 0.3); margin: 0 30px; position: relative; 
      z-index: 2; top: -18px; padding-top: 30px; font-size: 0.9em; text-align: center; @include transform(translateY(-115px) scale(0)); cursor: pointer;
      @include border-radius(200px); @include box-sizing(border-box); @include transition(all 1s);
    .circ-year { display: block; font-size: 1.8em; }
    &:before { opacity: 0; display: block; content: ''; position: absolute; top: -30px; left: -22px; background: url(../img/bg--mainsprite.png) no-repeat -531px -99px; height: 82px; width: 63px; }
  }
  .circ-sec2 { top: -36px; 
    &:before { background-position: -611px -99px; left: -6px; top: -40px; }
  }
  .circ-sec3 { top: -54px; 
    &:before { background-position: -611px -99px; left: -6px; top: -40px; }
  }
}

#sct-mostsales { color: white;
  .sales-left, .sales-right { float: left; width: 50%; position: relative; }
    .sales-left { width: 370px; margin-left: 28px; margin-right: 40px; }
    .sales-right { width: 370px; &:before{ background-position: -270px 0; } }
  .bl-sale { height: 180px; position: relative; @include transform(translateY(-2000px)); 
      &:before { display: block; content:''; background: url(../img/sp--sellers.jpg) no-repeat; height: 100%; width: 185px; position: absolute; z-index: -1; }}
    .graph-circ { background: $pink; width: 150px; height: 150px; float: right; margin-right: 50px; text-align: center; font-size: 0.8em;
        @include box-sizing(border-box); @include transform(scale(0.9)); @include transition(all 1s); padding-top: 22px; margin-top: 14px;
      span { display: block; font-size: 1.5em; margin: 7px 0; }
    }
  &.sct-active .bl-sale { @include transition(all 2s); @include transform(translateY(0)); }
    .bl-sale-2 { &:before { background-position: 0 -179px; } }
    .bl-sale-3 { &:before { background-position: 0 -359px; } }
    .bl-sale-4 { height: 340px;
      .govideo { top: 120px; }
       &:before { background-position: -270px 0; } 
      .bl-sale-ventas { bottom: 120px; width: 110%; right: -10px;
        span { font-size: 0.8em; }
    } }
    &.sct-active .bl-sale-1 { @include transition-delay(2s); }
    &.sct-active .bl-sale-2 { @include transition-delay(1s); }
    &.sct-active .bl-sale-3 { @include transition-delay(0s); }
    &.sct-active .bl-sale-4 { @include transition-delay(3s); }
  .bl-sale:hover .graph-circ { @include transform(scale(1)); }
     .bl-sale-2, .bl-sale-3 { .graph-circ { padding-top: 42px; } }
  .bl-sale-ventas { position: absolute; display: block; right: 20px; bottom: -10px; margin: 0; font-size: 1.2em; }
  .bl-sale-extra { width: 405px; height: 100px; background: url(../img/sp--sellers.jpg) no-repeat -200px -210px;
    clear: both; margin: 20px 0; position: relative; left: -40px; top: 55px; }
  .govideo { position: absolute; right: 150px; bottom: 0px; }
  .bl-texts { position: absolute; bottom: 140px; right: 20PX; width: 400px; text-align: right; font-size: 1.3em;
    .bl-text-1 { @include transform(translateX(5000px)); }
    .bl-text-2 { @include transform(translateX(5000px)); }
  }
  &.sct-active .bl-text-1 { @include transition(all 1s); @include transform(translateX(0)); @include transition-delay(5s); }
}

#sct-numbersspain-main { overflow: hidden; width: 824px; height: 700px; color: white; 
  .graph-circ { background: rgba($pink, 0.4); font-size: 1.1em; position: absolute; @include box-sizing(border-box); opacity: 0; }
    .g-circ-1 { height: 156px; width: 156px; text-align: center; padding-top: 46px; 
      span {font-size: 2em; } }
    .g-circ-2 { height: 100px; width: 100px; text-align: center; padding-top: 30px; font-size: 2em; left: 136px; }
    .g-circ-3 { height: 100px; width: 100px; text-align: center; padding-top: 30px; font-size: 2em; right: 136px; }
    .g-circ-4 { height: 156px; width: 156px; text-align: center; padding-top: 46px; right: 0; 
      span {font-size: 2em; }  }
    .g-circ-5 { position: absolute; left: 73px; top: 180px;  opacity: 0; @include transition(all 1s); }
    .g-circ-6 { position: absolute; right: 13px; top: 180px; opacity: 0; @include transition(all 1s); }
    &.sct-active .g-circ-5, &.sct-active .g-circ-6 { @include transition-delay(9s); opacity: 1; }
  &.sct-active .graph-circ { @include transition(all 1s); opacity: 1; }
    &.sct-active .g-circ-1 { @include transition-delay(4s); }
    &.sct-active .g-circ-2 { @include transition-delay(2s); }
    &.sct-active .g-circ-3 { @include transition-delay(6s); }
    &.sct-active .g-circ-4 { @include transition-delay(8s); }
  p { opacity: 0; @include transition(all 1s); }
}

#sct-firtswin { color: white; text-shadow: 0 3px 2px black;padding-top: 20px;

  .head { top: -15px; position: relative; }
  .cir1, .cir2, .cir3 {
    position:absolute; @include border-radius(130px); background:$pink;opacity:0.1;left:470px;top:50px;
    width:240px;height:240px;z-index:1; 
    }
  .cir2 {left:450px;top:150px;width:200px;height:200px;}
  .cir3 {left:530px;top:150px;width:250px;height:250px;}  
  .title { font-size: 1.6em; text-transform: uppercase; margin: 0; @include transition(all 1s); opacity: 0; }
    &.sct-active .title { opacity: 1; }
  .subtitle { opacity:0; font-size: 2em; @include transition(all 1s);  }
    &.sct-active .subtitle { opacity:1; @include transition-delay(1s); }

  .right { width: 290px; height: 560px; position: absolute; right: 50px; bottom: 0; background: url(../img/sp--first-win.png) no-repeat -238px 0;
      @include transform(translateX(500px));z-index:2;
    .circle { background: $pink; width: 150px; height: 150px; float: right; margin-right: 50px; text-align: center; font-size: 0.8em;
        @include box-sizing(border-box); @include transform(scale(0.9)); @include transition(all 1s); padding-top: 22px; margin-top: 14px; }
  }
  &.sct-active .right { @include transition(all 1s); @include transform(translateX(0)); @include transition-delay(2s); }

  .main-circ { width: 250px; height: 270px; position: absolute; top: 140px; left: 60px; background: url(../img/sp--first-win.png) no-repeat 20px -300px;
      @include transition(all 1s); opacity: 0;
    .circ-count { position: absolute; width: 160px; height: 20px; left: 90px; top: 130px; opacity: 0;
        @include transition(all 1s); z-index: -1; @include transform(translateX(0) translateY(0)); }
  }
  &.sct-active .main-circ { opacity:1;  @include transition-delay(3s); }
  &.sct-active .circ-count-0 { @include transform(translateX(0px) translatey(-20px)); opacity:1; @include transition-delay(2.8s); }  
  &.sct-active .circ-count-1 { @include transform(translateX(-30px) translatey(-140px)); opacity:1; @include transition-delay(3s); }
  &.sct-active .circ-count-2 { @include transform(translateX(160px) translatey(-80px)); opacity:1; @include transition-delay(3.2s); }
  &.sct-active .circ-count-3 { @include transform(translateX(170px) translatey(50px)); opacity:1; @include transition-delay(3.4s); }
  &.sct-active .circ-count-4 { @include transform(translateX(80px) translatey(142px)); opacity:1; @include transition-delay(3.6s); }
  &.sct-active .circ-count-5 { @include transform(translateX(-60px) translatey(142px)); opacity:1; @include transition-delay(3.8s); }
  &.sct-active .circ-count-6 { @include transform(translateX(-132px) translatey(45px)); opacity:1; @include transition-delay(4s); }
  &.sct-active .circ-count-7 { @include transform(translateX(-122px) translatey(-75px)); opacity:1; @include transition-delay(4.2s); }

  .txt-1 { position: absolute; bottom: 140px; right: 0; z-index:3; font-size: 1.1em; width: 320px; text-align: right; 
       @include transition(all 1s); @include transform(translateX(500px)); @include transition-delay(4s); }
    &.sct-active .txt-1 { @include transform(translateX(0)); }
  .txt-2 { position: absolute; bottom: 0; z-index:3; 
       @include transition(all 1s); @include transform(translateX(900px)); @include transition-delay(5s); }
    &.sct-active .txt-2 { @include transform(translateX(0)); }
}

#sct-viewallactions { color: white;
  h2 { font-size: 1.3em; }
  .tit { margin-left: 30px; margin-right: 14px; line-height: 1.6em; }
  .bl-vids-head { margin-bottom: 9px; height: 80px; margin-bottom: 20px; width: 100%; padding-right: 30px; @include box-sizing(border-box); }
  select { font-size: 0g2.9em; }
  .temazo { float: left; width: 245px; height: 250px; overflow: hidden; margin-right: 28px; }
  .bl-vids-wrap { overflow-y: hidden; height: 500px; width: 110%; }
  .bl-vids-vids { overflow: hidden; }
  .bl-vids-vid-wrap { height: 150px; overflow: hidden; font-size: 0.9em; margin-bottom: 5px; border: 1px solid rgba($pink,0.4); }
    .bl-vids-vid-wrap img { width: 100%; cursor: pointer; margin-top: -28px; }
  .bl-vids-vid-details span {font-size: 0.9em; }
  .bl-vids-vid-title { margin-bottom: 0.4em; }
  .butt { margin-right: 14px; }
    .butt.lowr-cas { text-transform: lowercase; font-size:0.9em; }
  .butt-up, .butt-down { display: block; height: 53px; width: 70px; background: url(../img/sp-icons.png) no-repeat -290px -10px;
      text-indent: -999px; overflow: hidden; margin-right: -10px; @include transform(scale(0.6)); @include transform-origin(0, 0); }
    .butt-up { background-position: -380px -1px; }
  .bl-vids-next, .bl-vids-prev { display: block; width: 46%; text-indent: -9999px; overflow: hidden; background: rgba($pink,0.4); float: left; margin: 0 1%;
    &:before { content: ''; display: block; height: 40px; width: 50px; 
      margin: 0 auto; background: url("../img/bg--mainsprite.png") -143px -40px no-repeat; }
    &:hover:before { background-position: -200px -39px; }
    &:hover { background: rgba($pink-bg,0.4); }
  }
  .bl-vids-prev { 
    &:before { background-position: -143px 0px; }
    &:hover { background: rgba($pink-bg,0.4); }
    &:hover:before { background-position: -200px -1px; }
  }
}

#sct-spainvoters {
  .textaco { position: absolute; z-index: 5; right: 20px; bottom: 20px; font-size: 1.1em; color: white;
      width: 211px; text-align: right; }
  .graph1 { width: 823px; height: 530px; position: relative; overflow: hidden; 
      background: url(../img/bg--shadow-diag.png) no-repeat bottom right; 
    #map3 { position: relative; top: -1px; left: -1px; }
      #map3 path { cursor: pointer; }
      #map3 path.hover:hover { stroke-width: 2px; }
    #map3Graph { position: absolute; top: 0; left: 0; pointer-events: none; }
  }
  #map3ttil { background: white; color: rgb(51, 51, 51); padding: 10px; font-size: 0.8em; line-height: 1.2em; width: 120px; }
  .moreinfo { display: block; float: right; margin-top: 20px; }
}
#sct-spainvotes { 
  .textaco { position: absolute; z-index: 5; right: 20px; bottom: 20px; font-size: 1.1em; color: white;
      width: 241px; text-align: right; }
  .graph1 { width: 823px; height: 530px; position: relative; overflow: hidden; 
      background: url(../img/bg--shadow-diag.png) no-repeat bottom right; 
    #map4 { position: relative; top: -1px; left: -1px; }
      #map4 path { cursor: pointer; }
      #map4 path.hover:hover { stroke-width: 2px; }
    #map4Graph { position: absolute; top: 0; left: 0; pointer-events: none; }
  }
  #map4ttil { background: white; color: rgb(51, 51, 51); padding: 10px; font-size: 0.8em; line-height: 1.2em; width: 120px; }
  .moreinfo { display: block; float: right; margin-top: 20px; }
}

#sct-numbersspain-main.sct-active p {  @include transition-delay(12s); opacity: 1; }

  .g-mazzy { width: 370px; position: absolute; padding: 0 20px; height: 490px; opacity: 0; z-index: 2; left: 140px; top: 50px; }
      #sct-numbersspain-main.sct-active .g-mazzy { @include transition(all 1s); opacity: 1; }
        #sct-numbersspain-main.sct-active .g-maz-elm { @include transition(all 1s); }
          #sct-numbersspain-main.sct-active .g-maz-elm-1 { 
            -webkit-animation: anim2 1s 6 alternate linear; -moz-animation: anim2 1s 6 alternate linear; animation: anim2 1s 6 alternate linear;}
          #sct-numbersspain-main.sct-active .g-maz-elm-2 {
            -webkit-animation: anim1 1s 6 alternate linear; -moz-animation: anim1 1s 6 alternate linear; animation: anim1 1s 6 alternate linear;}
          #sct-numbersspain-main.sct-active .g-maz-elm-3 {
            -webkit-animation: anim3 1s 6 alternate linear; -moz-animation: anim3 1s 6 alternate linear; animation: anim3 1s 6 alternate linear;  }
    .g-maz-elm { background: url(../img/sp--mazzy.png) no-repeat; position: absolute; @include transition(all 1s); }
    .g-maz-elm-1 { top: 10px; height: 110px; width: 100%; background-position: 0px -135px;  z-index: 2;
        @include transform(translateX(-20px) translateY(6px));
      .g-mazzy:hover & { @include transform(translateX(-3px) translateY(4px) rotate(-4deg)); }
    }
    .g-maz-elm-2 { top: 70px; height: 140px; width: 100%; background-position: 0 10px; 
        @include transform(translateX(-20px) translateY(6px)); 
      .g-mazzy:hover & { @include transform(translateX(0) translateY(0)); }
    }
    .g-maz-elm-3 { top: 90px; height: 230px; width: 100%; background-position: 0px -256px; z-index: 1;
        @include transform(rotate(-6deg)); @include transform-origin(50%, 100%);
      .g-mazzy:hover &  { @include transform(rotate(0)); }
    }
    .g-maz-elm-4 { top: 280px; height: 200px; width: 100%; background-position: -10px -530px; }

  .g-shalom { width: 315px; position: absolute; padding: 0 20px; height: 490px; right: 120px; top: 50px; opacity: 0; z-index: 1; }
      #sct-numbersspain-main.sct-active .g-sal-elm { @include transition(all 1s); }
        #sct-numbersspain-main.sct-active .g-shalom { @include transition(all 1s); opacity: 1; @include transition-delay(6s); }
          #sct-numbersspain-main.sct-active .g-sal-elm-1 { 
            -webkit-animation: animsalome1 1s 12 alternate linear; -moz-animation: animsalome1 1s 12 alternate linear; animation: animsalome1 1s 12 alternate linear;;}
          #sct-numbersspain-main.sct-active .g-sal-elm-2 { 
           -webkit-animation: animsalome2 1s 12 alternate linear; -moz-animation: animsalome2 1s 12 alternate linear; animation: animsalome2 1s 12 alternate linear;}
    .g-sal-elm { background: url(../img/sp--shalom.png) no-repeat; position: absolute; @include transition(all 1s); }
    .g-sal-elm-1 { height: 80px; width: 100%; background-position: 0px 5px; z-index: 2;
        @include transform(translateX(10px) translateY(19px) rotate(10deg));
      .g-shalom:hover & { @include transform(translateX(-10px) translateY(9px) rotate(-4deg)); }
    }
    .g-sal-elm-2 { top: 80px; height: 140px; width: 100%; background-position: 0 -80px; z-index: 2; left: 20px;
        @include transform(rotate(2deg)); @include transform-origin(45%, 134%);
      .g-shalom:hover & { @include transform(rotate(-3deg)); }
    }
    .g-sal-elm-4 { top: 180px; height: 320px; width: 100%; background-position: 0 -232px; }

@-webkit-keyframes animsalome2 {
  0%   { @include transform(rotate(2deg)); }
  100% { @include transform(rotate(-3deg)); }
}
@-moz-keyframes animsalome2 {
  0%   { @include transform(rotate(2deg)); }
  100% { @include transform(rotate(-3deg)); }
}
@-o-keyframes animsalome2 {
  0%   { @include transform(rotate(2deg)); }
  100% { @include transform(rotate(-3deg)); }
}
@keyframes animsalome2 {
  0%   { @include transform(rotate(2deg)); }
  100% { @include transform(rotate(-3deg)); }
}
@-webkit-keyframes animsalome1 {
  0%   { @include transform(translateX(10px) translateY(19px) rotate(10deg)); }
  100% { @include transform(translateX(-10px) translateY(9px) rotate(-4deg)); }
}
@-moz-keyframes animsalome1 {
  0%   { @include transform(translateX(10px) translateY(19px) rotate(10deg)); }
  100% { @include transform(translateX(-10px) translateY(9px) rotate(-4deg)); }
}
@-o-keyframes animsalome1 {
  0%   { @include transform(translateX(10px) translateY(19px) rotate(10deg)); }
  100% { @include transform(translateX(-10px) translateY(9px) rotate(-4deg)); }
}
@keyframes animsalome2 {
  0%   { @include transform(translateX(10px) translateY(19px) rotate(10deg)); }
  100% { @include transform(translateX(-10px) translateY(9px) rotate(-4deg)); }
}

@-webkit-keyframes anim1 {
  0%   { @include transform(translateX(-20px) translateY(6px)); }
  100% { @include transform(translateX(-3px) translateY(4px) rotate(-4deg)); }
}
@-moz-keyframes anim1 {
  0%   { @include transform(translateX(-20px) translateY(6px)); }
  100% { @include transform(translateX(-3px) translateY(4px) rotate(-4deg)); }
}
@-o-keyframes anim1 {
  0%   { @include transform(translateX(-20px) translateY(6px)); }
  100% { @include transform(translateX(-3px) translateY(4px) rotate(-4deg)); }
}
@keyframes anim1 {
  0%   { @include transform(translateX(-20px) translateY(6px)); }
  100% { @include transform(translateX(-3px) translateY(4px) rotate(-4deg)); }
}
@-webkit-keyframes anim2 {
  0%   { @include transform(translateX(-20px) translateY(6px)); }
  100% { @include transform(translateX(0) translateY(0)); }
}
@-moz-keyframes anim2 {
  0%   { @include transform(translateX(-20px) translateY(6px)); }
  100% { @include transform(translateX(0) translateY(0)); }
}
@-o-keyframes anim2 {
  0%   { @include transform(translateX(-20px) translateY(6px)); }
  100% { @include transform(translateX(0) translateY(0)); }
}
@keyframes anim2 {
  0%   { @include transform(translateX(-20px) translateY(6px)); }
  100% { @include transform(translateX(0) translateY(0)); }
}
@-webkit-keyframes anim3 {
  0%   { @include transform(rotate(-6deg)); }
  100% { @include transform(rotate(0)); }
}
@-moz-keyframes anim3 {
  0%   { @include transform(rotate(-6deg)); }
  100% { @include transform(rotate(0)); }
}
@-o-keyframes anim3 {
  0%   { @include transform(rotate(-6deg)); }
  100% { @include transform(rotate(0)); }
}
@keyframes anim3 {
  0%   { @include transform(rotate(-6deg)); }
  100% { @include transform(rotate(0)); }
}


#sct-spainstyle1 { overflow: hidden; width: 824px; height: 700px;

  .moreinfo { position: absolute; }

  &.sct-active .graph1 .graph-labl { opacity: 1; }
  &.sct-active .graph1 {
    .g1-balada { left: 180px; }
    .g1-flamenco { top: 254px;  }
    .g1-pop { left: 425px; }
    .g1-latin { left: 500px; top: 288px;  }
  }

  .graph1 { position: absolute; 

    .graph-circ { display: block; position: absolute; @include transition(all 2s ease-out); 
      background: rgba($pink, 0.8) url('../img/sp--stilos.png') no-repeat 0 0; }
      .g1-balada { left: -1380px; top: 50px; height: 285px; width: 285px; 
        background-position: 69px 80px;
        @include box-shadow(0 0 0 20px rgba($pink, 0.4)); }
      .g1-flamenco { left: 400px; top: -1504px; height: 105px; width: 105px; 
        background-position: -459px 26px;
        @include box-shadow(0 0 0 6px rgba($pink, 0.4)); }
      .g1-pop { left: 4425px; top: 40px; height: 250px; width: 250px; 
        background-position: -194px 49px;
        @include box-shadow(0 0 0 15px rgba($pink, 0.4));  }
      .g1-latin { left: 500px; top: 4288px; height: 55px; width: 55px; 
        background-position: -597px -3px;
        @include box-shadow(0 0 0 2px rgba($pink, 0.4));  }

    .graph-labl { font-size: 0.9em; position: absolute; width: 120px; opacity: 0; @include transition(opacity 1s); 
      &:before{ display: block; content: ''; position: relative; height: 1px; background: $grey; width: 100px; width: 200px; top: 10px; }
    }
      .g1-lbl-balada { top: 260px; left: 53px; @include transition-delay(3s); 
        &:before { left: 110px; width: 60px; }
      }
      .g1-lbl-flamenco { top: 300px; left: 50px; @include transition-delay(3.4s); 
        &:before { left: 120px; width: 250px; }
      }
      .g1-lbl-pop { top: 260px; left: 705px; @include transition-delay(4s); 
        &:before { left: -105px; width: 100px; }
      }
      .g1-lbl-latin { top: 300px; left: 700px; @include transition-delay(4.4s); 
        &:before { left: -155px; width: 150px; }
      }

  }

  .graph2 { position: absolute; top: 350px; left: 0; width: 1200px;
    .legend { position: absolute; bottom: -20px; width: 820px; color: white; font-size: 0.8em; }
    .path-fill { fill: rgba(254, 41, 121, 0.1); }
    .path-line { fill: none; stroke: $pink; stroke-width: 1px; }
    .g2-hover, text { opacity: 0; cursor: pointer; }
    .g2-line-hidden { opacity: 0; @inlcude transition(opacity 1s); }
    .graph-ref, .text-act { opacity: 0.8; }
    text { fill: white;width: 100px; text-align: center; stroke: none; }
    .small { font-size: 0.7em; fill: $pink; }
  }
}
html #everything #sct-whovoteswho .reg-act-M .reg-M, 
html #everything #sct-whovoteswho .reg-act-M .c-España { fill: #324e4c; }
#sct-whovoteswho .graph1 div#map2 path.reg-M { fill: #324e4c; }
#sct-whovoteswho { height: 530px; padding-top: 45px;

  .textsss { position: absolute; color: white; z-index: 2; width: 24%; top: 30px; font-size: 1.4em; }
  .textss { position: absolute; color: white; z-index: 2; width: 96%; bottom: -10px; font-size: 0.9em; }
    .reg-act .textsss, .reg-act .textss { display: none; }
  
  .moreinfo { position: absolute; top: 10px; left: 10px; z-index: 2; }

  .graph1 { width: 823px; height: 530px; position: relative; overflow: hidden; 
      background: url(../img/bg--shadow-diag.png) no-repeat bottom right; 
    #map2 { position: relative; top: -1px; left: -1px; }
      #map2 path.hover { cursor: pointer; @include transition(all 1s); }
      &:reg-act path.hover { stroke: rgba(255,255,255,0.4); stroke-width: 1px; }
      #map2 path {
        &.reg-E { fill: #8E4072; }
        &.reg-N { fill: #7C7B43; }
        &.reg-B { fill: #8A5B34; }
        &.reg-BF, &.reg-M { fill: #324e4c; }
        &.none { fill: none; stroke: rgba(255,255,255,0.4); stroke-width: 1px; }
      }
      &.reg-act #map2 path { fill: none; stroke: rgba(255,255,255,0.4); stroke-width: 1px; }
  }
  .reg-act-E .reg-E { fill: #8E4072!important; }
  .reg-act-N .reg-N { fill: #7C7B43!important; }
  .reg-act-B .reg-B { fill: #8A5B34!important; }
  .reg-act-BF .reg-BF, .reg-act-M .reg-M { fill: #324e4c; }
  .c-Portugal, .c-Grecia, .c-Azerbaiyán, .c-Albania, .c-Bulgaria { fill: none!important; stroke-width: 1px!important; stroke: rgba(255,255,255,0.4)!important;  }
  #map2 path.hover:hover, #map2 path.act { stroke: rgba(255,255,255,0.3); stroke-width: 1px;  }

  .reg-act .hover { fill: none; }
    .reg-act-BF .reg-BF, .reg-act-N .reg-N, .reg-act-M .reg-M, .reg-act-E .reg-E, .reg-act-B .reg-B { fill: rgba(0,0,0,0.7); }

  .txts { position: absolute; font-size: 1.6em; bottom: 20px; @include transform(translateX(-900px)); color: white; }
    .reg-act-BF .text-BF, .reg-act-N .text-N, .reg-act-M .text-M, .reg-act-E .text-E, .reg-act-B .text-B { @include transform(translateX(0));
        @include transition(all 1s); }  
      .text-E { font-size: 2.2em; left: 40px; }
      .text-N { right: 40px; width: 40%; font-size: 1.4em; text-align: right; left: inherit; }
      .text-BF { font-size: 1.1em; width: 50%; }

  .geottip { display: none; width: 340px; background: #B02E64; @include box-shadow(0 0 0 8px #6E2D48);
    &:before { display: none; }
    .col-l { width: 110px; }
    .col-l a { display: block; text-decoration: none; color: white; padding: 3px 0 2px 0; border-bottom: 1px solid white; width: 100px;}
    .col-r { padding: 15px; width: 230px; }
    .tit { text-transform: uppercase; font-family: 'RTVEfontSansB'; margin-bottom: 10px; }
    .text-ini {  }
    .texts .text { display: none; }
    .closeGeottip { text-decoration: none; font-weight: 800; background: #fe2979; color: white; padding: 5px 8px;
      border-radius: 40px; font-size: 1em; position: absolute; right: 8px; top: 7px; }
    .act { text-shadow: 2px 2px 3px black; }
  }

  .geottip2 { width: 260px; background: #00D38C; @include box-shadow(0 0 0 8px #00825e); z-index: 30;
    .col-l { width: 80px;
      span { display: block; font-size: 1.1em; }
    }
    .col-r { width: 180px; min-height: 200px; }
  }
  .reg-act-BF .geottip-BF, .reg-act-N .geottip-N, .reg-act-M .geottip-M, .reg-act-E .geottip-E, .reg-act-B .geottip-B { display: block; }
  .geottip-N { left: 20px; top: 240px; }
  .geottip-E { top: 30px; left: 10px; }
  .geottip-M { right: 20px; left: inherit; top: 240px; }
  .geottip-B { left: 20px; top: 20px; }
  .geottip-BF { right: 20px; left: inherit; top: 240px; }
}

.mapttip { display: none; position: absolute; top: 0; left: 0; width: 340px; background: #00D38C; cursor: pointer; z-index: 5; font-size: 0.9em;
    @include box-shadow(0 0 0 8px #00825E); @include border-radius(5px); 
  &:before { content: ''; display: block; height: 120%; width: 120%; position: absolute; top: -10%; left: -10%; }

  .goNOvideo { position: absolute; right: 10px; bottom: -2px; }
  .close-ttip { position: absolute; color: white; background: $pink; right: 5px; top: 5px; border-radius: 20px; padding: 6px 11px; }
  .col-l { width: 87px; @include box-sizing(border-box); padding: 12px 5px; color: white; text-transform: uppercase; line-height: 1.1em; text-align: center; font-size: 0.9em; }
    .ttip-wins-val, .ttip-wins2 { margin-bottom: 10px; border-bottom: 1px solid white; padding-bottom: 5px; }
  .col-r { width: 250px; background: white; @include box-sizing(border-box); padding: 5px 15px; color: #333; min-height: 260px;
    h2 { font-size: 1em; font-weight: 900; padding-bottom: 0.1em; padding-top: 0.2em; width: 87%; }
    .ttip-winner { margin-bottom: 8px; }
    img { display: block; width: 100%; height: auto; }
    .ttip-partis { margin-bottom: 8px; margin-top: 8px; 
      a { text-decoration: none; color: $pink; display: inline-block; font-size: 0.8em; } 
    }
  }
}

#sct-mostwins-main { height: 530px; padding-top: 45px; overflow: hidden;
  .head { position: absolute; }

  .graph1 { width: 823px; height: 530px; position: relative; overflow: hidden; 
      background: url(../img/bg--shadow-diag.png) no-repeat bottom right; 
    #map { position: relative; top: -1px; left: -1px; }
      #map path { cursor: pointer; }
      #map path.hover:hover { stroke-width: 2px!important; }
  }

  .wrap-circs { height: 80px; width: 600px; position: absolute; top: 0px; right: -1000px; z-index: 2; padding-right: 101px;
    .graph-circ { height: 60px; width: 60px; padding-top: 24px; cursor: pointer; box-shadow: 0 0 0px 6px rgba($pink, 0.4);
      &:before { display: none!important; }
    }
  }
  .graph-circ:hover .wrap-circs { @include transition(all 1.5s); right: 0; }
  .g2-circ-1 .wrap-circs { top: -6px; width: 500px; }
  .g2-circ-2 .wrap-circs { top: -12px; width: 500px; padding-right: 80px; }
  .g2-circ-3 .wrap-circs { top: -12px; width: 500px; padding-right: 80px; }
  .g2-circ-4 .wrap-circs { top: -12px; width: 500px; padding-right: 80px; }
  .g2-circ-5 .wrap-circs { top: -16px; width: 500px; padding-right: 60px; }
  .g2-circ-6 .wrap-circs { top: -26px; width: 500px; padding-right: 60px; }
  .g2-circ-7 .wrap-circs { top: -26px; width: 500px; padding-right: 60px; }
  .g2-circ-8 .wrap-circs { top: -26px; width: 500px; padding-right: 60px; }
  .g2-circ-9 .wrap-circs { top: -26px; width: 160px; padding-right: 50px; }
  .g2-circ-10 .wrap-circs { top: -26px; width: 160px; padding-right: 50px; }
  .g2-circ-11 .wrap-circs { top: -26px; width: 160px; padding-right: 50px; }


  .graph2 { height: 410px; width: 250px; position: absolute; bottom: 0; right: 0; color: white;
    .g2-tit { position: absolute; bottom: 0; }
    .g2-wrap { position: absolute; bottom: 50px; height: 0; width: 270px; right: 0; }
      .g2-circs { padding-right: 40px; }
        .graph-circ { float: right; background: rgba($pink, 0.9); margin: 10px; text-align: center; @include box-sizing(border-box); position: relative;
            text-transform: uppercase; font-size: 0.9em;
          &:before { content: ''; height: 60px; width: 1px; position: absolute; top: 50%; left: 50%; background: rgba(200,200,200,0.4); z-index: -1; display: block; }
          &:after { content: ''; height: 1px; width: 60px; position: absolute; top: 50%; right: 50%; background: rgba(200,200,200,0.4); z-index: -1; display: none; }
        }
        .g2-circ-3:before, .g2-circ-4:before, .g2-circ-8:before, .g2-circ-7:before, .g2-circ-8:before, .g2-circ-9:before, , .g2-circ-10:before, .g2-circ-11:before { display: none; }
        .g2-circ-2:after, .g2-circ-6:after, .g2-circ-3:after, .g2-circ-7:after, .g2-circ-9:after, .g2-circ-10:after { display: block; }
          .g2-circ-1, .g2-circ-2, .g2-circ-5, .g2-circ-6, .g2-circ-9 { clear: right }
      .g2-labls { position: absolute; right: 20px; top: 37px; 
        .g2-lbl { padding: 3px; }
      }

  }
  &.sct-active .graph2 .g2-wrap { height: 430px; @include transition(all 4s ease-in-out); }
}

#tpl-video { position: absolute; left: 0; top: 0; width: 100%; background: $grey-bg; height: $alto-frame; color: white;
  h2 { display: inline-block; background: $pink; margin-bottom: 5px; font-size: 1.1em; padding: 5px; color: white; }
  .bl-vid-head { height: 50px; @include box-sizing(border-box); padding: 10px; }
  .bl-vid-artis, .bl-vid-song { display: inline-block; background: white; color: $pink; font-size: 1.1em; padding: 5px; float: left; clear: left; }
  .closevideo { text-decoration: none; font-weight: 800; background: $pink; color: white; padding: 7px 13px; border-radius: 40px; font-size: 1.2em; 
      position: absolute; right: 0; top: 0; }
}

#sct-higherbeatings { color: white;
  .graph { background: url(../img/bg--palizas.png) no-repeat center center; height: 560px; margin-top: 20px; position: relative; }
    .g-cirscbot,.g-cirsctop { width: 100; height: 300px; overflow: hidden; position: relative; }
    .graph-circ { display: block; position: absolute; @include transition(all 4s ease-out); background: rgba($pink, 0.8); border: 1px solid rgba(100,100,100,0.4); z-index: 9; 
        color: white; font-size: 1.1em; text-align: center; line-height: 1em; padding-top: 40px; @include box-sizing(border-box); opacity: 1; cursor: pointer;
    }
    .graph-circ-medi { padding-top: 20px; font-size: 0.9em; }
    .graph-circ-small span { position: relative; bottom: -50px; font-size: 0.8em; width: 140%; left: -20%; text-align: center; display: block; }
      .g-cirsctop .graph-circ-small span { top: -60px; }
    .g-tits1 { position: absolute; top: 0; 
      .g-tit { width: 164px; text-align: center; display: block; float: left; font-size: 0.9em; position: relative;
        &:before { content: ''; display: block; height: 500px; position: absolute; width: 1px; background: rgba(255,255,255,0.1); left: 246px; top: 30px; }
      }
    }
    .g-tits2 { position: absolute; top: 293px; 
      .g-tit { width: 164px; text-align: center; display: block; float: left; font-size: 0.9em; }
    }
}

#sct-spainstyle2 { overflow: hidden; margin-top: -50px; padding-bottom: 40px;

  .moreinfo { display: block; position: absolute; right: 20px; bottom: 20px; }
  .bl-sct-extra { padding-top: 60px; }
  .closeextra { top: 50px; }

  &.sct-active .graph1 .g1-circles .graph-circ { opacity: 1; }
  &.sct-active .graph1 .g1-graphs {
    .g1-g1 { @include transform(rotate(0deg)); }
    .g1-g2 { @include transform(translateY(0)); }
    .g1-g3 { @include transform(translateY(0)); }
    .g1-g4 { @include transform(translateY(0)); }
    .g1-g5 { @include transform(translateY(0)); }
  }
  .graph1 { 
    .g1-circles { position: absolute; top: 0;
      .graph-circ { display: block; position: absolute; @include transition(all 1s ease-out); background: rgba($pink, 0.9); border: 1px solid rgba(100,100,100,0.4); z-index: 9; 
          color: white; font-size: 1.8em; text-align: center; line-height: 1em; padding-top: 40px; @include box-sizing(border-box); opacity: 0; 
        span { font-size: 1.5em; display: block; line-height: 1em; }
      }
      .g2-circ-0 { top: 445px; left: 5px; @include transition-delay(2s); }
      .g2-circ-1 { top: 330px; left: 150px; @include transition-delay(4s); }
      .g2-circ-2 { left: 350px; top: 400px; font-size: 1em; padding-top: 20px; @include transition-delay(6s); }
      .g2-circ-3 { left: 530px; top: 500px; font-size: 1em; padding-left: 20px; padding-right: 20px; padding-top: 20px; @include transition-delay(8s); }
    }
    .g1-graphs {
      .g1-graph { display: block; position: absolute; background: url('../img/sp--musicos.png') no-repeat; @include transition(all 2s ease-out); }
        .g1-g1 { height: 460px; width: 238px; bottom: 10px; left: 10px; background-position: 0px 10px; @include transition-delay(0s); 
            @include transform-origin(0%, 100%); @include transform(rotate(90deg)); }
        .g1-g2 { height: 235px; width: 126px; bottom: 40px; left: 180px; background-position: -239px -192px; @include transition-delay(4s); 
            @include transform(translateY(500px));}
        .g1-g3 { height: 260px; width: 110px; bottom: 10px; left: 291px; background-position: -369px -196px; 
            @include transition-delay(2s); @include transform(translateY(500px)); }
        .g1-g4 { height: 200px; width: 130px; bottom: 40px; left: 400px; background-position: -490px -202px; @include transition-delay(4s); 
            @include transform(translateY(500px));}
        .g1-g5 { height: 230px; width: 220px; bottom: 100px; left: 240px; background-position: -650px -200px; @include transition-delay(6s); 
            @include transform(translateY(-800px));}
    }
  }
  .graph2 { position: absolute; top: 0; width: 330px; height: 315px; right: 0;
    .g1-circles { position: absolute; top: 0; right: 200px; height: 100%; }
      .graph-circ { display: block; position: absolute; @include transition(all 2s ease-out); background: rgba($pink, 0.3); border: 1px solid rgba(100,100,100,0.4);
        span { position: absolute; right: -200px; text-align: right;
          &:before{ display: block; content: ''; position: relative; height: 1px; background: $grey; width: 150px; top: 10px; right: 147px; }
        }
      }
      .g2-circ-6 { bottom: -100px!important; }
      .g2-circ-6 span { top: 30px; }
      .g2-circ-2 span { padding-top: 14px; }
      .g2-circ-5 span:before, .g2-circ-6 span:before { width: 70px; top: 10px; right: 77px; }
      .g2-circ-5 span { top: 10px; right: -217px; }
      .g2-circ-4 span:before { right: 117px; width: 120px; }
      .g2-circ-3 span:before { width: 150px; right: 116px; }
  }
}

#sct-drawsinhistory { color: white;
  p.p-top { position: absolute; left: 70px; font-size: 1em; text-transform: uppercase; }
  p.p-bottom { position: absolute; left: 70px; bottom: 0; font-size: 1em; text-transform: uppercase; }

  .graphs { width: 300px; height: 100%; float: left; }
    .circ { width: 130px; height: 130px; background: rgba($pink, 0.6); text-align: center; padding-top: 48px; font-size: 0.9em; cursor: pointer;
        @include border-radius(300px); @include box-sizing(border-box); @include transform(translateX(-500px));
        @include box-shadow(0 0 0 10px rgba($pink, 0.3)); 
      span { display: block; font-size: 1.2em; }
    }
      &.sct-active .circ { @include transform(translateX(0)); }
    .circ-sec { width: 130px; height: 130px; padding-top: 30px; position: absolute; cursor: pointer; }
      .circ-1 { margin-left: 100px; margin-bottom: 210px; margin-top: 45px; padding-top: 35px; }
      .circ-2 { top: 130px; left: 20px; }
      .circ-3 { top: 130px; left: 180px; }
      .circ-4 { top: 220px; left: 100px; }
      .circ-5 { margin-left: 140px; padding-top: 30px; }
      .circ-6 { left: 44px; top: 404px; width: 92px; height: 92px; @include box-shadow(0 0 0 5px rgba($pink, 0.3)); }
    &.sct-active {
      .circ-1 { @include transition(all 1s);@include transform(translateX(0)); }
      .circ-2 { @include transition(all 1s); @include transition-delay(1s); @include transform(translateX(0));}
      .circ-3 { @include transition(all 1s); @include transition-delay(1.4s); @include transform(translateX(0));}
      .circ-4 { @include transition(all 1s); @include transition-delay(1.8s); @include transform(translateX(0));}
      .circ-5 { @include transition(all 1s); @include transition-delay(3s); @include transform(translateX(0));}
      .circ-6 { @include transition(all 1s); @include transition-delay(3.4s); @include transform(translateX(0));}
    }
  .texts { width: 450px; float: right; text-align: right; padding-top: 20px;
      p { @include transform(translateX(500px)); } 
      .p2, .p3, .p4 { @include transform(translateY(1000px)); }
    }
    .p1 { font-size: 1.2em;  @include transition(all 1s); @include transform(translateX(0)); width: 110%; position: relative; right: 10%;}
    .p2 { @include transition(all 1s); @include transition-delay(3s); @include transform(translateY(0)); }
    .p3 { @include transition(all 1s); @include transition-delay(5s); @include transform(translateY(0)); }
    .p4 { @include transition(all 1s); @include transition-delay(7s); @include transform(translateY(0)); }
      &.sct-active .texts p { @include transform(translateX(0)); }
}
 

#sct-mostzeros-main { color: white;
  .head { position: absolute; top: 20px; }
  .title2 { font-size: 1.1em; width: 250px; margin-top: -24px; margin-left: 100px; @include transform(translateX(-400px)); @include transition(all 1s); }
      &.sct-active .title2  {  @include transform(translateX(0)); @include transition-delay(5s); }
  .graph { position: absolute; width: 100%; top: 0; color: white; background: url(../img/bg--shadow-big5.png) no-repeat top right;}
  .hvr { opacity: 0; position: absolute; z-index: 1; height: 100%; width: 100%; top: -50px; left: 0; background: rgba($grey-bg,0.8); 
       pointer-events: none; }
    &.hover .hvr { opacity: 1; @include transition(all 2s ease-out); }
  .graph-circ { background: rgba($pink, 0.9); position: absolute; @include box-shadow(0 0 0 10px rgba($pink, 0.4)); @include box-sizing(border-box);
      text-align: center; color: white; z-index:0; padding-top:10px;}
  .govideo2.graph-circ { background: rgba(white, 0.8);  position: absolute; @include box-shadow(0 0 0 10px rgba($pink, 0.4)); @include box-sizing(border-box);
      text-align: center; color: $pink; font-weight:800; z-index:0; padding-top:14px;}

  .graph-circ-main { @include transform(translatey(-700px)); }
    &.sct-active .graph-circ-main { @include transform(translatey(0)); }
    .graph-circ-main:hover { z-index: 2; }
  .graph-circ-hid { position: absolute; cursor: pointer; left: 0; top: 0; bottom: 0; opacity: 0; width: 50px; height: 50px; padding-top: 15px; margin-top: -14px; }
    .graph-circ-main:hover .graph-circ-hid { opacity: 1; }
    .graph-circ-main:hover .hvr { opacity: 1; }
  .graph-circ-main:hover .hvr-sct { display: block; }
  .graph-bar-wrap { padding-top: 65px; padding-left:200px; font-size: 0.9em; }
    .graph-bar { border-top: 1px solid rgba(255,255,255,0.4); width:550px; height: 85px; position: relative; }
    .graph-bar-tit { position: absolute; right: -30px; top: -10px; text-align: center; width: 20px; display: block; }
  .graph-texts { position: absolute; right: 20px; top: 66px; width: 320px; text-align: right; font-size: 1.1em; text-shadow: 1px 3px 2px black; }
    .graph-text { @include transform(translateX(400px)); @include transition(all 2s ease-out);  }
      &.sct-active .graph-text {  @include transform(translateX(0)); }
      .graph-text-1 { @include transition-delay(3s); }
      .graph-text-2 { @include transition-delay(5s); }
      .graph-text-3 { @include transition-delay(7s); padding-left: 50px; display: block; }
  .title { font-size: 0.9em; margin-top:-50px;margin-bottom:50px; margin-left: 30px; } 
  .title1 { font-size: 0.9em; margin-top:0px;margin-bottom:50px; margin-left: 40px; }        
  .temazo2 { float: left; width: 225px; height: 175px; overflow: hidden; margin-left: 30px; margin-right: 0px; margin-top:-30px;
      .bl-vids-vid-title  {margin-bottom:5px;}
      .bl-vids-vid-title-details{ background:#b02e64; color:white; padding:5px; margin:0; height:45px; width:100% }
      .bl-vids-vid-title:after {content: ', 0 puntos';}      
      .bl-vids-vid-wrap {margin-top:-10px; 
        img { width: 225px; height: 130px; overflow: hidden; }
        a { position:absolute;margin-left:170px;margin-top:-70px;z-index:9}
      }
  }
}

#sct-mostseconds { color: white;

#sct-mostseconds .graph-circ-1:hover .hvr-sct{display:block!important}
  .head {
    .firsts { text-align: center; border-bottom: 1px solid white; padding-bottom: 7px; margin-bottom: 12px; padding-right: 80px; text-transform: uppercase; }
    h2 { padding: 0; text-align: center; padding-right: 71px; color: $pink; text-transform: uppercase; font-size: 0.9em; }
    .title { font-size: 0.9em; }
  }
  .graph { position: absolute; width: 100%; top: 26px; background: url(../img/bg--shadow.png) no-repeat center center;}
  .hvr { opacity: 0; position: absolute; z-index: 1; height: 120%; width: 100%; top: 0; left: 0; background: rgba($grey-bg,0.8); 
       pointer-events: none; }
    &.hover .hvr { opacity: 1; @include transition(all 2s ease-out); }

  .graph-circ-main .hvr-sct { position: absolute; display: none; }
    .graph-circ-main:hover .hvr-sct { display: block; }

  .graph-circ { background: rgba($pink, 0.9); position: absolute; @include box-shadow(0 0 0 10px rgba($pink, 0.4)); @include box-sizing(border-box);
      text-align: center; color: white; z-index:0; }
  .graph-circ-main { @include transform(translatey(-700px)); }
    &.sct-active .graph-circ-main { @include transform(translatey(0)); }
    .graph-circ-main:hover { z-index: 2; }
  .graph-circ-hid { position: absolute; cursor: pointer; left: 0; top: 0; bottom: 0; opacity: 0; width: 50px; height: 50px; padding-top: 15px; margin-top: -14px; }
    .graph-circ-main:hover .graph-circ-hid { opacity: 1; }
    .graph-circ-main:hover .hvr { opacity: 1; }

  .graph-bar-wrap { padding-top: 96px; }
    .graph-bar { border-top: 1px solid rgba(255,255,255,0.4); height: 29px; margin-left: 50px; position: relative; }
    .graph-bar-tit { position: absolute; left: -40px; top: -8px; text-align: center; width: 20px; display: block; }
  .graph-texts { position: absolute; right: 20px; top: 66px; width: 320px; text-align: right; font-size: 1.1em; text-shadow: 1px 3px 2px black; }
    .graph-text { @include transform(translateX(400px)); @include transition(all 2s ease-out);  }
      &.sct-active .graph-text {  @include transform(translateX(0)); }
      .graph-text-1 { @include transition-delay(3s); }
      .graph-text-2 { @include transition-delay(5s); }
      .graph-text-3 { @include transition-delay(7s); padding-left: 50px; display: block; }
      .graph-text-4 { @include transition-delay(9s); padding-left: 50px; display: block; }      
}

#sct-neverlostfestival { color: white;
  .head {
    .firsts { text-align: center; border-bottom: 1px solid white; padding-right: 80px; text-transform: uppercase; }
    h2 { padding: 0; text-align: center; padding-right: 71px; color: $pink; text-transform: uppercase; font-size: 0.9em; padding-bottom: 15px; }
    .title { font-size: 0.9em; }
  }
  .graph { position: absolute; width: 100%; top: 26px; background: url(../img/bg--shadow.png) no-repeat center center;}
  .hvr { opacity: 0; position: absolute; z-index: 1; height: 120%; width: 100%; top: 0; left: 0; background: rgba($grey-bg,0.8); 
       pointer-events: none; }
    &.hover .hvr { opacity: 1; @include transition(all 2s ease-out); }
  .graph-circ { background: rgba($pink, 0.9); position: absolute; @include box-shadow(0 0 0 7px rgba($pink, 0.4)); @include box-sizing(border-box);
      text-align: center; color: white; z-index:0; }
  .graph-circ-main { @include transform(translatey(-700px)); }
    &.sct-active .graph-circ-main { @include transform(translatey(0)); }
    .graph-circ-main:hover { z-index: 2; }
  .graph-circ-hid { position: absolute; cursor: pointer; left: 0; top: 0; bottom: 0; opacity: 0; width: 50px; height: 50px; padding-top: 15px; }
    .graph-circ-main:hover .graph-circ-hid { opacity: 1; }
    .graph-circ-main:hover .hvr { opacity: 1; }
  .graph-circ-main .hvr-sct { position: absolute; display: none; }
    .graph-circ-main:hover .hvr-sct { display: block; }
  .graph-bar-wrap { padding-top: 117px; }
    .graph-bar { border-top: 1px solid rgba(255,255,255,0.4); height: 21px; margin-left: 50px; position: relative; }
    .graph-bar-tit { position: absolute; left: -40px; top: -8px; text-align: center; width: 20px; display: block; }
  .graph-texts { position: absolute; right: 20px; top: 66px; width: 320px; text-align: right; font-size: 1.1em; text-shadow: 1px 3px 2px black; }
    .graph-text { @include transform(translateX(400px)); @include transition(all 2s ease-out);  }
      &.sct-active .graph-text {  @include transform(translateX(0)); }
      .graph-text-1 { @include transition-delay(3s); }
      .graph-text-2 { @include transition-delay(5s); }
}
 /* pantallas especiales */
#sct-mostwins, #sct-numbersspain, #sct-mostscored, #sct-mostzeros { width: 1200px; height: 640px; z-index: 2;
    background: #2c2c2c url(../img/img--noruega.jpg) no-repeat left center; text-shadow: 1PX 1PX 1px black;
  .butt { position: absolute; right: 0; top: 0; color: white; background: $pink;
    @include border-radius(3px); padding: 10px 30px; box-shadow: 0 0 0 5px $pink-bg;
  }
  .circ { height: 190px; width: 190px; position: absolute; left: 70px; top: 160px;
      font-size: 2em; @include box-sizing(border-box); @include border-radius(200px); @include transform(translateX(-500px));
      background: $pink; color: white; text-align: center; padding-top: 50px;
    span { display: block; font-size: 2em; line-height: 0.7em; }
  }
  &.sct-active .circ { @include transition-delay(1s); @include transition(all 2s ease-out); @include transform(translateX(0)); }

  .wrap-right { width: 580px; height: auto; float: right; color: white; margin-top: 90px;
    h2 { font-size: 2em; padding-bottom: 0.4em; }
    p { font-size: 1em; }
  }
    .video-processed { width: 100%; height: auto; border: 2px solid white; }
}
#sct-mostzeros { background: #2c2c2c url(../img/img--ridiculo.jpg) no-repeat left center; 
  .circ { padding-top: 66px; span { font-size: 1.4em; } }
}
#sct-mostscored { background: #2c2c2c url(../img/img--noruega.jpg) no-repeat left center; }
#sct-numbersspain { background: #2c2c2c url(../img/img--ridiculo-espana.jpg) no-repeat left center; }
#sct-mostwins { background: #2c2c2c url(../img/img--mejor.jpg) no-repeat left center; 
  .circ { padding-top: 65px; span { font-size: 1.5em; } }
}

#sct-mostscored2 {
  .ttip-mini { display: none;width: 240px; height: 40px; position: absolute; color: white; font-size: 0.8em; z-index: 10; 
    &.left { text-align: right; }
  }

  svg{ width:900px;height:600px; position: relative; top: 2px;
    text {
      font-family: 'RTVEfontSansR'; text-anchor:middle; fill:#fff; font-size:30px;
      &.dosct { font-size:105px; fill:#000; opacity:0.1 }
      &.cien { font-size:85px; fill:#000; opacity:0.1 }  
      &.points { font-size:15px; fill:#fff; font-family:'RTVEfontSansR'; }
      &.link_vid { cursor:pointer; font-size:25px; fill:#fff; font-family:'RTVEfontSansR'; }
    
    }
    path { cursor:pointer;}
    line { stroke:#fff; opacity:0 }
    circle { r: 0; fill:$pink; opacity:0 }
  }
  div { 
    &.irlanda{ position:absolute;text-align:center;font-family:'RTVEfontSansR'; z-index:9999; opacity:0.9; background:transparent;right:183px; top:50px; width:182px;font-size:25px; opacity:1;color:white}
    &.monaco{ position:absolute;text-align:center;font-family:'RTVEfontSansR'; z-index:9999; opacity:0.9; background:transparent;right:30px;top:90px;font-size:20px; color:white;opacity:1;}    
  } 
}


#container-menu-bottom{ position: fixed; bottom: 0; left: 0; z-index: 9999; width: 100%; height: 45px; background: black;
  
  ul { margin: 0 auto; width: 680px; text-align: center; }

  li{ display:inline-block; width:18px; height:18px; margin:5px;

    a.goto-link{ margin:10px; width:18px; height:18px; @include border-radius(9px); background-color:$grey;}
    a.goto-link.act{ margin:10px; width:18px; height:18px; @include border-radius(9px); background-color:$pink;}
  }

  .t-tip { position: relative; display: block;  }
  .t-tip-wrap { position: absolute; bottom: 30px; left: 50%; width: 210px; margin-bottom:0px; text-indent: 0; }
  .t-tip-elm { background-color:#fff; color: rgb(0,0,0); font-size:0.8em; padding: 7px; position: relative; left: -105px; @include border-radius(3px)}
  .t-tip-elm:before { content: ''; position:absolute; bottom:-10px; left:95px; width:0; height:0; 
      border-left:10px solid transparent; border-right:10px solid transparent; border-top:10px solid #fff; }
}
