<div id="sct-credits" class="bl-numbersspain bl-sct sct-vid" data-url="">
  <h2>CRÉDITOS</h2>
  <p>Guión: Miriam Hernanz y Arturo Paniagua <br>
  Diseño: Ismael Recio <br>
  Realización: Miguel Campos y César Vallejo <br>
  Desarrollo: Equipo de tecnología de RTVE.es<br>
  Coordinación: Charo Marcos<br>
  </p>
  <p style="width: 50%;margin: 0 auto; font-size: 0.8em;">Si tienes alguna reclamación de derechos por el uso de estos vídeos, ponte en contacto lab.irtve@rtve.es<br><br> If you have any complaint about videos copyright, keep in touch lab.irtve@rtve.es</p>
</div>