<div id="sct-drawsinhistory" class="bl-drawsinhistory bl-sct sct-vid" data-url="">

  <div class="graphs">

    <p class="p-top">1969 - empate a 18 votos</p>

    <div class="circ govideo2 circ-main circ-1" data-year="1969" data-country="España">
      <span>España</span>
      "Vivo cantando"<br>Salomé
    </div>
    <div class="circ circ-sec govideo2 circ-2" data-year="1969" data-country="Países Bajos"><span>Holanda</span>Lenny Kuhr<br>De Troubadour</div>
    <div class="circ circ-sec govideo2 circ-3" data-year="1969" data-country="Francia"><span>Francia</span>Un Jour, Un Enfant <br>Frida Boccara</div>
    <div class="circ circ-sec govideo2 circ-4" data-year="1969" data-country="Reino Unido"><span>Reino Unido</span>Boom Bang-a-bang<br>Lulu</div>

    <p class="p-bottom">1991 - empate a 146 votos</p>

    <div class="circ govideo2 circ-main circ-5" data-year="1991" data-country="Suecia">
      <span>Suecia</span>
      "Fångad av <br>en stormvind"<br>Carola
      <span></span>
    </div>
    <div class="circ govideo2 circ-sec circ-6" data-year="1991" data-country="Francia">Francia</div>

  </div>

  <div class="texts">
    <p class="p1">En total ha habido 2 empates en la final: En 1969, año en que participaron 16 países, se registró un cuádruple empate a 18 puntos entre Francia, Reino Unido, Holanda y España.</p>
    <p class="p2">Así al año siguiente, en el festival de 1970, se estableció que en caso de empate debería repetirse la actuación y el voto del jurado se haría a mano alzada. Si no se resolvía el ganador mediante este sistema, entonces se mantenía el empate.</p>
    <p class="p3">Con la introducción del voto por 12, 10, 8-1 puntos, se repitió empate en 1991.  Francia y Suecia empataron con 146 votos y el ganador definitivo fue Suecia, tras aplicar la regla de desempate. En este caso, al haber empate en el número votaciones de 12 puntos recibidas, se eligió como ganadora a la canción con un mayor número de votos de 10 puntos: Suecia.</p>
    <p class="p4">En la actualidad el empate es prácticamente imposible por la gran fragmentación del voto -pasan a la final 26 países: 10 de la primera semifinal, 10 de la segunda, además del anfitrión y los miembros del "Big Five"- y por los dos sistemas establecidos para la votación: televoto y jurado profesional. La puntuación final es la suma de ambas valoraciones, y en caso de empate, se alza con la victoria el representante que acumule la votación de un mayor número de países.</p>
  </div>

</div>


