<div id="sct-firtswin" class="bl-firtswin bl-sct sct-vid" data-url="">

  <p class="title">Suiza, primer ganador</p>
  <p class="subtitle">Lys Assia 'Refrain'</p>
  
  <div class="main-circ">
    <div class="circ-count circ-count-1">Alemania Occidental</div>
    <div class="circ-count circ-count-2">Francia</div>
    <div class="circ-count circ-count-3">Suiza</div>
    <div class="circ-count circ-count-4">Luxemburgo</div>
    <div class="circ-count circ-count-5">Países Bajos</div>
    <div class="circ-count circ-count-6">Bélgica</div>
    <div class="circ-count circ-count-7">Italia</div>
  </div>

  <div class="right"></div>
  <div class="cir1"></div>
  <div class="cir2"></div>
  <div class="cir3"></div>

  <p class="txt-1">El primer ganador oficial fue Suiza en el año 1956, con la canción Refrain de Lys Assia. Se presentaron siete países: Alemania Occidental, Suiza, Francia, Luxemburgo, Italia, Países Bajos y Bélgica. Austria, Dinamarca y el Reino Unido se inscribieron en la competición pero no fueron aceptados por hacerlo fuera de la fecha oficial. </p>
  <p class="txt-2">En este primer certamen, cada país participante designó dos miembros del jurado y cada uno de ellos otorgó de 1 a 10 puntos a cada canción. Cada país presentó además dos canciones y muchos de ellos incluso enviaron dos intérpretes. De hecho, solo Suiza y Luxemburgo participaron con un solo artista cada uno. Finalmente la ganadora suiza se hizo con la victoria, aunque nunca se dieron a conocer los datos pormenorizados de la votación. Este es uno de los grandes misterios del festival, que incluso ha intentado reconstruirse a través de entrevistas con los miembros del jurado sin obtener resultados definitivos.</p>

</div>

