<div id="sct-higherbeatings" class="bl-higherbeatings bl-sct sct-vid" data-url="">

  <div class="graph">

    {% set maxHeight = 135 %}
    {% set maxWidth = 820 / 5 %}
    {% set minWidth = 100 %}
    {% set pad = 17 %}

    {% set years = [2009, 2010, 2012, 2000, 2005] %}
    {% set country1 = ['Noruega', 'Alemania', 'Suecia', 'Dinamarca', 'Grecia'] %}
    {% set country2 = ['Islandia', 'Turquía', 'Rusia', 'Rusia', 'Malta'] %}
    {% set val1 = [387, 246, 372, 195, 230] %}
    {% set val2 = [218, 170, 259, 155, 199] %}

    <div class="g-tits1">
      {% for year in years %}<span class="g-tit">{{ year }}</span>{% endfor %}
    </div>
    <div class="g-tits2">
      {% for year in years %}<span class="g-tit">{{ (100 * (val1[loop.index-1] - val2[loop.index-1]) / val1[loop.index-1]) | round(2, 'floor') }}%</span>{% endfor %}
    </div>
    <div class="g-cirsctop">

      {% for year in years %}

        {% set width = val1[loop.index-1] * (maxWidth - pad - pad) / val1[0] %}
        {% set diff = (val1[loop.index-1] - val2[loop.index-1]) * maxHeight / (val1[0] - val2[0]) %}

        <style>
          #sct-higherbeatings .graph-circ-top-{{loop.index}} { bottom: -{{ maxWidth }}px; }
          #sct-higherbeatings.sct-active .graph-circ-top-{{loop.index}} { bottom: {{ diff }}px; 
            -webkit-transition: all {{ loop.index }}s ease-out;
            -moz-transition: all {{ loop.index }}s ease-out;
            -o-transition: all {{ loop.index }}s ease-out;
            transition: all {{ loop.index }}s ease-out;
          }
        </style>

        <div class="govideo2 graph-circ graph-circ-top-{{loop.index}} {% if (val1[loop.index-1] < 260) %}graph-circ-medi{% endif %} {% if (val1[loop.index-1] < 200) %}graph-circ-small{% endif %}" 
              style="width: {{width}}px; height: {{width}}px; left: {{ maxWidth * (loop.index-1) }}px; margin: 0 {{ (maxWidth - width)/2 }}px"
              data-year="{{ years[loop.index-1] }}" data-country="{{ country1[loop.index-1] }}">
          <span>{{ country1[loop.index-1] }}<br>{{ val1[loop.index-1] }} ptos</span>
        </div>

      {% endfor %}

    </div>
    <div class="g-cirscbot">

      {% for year in years %}

        {% set width = val2[loop.index-1] * (maxWidth - pad - pad) / val1[0] %}
        {% set diff = (val1[loop.index-1] - val2[loop.index-1]) * maxHeight / (val1[0] - val2[0]) %}

        <style>
          #sct-higherbeatings .graph-circ-bot-{{loop.index}} { top: -{{ maxWidth }}px; }
          #sct-higherbeatings.sct-active .graph-circ-bot-{{loop.index}} { top: {{ diff }}px; 
            -webkit-transition: all {{ loop.index }}s ease-out;
            -moz-transition: all {{ loop.index }}s ease-out;
            -o-transition: all {{ loop.index }}s ease-out;
            transition: all {{ loop.index }}s ease-out; }
        </style>

        <div class="govideo2 graph-circ graph-circ-bot-{{loop.index}} {% if val2[loop.index-1] < 260 %}graph-circ-medi{% endif %} {% if val2[loop.index-1] < 200 %}graph-circ-small{% endif %}" 
            style="width: {{width}}px; height: {{width}}px; left: {{ maxWidth * (loop.index-1) }}px;  margin: 0 {{ (maxWidth - width)/2 }}px"
              data-year="{{ years[loop.index-1] }}" data-country="{{ country2[loop.index-1] }}">
          <span>{{ country2[loop.index-1] }}<br>{{ val2[loop.index-1] }} ptos</span>
        </div>

      {% endfor %}

    </div>
  </div>

</div>