<div id="sct-historicaladvantage" class="bl-historicaladvantage bl-sct sct-vid" data-url="">

  <a href="#" data-toggleclass="bl-sct-extra-act" class="toggleclass moreinfo" title="Más información"></a>

  <div class="bl-spainvotes-extra bl-sct-extra">
    <a href="#" class="toggleclass closeextra wk-col-r" data-toggleclass="bl-sct-extra-act" title="cierra el video">X</a>
    <h2>¿Tiene ventajas ser del Big Five? </h2>
    <div class="wk-col-l wk-col-50">
      <p>- Desde 2000, la Unión Europea de Radiodifusión garantiza un puesto en el festival a aquellos países que hacen una mayor aportación económica. Esto, después de que Alemania no se clasificara en 1996, afectando seriamente el presupuesto del certamen.</p>
      <p>-  Francia, España, Reino Unido y Alemania fueron los primeros elegidos. En 2011, Italia volvió al festival tras 14 años de ausencia. A estos cinco países se les llama Big Five, y pasan directamente a la gran final sin importar su resultado en la anterior edición.</p>
      <p>- El resto de países (salvo el anfitrión) tiene que pasar por una de las dos semifinales en las que se aseguran 20 puestos para la gran final.</p>
      <p>- Muchos países se quejan del sistema de los Big Five, alegando injusticia, o que lo único que importa en el festival “es el dinero”. Y es que en los últimos años, estos países superarían la fase de semifinales a duras penas.</p>

    </div>

    <div class="wk-col-l wk-col-50">
      <p>- Si los países del Big Five hubiesen tenido que pasar por semifinales, en más de una edición no habrían clasificado entre los 10 mejores, hecho que da acceso a la final. Esto, tomando en cuenta la menor puntuación de un semifinalista clasificado, y la puntuación obtenida por los países del Big Five en finales</p>
      <p>- En base a lo anterior, España no habría llegado a la final del festival en seis ocasiones (2013, 2011, 2009, 2007, 2006 y 2005). Alemania no habría pasado el corte en otras seis ediciones (2013, 2009, 2008, 2007, 2006 y 2005). Reino Unido habría faltado a 8 finales (2013, 2012, 2010, 2008, 2007, 2006, 2005 y 2004). Y Francia se habría quedado fuera en 6 galas finales (2013, 2012, 2007, 2006, 2005, 2004). </p>
      <p>-Así, Italia, que volvió en 2011 tras 14 años de ausencia, sería el único país en clasificarse legítimamente para la final de Eurovisión entre 2011 y 2013. Y sí, 2013 habría sido un año de serios problemas económicos para el festival sin la financiación de sus cuatro mayores contribuyentes.</p>
    </div>
  </div>

  <div class="p-1">Desde 2000, la Unión Europea de Radiodifusión garantiza un puesto en el festival a aquellos países que hacen una mayor aportación económica.</div>
  <div class="p-2">Si los países del Big Five hubiesen tenido que pasar por semifinales, en más de una edición no habrían clasificado entre los 10 mejores, hecho que da acceso a la final.</div>
  <div class="graph">
    <div class="hvr"></div>
    <div class="col col-0">
      <div class="col-0-1">Dentro del festival</div>
      <div class="col-0-2">Fuera del festival</div>
    </div>
    <div class="col col-1">
      <div class="bl-esp bl-country bl-country-down"></div>
      <div class="bl-ger bl-country bl-country-down"></div>
      <div class="bl-gb bl-country bl-country-down"></div>
      <div class="bl-fr bl-country bl-country-down"></div>
      <div class="bl-ita bl-country"></div>
      <div class="bl-title">2013</div>
    </div>
    <div class="col col-2">
      <div class="bl-esp bl-country"></div>
      <div class="bl-ger bl-country"></div>
      <div class="bl-gb bl-country bl-country-down"></div>
      <div class="bl-fr bl-country bl-country-down"></div>
      <div class="bl-ita bl-country"></div>
      <div class="bl-title">2012</div>
    </div>
    <div class="col col-3">
      <div class="bl-esp bl-country bl-country-down"></div>
      <div class="bl-ger bl-country"></div>
      <div class="bl-gb bl-country"></div>
      <div class="bl-fr bl-country"></div>
      <div class="bl-ita bl-country"></div>
      <div class="bl-title">2011</div>
    </div>
    <div class="col col-4">
      <div class="bl-esp bl-country"></div>
      <div class="bl-ger bl-country"></div>
      <div class="bl-gb bl-country bl-country-down"></div>
      <div class="bl-fr bl-country"></div>
      <div class="bl-ita bl-country bl-country-hid"></div>
      <div class="bl-title">2010</div>
    </div>
    <div class="col col-5">
      <div class="bl-esp bl-country bl-country-down"></div>
      <div class="bl-ger bl-country bl-country-down"></div>
      <div class="bl-gb bl-country"></div>
      <div class="bl-fr bl-country"></div>
      <div class="bl-ita bl-country bl-country-hid"></div>
      <div class="bl-title">2009</div>
    </div>
    <div class="col col-6">
      <div class="bl-esp bl-country"></div>
      <div class="bl-ger bl-country bl-country-down"></div>
      <div class="bl-gb bl-country bl-country-down"></div>
      <div class="bl-fr bl-country"></div>
      <div class="bl-ita bl-country bl-country-hid"></div>
      <div class="bl-title">2008</div>
    </div>
    <div class="col col-7">
      <div class="bl-esp bl-country bl-country-down"></div>
      <div class="bl-ger bl-country bl-country-down"></div>
      <div class="bl-gb bl-country bl-country-down"></div>
      <div class="bl-fr bl-country bl-country-down"></div>
      <div class="bl-ita bl-country bl-country-hid"></div>
      <div class="bl-title">2007</div>
    </div>
    <div class="col col-8">
      <div class="bl-esp bl-country bl-country-down"></div>
      <div class="bl-ger bl-country bl-country-down"></div>
      <div class="bl-gb bl-country bl-country-down"></div>
      <div class="bl-fr bl-country bl-country-down"></div>
      <div class="bl-ita bl-country bl-country-hid"></div>
      <div class="bl-title">2006</div>
    </div>
    <div class="col col-9">
      <div class="bl-esp bl-country bl-country-down"></div>
      <div class="bl-ger bl-country bl-country-down"></div>
      <div class="bl-gb bl-country bl-country-down"></div>
      <div class="bl-fr bl-country bl-country-down"></div>
      <div class="bl-ita bl-country bl-country-hid"></div>
      <div class="bl-title">2005</div>
    </div>
    <div class="col col-10">
      <div class="bl-esp bl-country"></div>
      <div class="bl-ger bl-country"></div>
      <div class="bl-gb bl-country bl-country-down"></div>
      <div class="bl-fr bl-country bl-country-down"></div>
      <div class="bl-ita bl-country bl-country-hid"></div>
      <div class="bl-title">2004</div>
    </div>
  </div>

</div>