<div id="sct-hostwon" class="bl-hostwon bl-sct sct-vid" data-url="">

  <div class="graph-texts">
    <p class="graph-text graph-text-1">En 5 ocasiones ha ganado el Festival de Eurovisión el país anfitrión. La primera vez fue en España, el 29 de marzo de 1969, cuando Salomé reeditó la machada que un año antes había hecho Massiel en Londres con su canción "Vivo Cantando".</p>
    <p class="graph-text graph-text-2">El país anfitrión que en más ocasiones ha reeditado éxito ha sido Irlanda. Linda, su representante en 1992, consiguió ganar en Suecia y ya en casa se anotó dos victorias consecutivas:  Niamh Kavanagh, con “In Your Eyes”,  y Paul Harrington and Charlie McGettigan, con "Rock 'n' Roll Kids".</p>
    <p class="graph-text graph-text-3">Los otros países que siendo anfitriones han ganado son Luxemburgo, en 1973 representado por Anne-Marie David , e Israel, en la edición de 1979. Además, en 10 ocasiones ganó un país limítrofe con el país anfitrión.</p>
  </div>






  <div class="main">
    <div class="col-1 main-col wk-col-l">
      <h3>España</h3>
      <div class="circ-ini temazo" data-year="1968" data-country="España"><span class="circ-year">1968</span>"La, la, la"<br>Massiel</div>
      <div class="circ-sec temazo" data-year="1969" data-country="España"><span class="circ-year">1969</span>"Vivo cantando"<br>Salomé</div>
    </div>
    <div class="col-2 main-col wk-col-l">
      <h3>Luxemburgo</h3>
      <div class="circ-ini temazo" data-year="1972" data-country="Luxemburgo"><span class="circ-year">1972</span>"Après toi"<br>Vicky Leandros</div>
      <div class="circ-sec temazo" data-year="1973" data-country="Luxemburgo"><span class="circ-year">1973</span>"Tu te reconnaitras"<br>Anne-Marie David</div>
    </div>
    <div class="col-3 main-col wk-col-l">
      <h3>Israel</h3>
      <div class="circ-ini temazo" data-year="1978" data-country="Israel"><span class="circ-year">1978</span>"A-Ba-Ni-Bi"<br>Izhar Cohen &<br>the Alphabeta</div>
      <div class="circ-sec temazo" data-year="1979" data-country="Israel"><span class="circ-year">1979</span>"Hallelujah"<br>Gali Atari &<br>Milk and Honey</div>
    </div>
    <div class="col-4 main-col wk-col-l">
      <h3>Irlanda</h3>
      <div class="circ-ini temazo" data-year="1992" data-country="Irlanda"><span class="circ-year">1992</span>"Why Me"<br>Linda Martin</div>
      <div class="circ-sec temazo" data-year="1993" data-country="Irlanda"><span class="circ-year">1993</span>"In your eyes"<br>Niamh Kavanagh</div>
      <div class="circ-sec temazo circ-sec2" data-year="1994" data-country="Irlanda"><span class="circ-year">1994</span>"Rock 'n' Roll Kids"<br>Paul Harrington &<br>Charlie McGettigan</div>

    </div>
  </div>
  

</div>