<div id="sct-macroeconomy" class="bl-macroeconomy bl-sct sct-vid" data-callbackin="sctsCbs.macroeconomy.init"  data-url="">

  <a href="#" data-toggleclass="bl-sct-extra-act" class="toggleclass moreinfo" title="Más información" style="position: absolute;bottom: -50px;right: 0;"></a>
  </p>

  <div class="bl-spainvotes-extra bl-sct-extra" style="width: 114%;left: 0;">
    <a href="#" class="toggleclass closeextra wk-col-r" data-toggleclass="bl-sct-extra-act" title="cierra el video">X</a>
    <h2>10 datos definitivos sobre eurovision</h2>
    <div class="wk-col-l wk-col-50">
      <ul>
        <li>- 51 países han participado al menos una vez en Eurovisión. </li>
        <li>- 1165 canciones han sido interpretadas en la historia de Eurovisión.</li>
        <li>- La canción número 1000 fue "Every Song Is a Cry for Love", del irlandés Brian Kennedy. España también forma parte de esta historia, ya que en 1999 "No quiero escuchar" de Lydia fue la canción número 800 de la historia del festival. La canción número 100 fue "T'en Va Pas", interpretada por la representante suiza (Esther Ofarim) en la edición de 1963.</li>
        <li>- La victoria se canta en inglés: 28 canciones ganadoras estaban cantadas en este idioma, seguido por el francés (14 victorias), o el neerlandés y el hebreo (3 victorias).</li>
        <li>- La final de 2013 marcó un récord con más de 170 millones de televidentes que pudieron ver el evento a través de 39 canales de televisión de todo el mundo. Según datos de la EBU, el show es más visto por mujeres que por hombres (57% vs 43%).</li>
      </ul>

    </div>

    <div class="wk-col-l wk-col-50">
      <ul>
        <li>- La final más vista en España en la historia de Eurovisión fue la de 2002, cuando Rosa López representó a España ante 12,7 millones de televidentes españoles y un 80,4% del share. Le sigue la final de 2008, cuando 9,3 millones de espectadores (59,3% de share) se sentaron frente a la pantalla para ver la actuación de Rodolfo Chikilicuatre.</li>
        <li>- Noruega es el país que más veces ha quedado en último lugar: 10 veces en 1963, 1969, 1974, 1976, 1978, 1981, 1990, 1997, 2001 y 2004.</li>
        <li>- En 2008 y 2011 hubo récord de participación con 43 países compitiendo.</li>
        <li>- Azerbaiyán, que acogió Eurovisión en 2012, tiene el récord de presupuesto invertido en la producción televisiva del festival: gastaron un estimado de 35 millones de euros, además de la construcción de un estadio de cristal (valorado en 100 millones de euros) como sede del festival.</li>
        <li>- En 2013, Suecia dejó el presupuesto en 15 millones de euros, el más bajo desde Helsinki 2007 (14 millones de euros). Para Copenhague 2014 el presupuesto estimado es de 25 millones de euros, además de 40 millones que el Ayuntamiento gastará en logística (transporte, construcción de la sede, seguridad, etc).</li>
      </ul>
    </div>
  </div>

  <div class="wk-col-l col-1 cols">

    <div class="bl-2 bl-wrap bl-wrap-act">
      <span class="col-size1">170 Millones</span>
      <span class="col-size3">espectadores en 2003 a través de 39 canales</span>
    </div>

    <div class="col-3 bl-wrap wk-col-l">
      <span class="col-size11" style="font-size: 5.1em; line-height: 0.8em;">1165</span>
      <span class="col-size5" style="font-size: 2.3em; line-height: 0.7em;">Canciones</span>
    </div>

    <div class="col-4 bl-wrap wk-col-l">
      <span class="col-size2">Noruega</span>
      <span class="col-size2 col-5 wk-col-l" style="font-size: 3.2em; line-height: 0.7em;">10</span>
      <span class="col-6 wk-col-l" style="margin-top: 5px;">Veces ha quedado en último puesto</span>
    </div>
    
  </div>

  <div class="wk-col-l col-2 cols">

    <div class="bl-wrap">
      <span class="col-size1">12,7M</span>
      <span class="col-size4" style="line-height: 1.2em;">la edición más vista en españa fue en 2002, con rosa lópez y un share de</span>
      <span class="col-size1" style="line-height: 0.9em;">80,4%</span>
    </div>

  </div>

  <div class="wk-col-l col-3" style="clear: left">

    <div class="bl-wrap">
      <span class="wk-col-l" style="width: 85px;font-size: 4.1em;line-height: 0.7em;">51</span>
      <span class="wk-col-l" style="width: 100px;">Paises han participado alguna vez</span>
    </div>

    <div class="bl-wrap">
      <span  style="font-size: 10em;line-height: 0.8em;">28</span>
      <span class="wk-col-l" style="font-size: 0.9em; line-height: 1.2em;">Canciones ganadoras interpretadas en inglés</span>
    </div>

  </div>
  <div class="wk-col-l col-8">
    <div class="bl-wrap">

      <div class="wk-col-l col-7">
        <span class="" style="">Canción número</span>
        <span class="col-size2" style="line-height: 0.8em;">1000</span>
        <span class="" style="font-size: 1.1em;">'Every song is a cry for love'</span>
      </div>

      <span class="wk-col-l col-9" style="font-size: 3.8em;line-height: 0.7em;">800</span>
      <span class="wk-col-l col-2" style="font-size: 1.1em;line-height: 1.4em;">de españa con lydia ‘No quiero escuchar’</span>

      <span class="wk-col-l col-9" style="font-size: 3.8em;line-height: 0.7em;">100</span>
      <span class="wk-col-l col-2" style="font-size: 1.1em;line-height: 1.4em;">‘T'en Va Pas’ de Esther Ofarim, suiza, en 1963</span>

    </div>

  </div>

  <div class="wk-col-l col-7">


    <div class="bl-wrap">
      <span class="" style="font-size: 7em;line-height: 0.7em;">14</span>
      <span class="" style="font-size: 0.9em; margin-top: 7px;">Ganadoras en Lengua francesa</span>
    </div>

  </div>

  <div class="wk-col-l col-9">

    <div class="bl-wrap">
      <span class="" style="font-size: 0.9em;line-height: 1em;">Presupuesto Helsinki</span>
      <span class="" style="font-size: 3.4em;line-height: 0.8em;">14M</span>
    </div>

    <div class="bl-wrap">
      <span class="" style="font-size: 2.8em;">2008</span>
      <span class="" style="font-size: 0.9em;line-height: 1.2em;">Primera vez que compiten 43 países</span>
    </div>

  </div>

  <div class="wk-col-l col-2 cols">

    <div class="bl-wrap">
      <span class="col-size1" style="font-size: 6.6em;line-height: 0.9em;">35M</span>
      <span class="col-size4" style="line-height: 1.3em;font-size: 1.2em;">presupuesto más alto de la historia en Azerbayán 2012</span>
    </div>

  </div>

  <div class="wk-col-l col-11" style="position: relative;top: -60px; ">

    <div class="bl-wrap">
      <span class="wk-col-l col-3" style="font-size: 3.8em;line-height: 0.8em;">38000</span>
      <span class="col-7 wk-col-l" style="font-size: 0.9em;line-height: 1.1em;margin-top: 2px;">Espectadores en el festival de Copenhague 2001</span>
    </div>

  </div>

</div>

<script>
  var sctsCbs = sctsCbs ? sctsCbs : {};
  sctsCbs.macroeconomy = {
    init: function(){ 

      var $sect = $('#sct-macroeconomy');

      if(!$sect.hasClass('sct-processed')) {

        $sect.addClass('sct-processed');

        $sect.find('.bl-wrap').hover(function(){ $sect.find('.bl-wrap-act').removeClass('bl-wrap-act') } )

      }
    }
  }
</script>