<div id="sct-mostzeros" class="bl-mostzeros bl-sct sct-vid" data-callbackin="sctsCbs.mostzeros.init" data-callbackout="sctsCbs.mostzeros.out" data-url="">

  <a href="#" class="butt goto-link" data-goto="#sct-mostzeros-main">Siguiente</a>
  <div class="circ"><span>Noruega</span>al calabozo</div>
  <div class="wrap-right">
    <h2>¿Qué país ha hecho más el ridículo?</h2>
    <p>Noruega tiene el nada apreciable honor de ser el país que en un mayor número de ocasiones no ha recibido ni un solo punto en Eurovisión. A pesar de presentar propuestas austeras pero bien resultas, en cuatro ocasiones han salido por la puerta de atrás.</p>
    <div class="video"></div>
  </div>

</div>

<script>
  var sctsCbs = sctsCbs ? sctsCbs : {};
  sctsCbs.mostzeros = {
    init: function(){

      var $sect = $('#sct-mostzeros');

      if(!$sect.hasClass('sct-processed')) {


        var $vidgen = labTools.media.generaVideo($sect.find('.video'), 'http://video.lab.rtve.es/resources/TE_NGVA/mp4/2014/eurovision/euro_cero', {controls: 'auto', autoplay: true });

        $vidgen.find('video')
          .css({width: '580',height: '330'});


        $sect.addClass('sct-processed');

      }

    },
    out: function() {

      var $sect = $('#sct-mostzeros');

      $sect.find('video')[0].pause();
    }
  };

</script>