<div id="sct-mostwins-main" class="bl-mostwins-main bl-sct sct-vid" data-callbackin="sctsCbs.mostwinsMain.init" data-url="">

  <div class="graph1">

    <div id="map"></div>

    <div id="mapTtip" class="mapttip clearfix temazo" data-year="2013" data-country="España">
      <div class="goNOvideo"></div>
      <div class="close-ttip">X</div>
      <div class="col-l wk-col-l">
        <div class="ttip-wins">Victorias</div>
        <div class="ttip-wins-val"></div>
        <div class="ttip-lastwins">Último Ganador</div>
        <div class="ttip-winsyear"></div>
        <div class="ttip-wins2"><span></span> pts.</div>
        <div class="ttip-partis"></div>
        <div class="ttip-partisTit">participa-<br>ciones</div>
      </div>
      <div class="col-r wk-col-r">
        <h2>País: <span></span></h2>
        <div class="ttip-winner"></div>
        <div class="ttip-winner-img"><img src="./img/sp--stilos.png" alt=""></div>
      </div>
    </div>

  </div>


  <div class="graph2">
    <div class="g2-wrap">
      <div class="hover"></div>
      {% set heights = [90,75,60,50,40,30] %}
      {% set heights2 = [90,75,60,50,40,30,30,30] %}
      <div class="g2-circs">
        <div class="g2-circ-0 g2-circ-height-0 graph-circ" style="padding-top: {{ (heights[0] - 20) /2 }}px; width:{{ 0.9 * heights[0] }}px; height:{{ 0.9 * heights[0] }}px; box-shadow: 0 0 0 {{ 0.1 * heights[0] }}px rgba(254, 41, 121, 0.4);" title="Irlanda ha ganado 7 veces Eurovisión, click para más información">Irl
          <div class="wrap-circs">
            <div class="govideo2 graph-circ" data-year="1970" data-country="Irlanda">1970</div>
            <div class="govideo2 graph-circ" data-year="1980" data-country="Irlanda">1980</div>
            <div class="govideo2 graph-circ" data-year="1987" data-country="Irlanda">1987</div>
            <div class="govideo2 graph-circ" data-year="1992" data-country="Irlanda">1992</div>
            <div class="govideo2 graph-circ" data-year="1993" data-country="Irlanda">1993</div>
            <div class="govideo2 graph-circ" data-year="1994" data-country="Irlanda">1994</div>
            <div class="govideo2 graph-circ" data-year="1996" data-country="Irlanda">1996</div>
          </div>
        </div>
        <div class="g2-circ-1 g2-circ-height-1 graph-circ" style="padding-top: {{ (heights[1] - 20) /2 }}px; width:{{ 0.9 * heights[1] }}px; height:{{ 0.9 * heights[1] }}px; box-shadow: 0 0 0 {{ 0.1 * heights[1] }}px rgba(254, 41, 121, 0.4);" title="Francia ha ganado 6 veces Eurovisión, click para más información">Fra
          <div class="wrap-circs">
            <div class="govideo2 graph-circ" data-year="1956" data-country="Francia">1956</div>
            <div class="govideo2 graph-circ" data-year="1960" data-country="Francia">1960</div>
            <div class="govideo2 graph-circ" data-year="1962" data-country="Francia">1962</div>
            <div class="govideo2 graph-circ" data-year="1969" data-country="Francia">1969</div>
            <div class="govideo2 graph-circ" data-year="1977" data-country="Francia">1977</div>
            <div class="govideo2 graph-circ" data-year="1991" data-country="Francia">1991</div>
          </div>

        </div>
        <div class="g2-circ-2 g2-circ-height-2 graph-circ" style="padding-top: {{ (heights[2] - 20) /2 }}px; width:{{ 0.9 * heights[2] }}px; height:{{ 0.9 * heights[2] }}px; box-shadow: 0 0 0 {{ 0.1 * heights[2] }}px rgba(254, 41, 121, 0.4);" title="Suecia ha ganado 5 veces Eurovisión, click para más información">Sue
          <div class="wrap-circs">
            <div class="govideo2 graph-circ" data-year="1974" data-country="Suecia">1974</div>
            <div class="govideo2 graph-circ" data-year="1984" data-country="Suecia">1984</div>
            <div class="govideo2 graph-circ" data-year="1991" data-country="Suecia">1991</div>
            <div class="govideo2 graph-circ" data-year="1999" data-country="Suecia">1999</div>
            <div class="govideo2 graph-circ" data-year="2012" data-country="Suecia">2012</div>
          </div>
        </div>
        <div class="g2-circ-3 g2-circ-height-2 graph-circ" style="padding-top: {{ (heights[2] - 20) /2 }}px; width:{{ 0.9 * heights[2] }}px; height:{{ 0.9 * heights[2] }}px; box-shadow: 0 0 0 {{ 0.1 * heights[2] }}px rgba(254, 41, 121, 0.4);" title="Luxemburgo ha ganado 5 veces Eurovisión, click para más información">Lux
          <div class="wrap-circs">
            <div class="govideo2 graph-circ" data-year="1961" data-country="Luxemburgo">1961</div>
            <div class="govideo2 graph-circ" data-year="1965" data-country="Luxemburgo">1965</div>
            <div class="govideo2 graph-circ" data-year="1972" data-country="Luxemburgo">1972</div>
            <div class="govideo2 graph-circ" data-year="1973" data-country="Luxemburgo">1973</div>
            <div class="govideo2 graph-circ" data-year="1983" data-country="Luxemburgo">1983</div>
          </div>
        </div>
        <div class="g2-circ-4 g2-circ-height-2 graph-circ" style="padding-top: {{ (heights[2] - 20) /2 }}px; width:{{ 0.9 * heights[2] }}px; height:{{ 0.9 * heights[2] }}px; box-shadow: 0 0 0 {{ 0.1 * heights[2] }}px rgba(254, 41, 121, 0.4);" title="Reino Unido ha ganado 5 veces Eurovisión, click para más información">UK
          <div class="wrap-circs">
            <div class="govideo2 graph-circ" data-year="1967" data-country="Reino Unido">1967</div>
            <div class="govideo2 graph-circ" data-year="1969" data-country="Reino Unido">1969</div>
            <div class="govideo2 graph-circ" data-year="1976" data-country="Reino Unido">1976</div>
            <div class="govideo2 graph-circ" data-year="1981" data-country="Reino Unido">1981</div>
            <div class="govideo2 graph-circ" data-year="1997" data-country="Reino Unido">1997</div>
          </div>
        </div>
        <div class="g2-circ-5 g2-circ-height-3 graph-circ" style="padding-top: {{ (heights[3] - 20) /2 }}px; width:{{ 0.9 * heights[3] }}px; height:{{ 0.9 * heights[3] }}px; box-shadow: 0 0 0 {{ 0.1 * heights[3] }}px rgba(254, 41, 121, 0.4);" title="Holanda ha ganado 4 veces Eurovisión, click para más información">Hol
          <div class="wrap-circs">
            <div class="govideo2 graph-circ" data-year="1957" data-country="Holanda">1957</div>
            <div class="govideo2 graph-circ" data-year="1959" data-country="Holanda">1959</div>
            <div class="govideo2 graph-circ" data-year="1969" data-country="Holanda">1969</div>
            <div class="govideo2 graph-circ" data-year="1975" data-country="Holanda">1975</div>
          </div>
        </div>
        <div class="g2-circ-6 g2-circ-height-4 graph-circ" style="padding-top: {{ (heights[4] - 20) /2 }}px; width:{{ 0.9 * heights[4] }}px; height:{{ 0.9 * heights[4] }}px; box-shadow: 0 0 0 {{ 0.1 * heights[4] }}px rgba(254, 41, 121, 0.4);" title="Dinamarca ha ganado 3 veces Eurovisión, click para más información">Din
          <div class="wrap-circs">
            <div class="govideo2 graph-circ" data-year="1963" data-country="Dinamarca">1963</div>
            <div class="govideo2 graph-circ" data-year="2000" data-country="Dinamarca">2000</div>
            <div class="govideo2 graph-circ" data-year="2013" data-country="Dinamarca">2013</div>
          </div>
        </div>
        <div class="g2-circ-7 g2-circ-height-4 graph-circ" style="padding-top: {{ (heights[4] - 20) /2 }}px; width:{{ 0.9 * heights[4] }}px; height:{{ 0.9 * heights[4] }}px; box-shadow: 0 0 0 {{ 0.1 * heights[4] }}px rgba(254, 41, 121, 0.4);" title="Israel ha ganado 3 veces Eurovisión, click para más información">Isr
          <div class="wrap-circs">
            <div class="govideo2 graph-circ" data-year="1978" data-country="Israel">1978</div>
            <div class="govideo2 graph-circ" data-year="1979" data-country="Israel">1979</div>
            <div class="govideo2 graph-circ" data-year="1997" data-country="Israel">1997</div>
          </div>
        </div>
        <div class="g2-circ-8 g2-circ-height-4 graph-circ" style="padding-top: {{ (heights[4] - 20) /2 }}px; width:{{ 0.9 * heights[4] }}px; height:{{ 0.9 * heights[4] }}px; box-shadow: 0 0 0 {{ 0.1 * heights[4] }}px rgba(254, 41, 121, 0.4);" title="Noruega ha ganado 3 veces Eurovisión, click para más información">Nor
          <div class="wrap-circs">
            <div class="govideo2 graph-circ" data-year="1985" data-country="Noruega">1985</div>
            <div class="govideo2 graph-circ" data-year="1995" data-country="Noruega">1995</div>
            <div class="govideo2 graph-circ" data-year="2009" data-country="Noruega">2009</div>
          </div>
        </div>
        <div class="g2-circ-9 g2-circ-height-5 graph-circ" style="padding-top: {{ (heights[5] - 20) /2 }}px; width:{{ 0.9 * heights[5] }}px; height:{{ 0.9 * heights[5] }}px; box-shadow: 0 0 0 {{ 0.1 * heights[5] }}px rgba(254, 41, 121, 0.4);" title="Alemania ha ganado 2 veces Eurovisión, click para más información">Ale
          <div class="wrap-circs">
            <div class="govideo2 graph-circ" data-year="1982" data-country="Alemania">1982</div>
            <div class="govideo2 graph-circ" data-year="2010" data-country="Alemania">2010</div>
          </div>
        </div>
        <div class="g2-circ-10 g2-circ-height-5 graph-circ" style="padding-top: {{ (heights[5] - 20) /2 }}px; width:{{ 0.9 * heights[5] }}px; height:{{ 0.9 * heights[5] }}px; box-shadow: 0 0 0 {{ 0.1 * heights[5] }}px rgba(254, 41, 121, 0.4);" title="Italia ha ganado 2 veces Eurovisión, click para más información">Ita
          <div class="wrap-circs">
            <div class="govideo2 graph-circ" data-year="1964" data-country="Italia">1964</div>
            <div class="govideo2 graph-circ" data-year="1990" data-country="Italia">1990</div>
          </div>
        </div>
        <div class="g2-circ-11 g2-circ-height-5 graph-circ" style="padding-top: {{ (heights[5] - 20) /2 }}px; width:{{ 0.9 * heights[5] }}px; height:{{ 0.9 * heights[5] }}px; box-shadow: 0 0 0 {{ 0.1 * heights[5] }}px rgba(254, 41, 121, 0.4);" title="España ha ganado 2 veces Eurovisión, click para más información">Esp
          <div class="wrap-circs">
            <div class="govideo2 graph-circ" data-year="1968" data-country="España">1968</div>
            <div class="govideo2 graph-circ" data-year="1969" data-country="España">1969</div>
          </div>
        </div>
      </div>
      <div class="g2-labls">
        {% for height in heights %}
          <div class="g2-lbl-{{ loop.index-1 }} g2-lbl" style="height:{{ 20 + (heights2[loop.index] * 0.9) }}px">{{8 - loop.index }}</div>
        {% endfor %}
      </div>

    </div>
    <p class="g2-tit">Número de ediciones ganadas</p> 
  </div>
      <p class="hazclick">Haz click en la bola, la fecha o el país para ver el vídeo</p>
</div>

<script>

  var sctsCbs = sctsCbs ? sctsCbs : {};
  sctsCbs.mostwinsMain = {
    init: function () {

      $('.bl-main-menu').find('[data-goto="#sct-mostwins"]').addClass('act');
      
      var $sect = $('#sct-mostwins-main');

      if(!$sect.hasClass('sct-processed')) {

        $('.close-ttip').bind('click', function(e){
          $(this).parents('#mapTtip').stop(false,false).fadeOut(400);
          e.stopPropagation();
        })

        evData.map = evData.map ? evData.map : {};

        evData.map.data = {
          svg: '',
          path: '',

          year: 1957
        };

        setMap();

        drawMapJson();


        $sect.addClass('sct-processed');

      }

    }
  }

  function drawMapJson(){

    //Bind data and create one path per GeoJSON feature
    evData.map.svg.selectAll("path")
      .data(evData.data.geo.features)
      .enter()
      .append("path")
      .attr("d", evData.map.path)
      .attr('stroke-width', '1px')
      .attr("class", function(d) { 
        var wins = evData.dataTools.getCountryParticipations(d.properties.name);

        if(wins === false) {
          return '';
        }
        return 'hover';
      })
      .attr('cursor', function(d){

        var wins = evData.dataTools.getCountryParticipations(d.properties.name);

        if(wins === false) {
          return 'pointer';
        }

        return false;
      })
      .attr('stroke', function(d){

        var wins = evData.dataTools.getCountryParticipations(d.properties.name);

        if(wins === false) {
          return 'rgba(255,255,255,0.2)';
        }

        return 'rgba(255,255,255,0.9)';
      })
      .attr('fill', function(d){

        var wins = evData.dataTools.getCountryParticipations(d.properties.name);

        if(wins === false) {
          return 'none';
        }

        if(wins.length == 0) return 'rgba(254, 41, 121, 0.05)';

        return 'rgba(254, 41, 121,' + (wins.length * 0.1) + ')';
      })
      .on("click", clickCountry4)
      //.on("mouseout", mouseout);

  }

  function setMap(){
      //Width and height
    var w = 870;
    var h = 600;

    var projection = d3.geo.stereographic()
      .scale(1085)
      .translate([.8*w / 2, h / 2])
      .rotate([-21, -45])
      .clipAngle(180 - 1e-4)
      .clipExtent([[0, 0], [w, h]])
      .precision(.1);

    evData.map.path = d3.geo.path()
      .projection(projection);

    //Create SVG element
    evData.map.svg = d3.select("#map")
      .append("svg")
      .attr("width", w)
      .attr("height", h);
  }

  function clickCountry4 (d){
    var data = evData.dataTools.getCountry(d.properties.name);
    
    if(!data) return;

    drawTtip(data);

    var coords = d3.mouse(this);
    var coordX = coords[0] > 347 ? coords[0] - 347 : coords[0] + 10;
    var coordY = coords[1] > 240 ? coords[1] - 240 : coords[1] + 10;

    $('#mapTtip').css({left: coordX, top: coordY}).stop(false, false).fadeIn(400);

    return false;
  }

  function drawTtip(data) { 

    if (!data) return;

    var $ttip = $('#mapTtip');
    var songData = evData.dataTools.getSong(data.bestPos.bestYear, data.name);
/*
    var partisString = '';
    for (var i = 0; i < data.yrs.length; i++) {
      partisString += '<a href="#" class="temazo" data-year="' + data.yrs[i] + '" data-country="' + data.name + '">' + data.yrs[i] + '</a> ';
    };*/

    var wins = evData.dataTools.getWins(data.nameEN);

    $ttip.data({year: data.bestPos.bestYear, country: data.name})
      .find('h2 span').html(data.name).end()
      .find('.ttip-winner').html(songData.artista + ' - ' + songData.titulo).end()
      .find('img').attr('src', songData.smallImg).end()
      .find('.ttip-winsyear').html(data.bestPos.bestYear).end()
      .find('.ttip-wins2 span').html(data.bestPos.bestPunt).end()
      .find('.ttip-wins-val').html(wins.length).end()
      .find('.ttip-partis').html(data.count);

    if(data.bestPos.bestPos != 1) {
      $ttip.find('.ttip-lastwins').html('Mejor posicion: ' + data.bestPos.bestPos);
    } else {
      $ttip.find('.ttip-lastwins').html('Último Ganador');
    }

    return false
  }


</script>