<div id="sct-mostseconds" class="bl-mostseconds bl-sct sct-vid" data-callbackin="sctsCbs.mostseconds.init" data-url="">
  
  <div class="head">
    <div class="firsts">GANADOR</div>
    <h2>Segundo Puesto</h2>
    <div class="title">Número de ediciones en 2º puesto</div>
  </div>

  {% set counts=['R.Unido', 'Ale', 'Esp', 'Sui', 'Irl', 'Fra', 'Isr', 'Rus', 'Ita', 'Bel', 'Ucr', 'Mal', 'Isl', 'Sue', 'Din', 'Nor', 'Mon', 'Tur', 'Aze', 'Pol', 'S&M'] %}
  {% set countsReal=['Reino Unido', 'Alemania', 'España', 'Suiza', 'Irlanda', 'Francia', 'Israel', 'Rusia', 'Italia', 'Bielorrusia', 'Ucrania', 'Malta', 'Islandia', 'Suecia', 'Dinamarca', 'Noruega', 'Monaco', 'Turquía', 'Azerbaiyán', 'Polonia', 'Serbia & Montenegro'] %}
  {% set countYears=[
    [1959, 1960, 1961, 1964, 1965, 1968, 1970, 1972, 1975, 1977, 1988, 1989, 1992, 1993, 1998],
    [1980,1981,1985,1987], [1971,1973,1979,1995], [1958,1963,1969,1986], [1967,1984,1990,1997],
    [1957,1976,1990],[1982,1983,1991],[2000,2006,2012],
    [1974,2011],[1978,2003],[2007,2008],[2002,2005],[1999,2009],
    [1966],[2001],[1996],[1962],[2010],[2013],[1994],[2004]
  ] %}
  {% set maxHeight = 450 %}

  <div class="graph" style="height: 516px">
    <div class="graph-texts">
      <p class="graph-text graph-text-1">Reino Unido es el país que más segundos puestos se ha anotado, un total de 15. Aun así, en su haber tiene 5 victorias.</p>
      <p class="graph-text graph-text-2">Le siguen Alemania, España y Suiza, cada uno con 4 "subcampeonatos" eurovisivos.</p>
      <p class="graph-text graph-text-3">Por su parte, Irlanda, Francia, Israel y Rusia tiene cada uno 3 segundas posiciones.</p>
      <p class="graph-text graph-text-4">Los países que nunca han ganado en la historia del festival y se han quedado a las puertas son Islandia (2), Malta (2), Polonia (1) y Serbia & Montenegro (1).</p>
    </div>

    <div class="hvr"></div>

    <div class="graph-bar-wrap">
      {% for i in 0..14 %}
        <div class="graph-bar"><span class="graph-bar-tit">{{ 15 - i }}</span></div>
      {% endfor %}
    </div>

    {% for count in counts %}

      {% if countYears[loop.index-1]|length > 5 %}
        {% set width = 72 %}
      {% else %}
        {% set width = 22 + (countYears[loop.index-1]|length * 8) %}
      {% endif %}

      <div class="graph-circ graph-circ-main graph-circ-{{loop.index}}" 
          style="display: inline-block; width: {{width}}px; height: {{width}}px; margin-top: -{{width/2}}px">
        <span>{{count}}</span>
        <div class="hvr-sct"></div>

        {% for year in countYears[loop.index-1] %}
          <div class="govideo2 graph-circ-hid graph-circ graph-circ-{{loop.parent.loop.index-1}}-{{loop.index}}"
            data-year="{{ countYears[loop.parent.loop.index-1][loop.index-1] }}" data-country="{{ countsReal[loop.parent.loop.index-1] }}">{{ countYears[loop.parent.loop.index-1][loop.index-1] }}
          </div>
        {% endfor %}
      </div>
    {% endfor %}

    <style>

      {% set elmWidt = 62 %}
      {% set elms = 0 %}

      {% for count in counts %}

        {% if countYears[loop.index-1]|length > 5 %}
          {% set width = 72 %}
        {% else %}
          {% set width = 22 + (countYears[loop.index-1]|length * 8) %}
        {% endif %}

        {% if elms != countYears[loop.index-1]|length %}
          {% set pos = 0 %}
          {% set elms = countYears[loop.index-1]|length %}
          {% set isEven = countYears[loop.index-1]|length % 2 %}
        {% else %}
          {% set pos = pos + 1 %}
        {% endif %}

        {% if isEven %}
          {% set left = ((624 / 2) + elmWidt) %}
        {% else %}
          {% set left = ((624 + elmWidt )/ 2 ) %}
        {% endif %}
        {% if pos % 2 %}
          {% set left = left - ( (pos) * (elmWidt/2)) %}
        {% else %}
          {% set left = left + ( (pos+1) * (elmWidt/2)) %}
        {% endif %}

        {% if countYears[loop.index-1]|length > 5 %}
          {% set isEngland = true %}
          {% set baseLeft = 2.5 * elmWidt - 15 %}
          {% set width = 72 %}
          {% set left = left - 34 %}
        {% else %}
          {% set width = 22 + (countYears[loop.index-1]|length * 8) %}
          {% set baseLeft = (countYears[loop.index-1]|length / 2) * elmWidt %}
          {% set isEngland = false %}
        {% endif %}
        {% if countYears[loop.index-1]|length == 3 %}
          {% set left = left - 54 %}
        {% endif %}

        #sct-mostseconds .graph-circ-{{loop.index}} {
          bottom: {{ (countYears[loop.index-1]|length * (maxHeight / countYears[0]|length)) - (width/2) -35 }}px;
          left: {{ left }}px;
          padding-top: {{ width/3 }}px;
          
        }
        #sct-mostseconds.sct-active .graph-circ-{{loop.index}} {
          -webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; -o-transition: all 1s ease-out; transition: all 1s ease-out;
          -webkit-transition-delay: {{ 0.2 * loop.index }}s; -moz-transition-delay: {{ 0.2 * loop.index }}s; -o-transition-delay: {{ 0.2 * loop.index }}s; transition-delay: {{ 0.2 * loop.index }}s; 
        }
        #sct-mostseconds .graph-circ-{{loop.index}} .hvr-sct { 
          position: absolute; display: none;
          left: -{{ baseLeft + (elmWidt/2) }}px; 
          width: {% if isEngland %}400px{% else %}{{ 50 + countYears[loop.index-1]|length * elmWidt }}px{% endif %}; 
          height: {% if isEngland %}280px{% else %}{{ 50 + elmWidt }}px{% endif %};
          {% if isEngland %}top:20px{% else %}top: inherit; bottom:0px{% endif %};
        }

        {% for year in countYears[loop.index-1] %}

          {% set lft2 = 60 * ((loop.index-1) % 5) | number_format(0) %}
          {% set top = (((loop.index-1) / 5) - 0.49) | number_format() %}

          #sct-mostseconds .graph-circ-{{loop.parent.loop.index-1}}-{{loop.index}} { }

          #sct-mostseconds .graph-circ-main:hover .graph-circ-{{loop.parent.loop.index-1}}-{{loop.index}} {
            -webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; -o-transition: all 1s ease-out; transition: all 1s ease-out;
            {% if isEngland %}top:{{ 90 + (top * 60) }}px{% else %}top: inherit; bottom:{{ 60 + (top * 60) }}px{% endif %}; left: {{ lft2 - baseLeft + (elmWidt/2) }}px;
            -webkit-transition-delay: {{ 0.3 * loop.index }}s; -moz-transition-delay: {{ 0.3 * loop.index }}s; -o-transition-delay: {{ 0.3 * loop.index }}s; transition-delay: {{ 0.3 * loop.index }}s; }

        {% endfor %}
      {% endfor %}
      
    </style>
  </div>
<p class="hazclick2">Haz click en la bola y la fecha para ver el vídeo</p>    
</div>

<script>
  var sctsCbs = sctsCbs ? sctsCbs : {};
  sctsCbs.mostseconds = {
    init: function(){ 

      var $sect = $('#sct-mostseconds');

      if(!$sect.hasClass('sct-processed')) {

        $sect.addClass('sct-processed');

        $sect.find('.graph-circ-main').hover(function(){
          $sect.addClass('hover');
        },function(){
          $sect.removeClass('hover');
        })
      }
    }
  }

</script>