<div id="sct-mostwins" class="bl-mostwins bl-sct sct-vid" data-callbackin="sctsCbs.mostwins.init" data-callbackout="sctsCbs.mostwins.out" data-url="">

  <a href="#" class="butt goto-link" data-goto="#sct-mostwins-main">Siguiente</a>
  <div class="circ"><span>Irlanda</span>campeona</div>
  <div class="wrap-right">
    <h2>¿Qué país ha ganado más veces?</h2>
    <p>Irlanda es el país más exitoso en la historia del Festival de Eurovisión con un total de siete victorias, tres de ellas consecutivas entre 1992 y 1994.   Además en 18 de sus 45 participaciones han quedado entre las diez primeras posiciones. Aunque ojo, no ganan desde 1996.</p>
    <div class="video"></div>
  </div>
</div>

<script>
  var sctsCbs = sctsCbs ? sctsCbs : {};
  sctsCbs.mostwins = {
    init: function(){

      var $sect = $('#sct-mostwins');

      if(!$sect.hasClass('sct-processed')) {


        var $vidgen = labTools.media.generaVideo($sect.find('.video'), 'http://video.lab.rtve.es/resources/TE_NGVA/mp4/2014/eurovision/euro_ganador', {controls: 'auto', autoplay: true });

        $vidgen.find('video')
          .css({width: '580',height: '330'});


        $sect.addClass('sct-processed');

      }

    },
    out: function() {

      var $sect = $('#sct-mostwins');

      $sect.find('video')[0].pause();
    }
  };

</script>