<div id="sct-mostsuccessfulvoted" class="bl-mostsuccessfulvoted bl-sct sct-vid" data-callbackin="sctsCbs.mostsuccessfulvoted.init" data-url="">

  {% set graphs = [
    {'val': 18, 'total': 43, 'name': 'Suiza'},
    {'val': 18, 'total': 53, 'name': 'Reino Unido'},
    {'val': 16, 'total': 43, 'name': 'Alemania'},
    {'val': 15, 'total': 47, 'name': 'Suecia'},
  ] %}
  {% set widthElm = 10 %}

  {% for graph in graphs %}

    <div class="bl-sucessfull clearfix bl-sucessfull-{{ loop.index }}" data-value="{{ graph.val }}" data-total="{{ graph.total }}" data-name="{{ graph.name }}">

      <div class="bl-sucessgraph wk-col-l">
        <svg>
          <circle cx="50" cy="50" r="50" fill="#612C40"/>
          <path fill="#2C2C2C" d="M50,50 A0,0 0 0,1 50,50 L131.96480178454794,107.28674601004812 A100,100 0 0,0 132.5335614909677,106.46424733950346Z" />
        </svg>
        <span class='bl-gh-val'>{{ (100 * graph.val / graph.total) | number_format(2) }}%</span>
      </div>

      <h3 class="wk-col-l">{{ graph.name }}</h3>

      <div class="bl-sucesstotal wk-col-l">
        <div class="bl-total">
          <span>{{ graph.val }} aciertos</span>
        </div>
        <div class="bl-actierto">
          {% for i in 0..graph.total %}
            <div class="bl-actierto-elm wk-col-l{% if i < graph.val -1 %} bl-actierto-elm-white{% endif %}"></div>
          {% endfor %}
          <span>{{ graph.total }} participaciones</span>
        </div>
      </div>

    </div>
    
  {% endfor %}

  <style>
    {% for graph in graphs %}
      .sct-active .bl-sucessfull-{{ loop.index }} .bl-total { width: {{ graph.val * widthElm }}px; 
          -webkit-transition-delay: {{ 0.5 * loop.index }}s; -moz-transition-delay: {{ 0.5 * loop.index }}s; -o-transition-delay: {{ 0.5 * loop.index }}s; transition-delay: {{ 0.5 * loop.index }}s; 
      }
    {% endfor %}
    
  </style>

  <div class="graph-texts">

    <p class="graph-text graph-text-1">Ojo porque no siempre los doce puntos ha sido la máxima puntuación, dado que la dinámica de las votaciones ha<br>variado mucho. En las primeras ediciones, el máximo era 7 pero hubo años en que esta cifra incluso bajó a 5 puntos</p>
    <p class="graph-text graph-text-2">¿Qué países han acertado menos dando los 12 puntos al ganador de la noche? 7 países registran la menor tasa de acierto, habiendo apoyado 1 sola vez con 12 puntos a un ganador. Todos ellos son países de reciente incorporación: Eslovaquia, Mónaco, Albania, Bulgaria, Serbia, Montenegro y Armenia</p>
  </div>

</div>

<script>
  var sctsCbs = sctsCbs ? sctsCbs : {};
  sctsCbs.mostsuccessfulvoted = {
    init: function(){ 

      var $sect = $('#sct-mostsuccessfulvoted');

      $sect.find('.bl-sucessfull').each(function(){

        var rad = 100;
        var widthElm = 10;

        var $this = $(this);
        var data = $this.data();

        var svg = Snap($this.find('svg')[0]);
        var path = Snap($this.find('svg path')[0]);

        var endVal = 2 * Math.PI * data.value / data.total;
console.log(endVal, data.total, data.value)
        svg.attr({'width': 100, 'height': 100})//rphArc  = function (a_start,a_end,centro_x,centro_y,radio,grosor)
        path.attr({d: rphArc(0, endVal, 50, 50, 0 ,50), fill: '#fe2979'})

      })

    }
  }

</script>