<div id="sct-mostscored" class="bl-mostscored bl-sct sct-vid" data-callbackin="sctsCbs.mostscored.init" data-callbackout="sctsCbs.mostscored.out" data-url="">
  <a href="#" class="butt goto-link" data-goto="#sct-mostscored2">Siguiente</a>
  <div class="circ"><span>387</span>PUNTOS</div>
  <div class="wrap-right">
    <h2>Noruega, 2009</h2>
    <p>‘Fairytale’, la canción que interpretó Alexander Rybak en 2009 representando a Noruega, batió todos los récords de puntuación: 387 puntos. Todos los países que votaron, un total de 42 tras la ampliación de las dos semifinales, le dieron puntos.</p>
    <div class="video"></div>
  </div>
</div>

<script>
  var sctsCbs = sctsCbs ? sctsCbs : {};
  sctsCbs.mostscored = {
    init: function(){

      var $sect = $('#sct-mostscored');

      if(!$sect.hasClass('sct-processed')) {


        var $vidgen = labTools.media.generaVideo($sect.find('.video'), 'http://video.lab.rtve.es/resources/TE_NGVA/mp4/2014/eurovision/euro_votado', {controls: 'auto', autoplay: true })
        $vidgen.find('video')
          .css({width: '580',height: '330'});


        $sect.addClass('sct-processed');

      }

    },
    out: function() {

      var $sect = $('#sct-mostscored');

      $sect.find('video')[0].pause();
    }
  };

</script>