
<div id="sct-mostzeros-main" class="bl-mostzeros-main bl-sct sct-vid" data-url="" data-callbackin="sctsCbs.mostzerosMain.init" >

  <div class="head">
    <div class="title1">Número de ediciones con 0 puntos</div>
    <div class="title2">21 países no han ganado nunca Eurovisión, y el que más veces lo ha intentado ha sido Portugal: 46 veces hasta el año 2012 y no ha ganado nunca.</div>
  </div>

  {% set counts=['NOR', 'AUS', 'ESP', 'FIN', 'SUI', 'ALE', 'BEL', 'HOL', 'POR', 'TUR', 'ITA', 'ISL', 'LIT', 'LUX', 'MON', 'R.U.', 'SUE', 'YUG'] %}
  {% set countsReal=['Noruega', 'Austria', 'España', 'Finlandia', 'Suiza', 'Alemania', 'Bélgica', 'Holanda', 'Portugal', 'Turquía', 'Italia', 'Islandia', 'Lituania', 'Luxemburgo', 'Monaco', 'Reino Unido', 'Suecia','Yugoslavia'] %}
  {% set countYears=[
    [1966,1978,1981,1997], 
    [1962,1968,1981],[1962,1965,1983],[1963,1965,1982],[1964,1967,1998],
    [1964,1965],[1962,1965],[1962,1963],[1964,1997],[1983,1987],
    [1966],[1989],[1994],[1970],[1966],[2003],[1963],[1964]
  ] %}
  {% set maxHeight = 450 %}

    <div class="graph" style="height: 385px;">

    <div class="hvr"></div>

    <div class="graph-bar-wrap">

      {% for i in 0..3 %}
        <div class="graph-bar"><span class="graph-bar-tit">{{ 4-i }}</span></div>
      {% endfor %}
      {% for i in 0..7 %}
          <div class="graph-bar-vert"></div>
      {% endfor %}      


    {% for count in counts %}

      {% if countYears[loop.index-1]|length > 3 %}
        {% set width = 70 %}
        {% set marginbottom = -80 %}
        {% set paddingtop = 24 %}        
        {% set marginright = -226 %}        
      {% elseif countYears[loop.index-1]|length > 2 %}
        {% set width = 20 + (countYears[loop.index-1]|length * 10) %}
        {% set marginbottom = -70 %}
        {% set marginright = -109 %}
        {% set paddingtop = 18 %}             
      {% elseif countYears[loop.index-1]|length > 1 %}
        {% set width = 20 + (countYears[loop.index-1]|length * 10) %}
        {% set marginbottom = -45 %}
        {% set marginright = -125 %} 
        {% set paddingtop = 11 %}                     
      {% else %}
        {% set width = 20 + (countYears[loop.index-1]|length * 12) %}
        {% set marginbottom = -15 %}         
        {% set marginright = -30 %}     
        {% set paddingtop = 8 %}                       

      {% endif %}

      <div class="graph-circ graph-circ-main graph-circ-{{loop.index}}" 
          style="display: inline-block; width: {{width}}px; height: {{width}}px; margin-bottom: {{marginbottom}}px; margin-right: {{marginright}}px;  padding-top: {{paddingtop}}px;">
        <span>{{count}}</span>
        <div class="hvr-sct"></div>

        {% for year in countYears[loop.index-1] %}
          <div class="govideo2 graph-circ-hid graph-circ graph-circ-{{loop.parent.loop.index-1}}-{{loop.index}}"
            data-year="{{ countYears[loop.parent.loop.index-1][loop.index-1] }}" data-country="{{ countsReal[loop.parent.loop.index-1] }}">{{ countYears[loop.parent.loop.index-1][loop.index-1] }}
          </div>
        {% endfor %}
      </div>
    {% endfor %}

    <style>

      {% set elmWidt = 62 %}
      {% set elms = 0 %}

      {% for count in counts %}

        {% if countYears[loop.index-1]|length > 3 %}
          {% set width = 80 %}
        {% else %}
          {% set width = 40 + (countYears[loop.index-1]|length * 10) %}
        {% endif %}

        {% if elms != countYears[loop.index-1]|length %}
          {% set pos = 0 %}
          {% set elms = countYears[loop.index-1]|length %}
          {% set isEven = countYears[loop.index-1]|length % 2 %}
        {% else %}
          {% set pos = pos + 1 %}
        {% endif %}

        {% if isEven %}
          {% set right = ((624 / 2) + elmWidt) %}
        {% else %}
          {% set right = ((624 + elmWidt )/ 2 ) %}
        {% endif %}
        {% if pos % 2 %}
          {% set right = right - ( (pos) * (elmWidt/2)) %}
        {% else %}
          {% set right = right + ( (pos+1) * (elmWidt/2)) %}
        {% endif %}

        {% if countYears[loop.index-1]|length > 3 %}
          {% set isNoruega = true %}
          {% set baseRight = 2.5 * elmWidt - 15 %}
          {% set width = 100 %}
          {% set right = right - 34 %}
        {% else %}
          {% set width = 22 + (countYears[loop.index-1]|length * 8) %}
          {% set baseRight = (countYears[loop.index-1]|length / 2) * elmWidt %}
          {% set isNoruega = false %}
        {% endif %}
        {% if countYears[loop.index-1]|length == 3 %}
          {% set right = right - 54 %}
        {% endif %}

        #sct-mostzeros-main .graph-circ-{{loop.index}} {
          bottom: {{ (countYears[loop.index-1]|length * (maxHeight / countYears[0]|length)) - (width/2) -35 }}px;
          right: {{ right }}px;
          margin-right: {{(loop.index-1) * 80}}px
          padding-top: {{ width/3 }}px;
          
        }
        #sct-mostzeros-main.sct-active .graph-circ-{{loop.index}} {
          -webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; -o-transition: all 1s ease-out; transition: all 1s ease-out;
          -webkit-transition-delay: {{ 0.2 * loop.index }}s; -moz-transition-delay: {{ 0.2 * loop.index }}s; -o-transition-delay: {{ 0.2 * loop.index }}s; transition-delay: {{ 0.2 * loop.index }}s; 
        }
        #sct-mostzeros-main .graph-circ-{{loop.index}} .hvr-sct { 
          position: absolute; display: none;
          right: -{{ baseRight + (elmWidt/2) }}px; 
          width: {% if isNoruega %}400px{% else %}{{ 50 + countYears[loop.index-1]|length * elmWidt }}px{% endif %}; 
          height: {% if isNoruega %}180px{% else %}{{ 50 + elmWidt }}px{% endif %};
        }

        {% for year in countYears[loop.index-1] %}

          {% set lft2 = 80 * ((loop.index-1) % 4) | number_format(0) %}
          {% set bottom = (((loop.index-1) / 4) - 0.49) | number_format() %}

          #sct-mostzeros-main .graph-circ-{{loop.parent.loop.index-1}}-{{loop.index}} { }

          #sct-mostzeros-main .graph-circ-main:hover .graph-circ-{{loop.parent.loop.index-1}}-{{loop.index}} 
          {
            -webkit-transition: all 1s ease-out;
            -moz-transition: all 1s ease-out;
            -o-transition: all 1s ease-out;
            transition: all 1s ease-out;

            {% if isNoruega %}
              top:{{ 90 + (bottom * 80) }}px
            {% else %}
              top: inherit; 
              top:{{ 60 + (bottom * 60) }}px
            {% endif %}; 
            {% if isNoruega %}
              left: {{ +lft2 - baseRight}}px;
              margin-right: 20px;
            {% else %}
              left: {{ +lft2 - baseRight  }}px;
            {% endif %};             
            -webkit-transition-delay: {{ 0.3 * loop.index }}s;
             -moz-transition-delay: {{ 0.3 * loop.index }}s;
             -o-transition-delay: {{ 0.3 * loop.index }}s; 
             transition-delay: {{ 0.3 * loop.index }}s;
          }

        {% endfor %}
      {% endfor %}
      
    </style>
<p class="hazclick2">Haz click en la bola y la fecha para ver el vídeo</p>      
  </div>

  <div class="title">Fiascos de España</div>

  <div class="temazo2">
    <p class="bl-vids-vid-title ng-binding">1962</p>
    <p class="bl-vids-vid-title-details">Victor Balaguer<br>Llámame</p>        
      <div class="bl-vids-vid-wrap">
        <img ng-src="https://i.ytimg.com/vi/1bqOFeTvXmA/hqdefault.jpg" alt="" src="https://i.ytimg.com/vi/1bqOFeTvXmA/hqdefault.jpg">
        <a  href="#" class="govideo" data-year="1962" data-country="España"  title="Ver video">Ver el video</a>        
      </div>
  </div>
  <div class="temazo2">
    <p class="bl-vids-vid-title ng-binding">1965</p>
    <p class="bl-vids-vid-title-details">Conchita Bautista<br>Qué bueno, qué bueno</p>      
      <div class="bl-vids-vid-wrap">
        <img ng-src="https://i.ytimg.com/vi/QMuUJerzXr8/hqdefault.jpg" alt="" src="https://i.ytimg.com/vi/QMuUJerzXr8/hqdefault.jpg">
        <a href="#" class="govideo" data-year="1965" data-country="España"  title="Ver video">Ver el video</a>         
      </div>
  </div>
  <div class="temazo2">
    <p class="bl-vids-vid-title ng-binding">1983</p>
    <p class="bl-vids-vid-title-details">Remedios Amaya<br>¿Quién maneja mi barca?</p>           
      <div class="bl-vids-vid-wrap">   
        <img ng-src="https://i.ytimg.com/vi/B3-0DLbQP2E/hqdefault.jpg" alt="" src="https://i.ytimg.com/vi/B3-0DLbQP2E/hqdefault.jpg" style="z-index:1!important">
        <a href="#" class="govideo" data-year="1983" data-country="España"  title="Ver video">Ver el video</a> 
        </img>
      </div>
  </div>    
</div>

<script>
  var sctsCbs = sctsCbs ? sctsCbs : {};
  sctsCbs.mostzerosMain = {
    init: function(){ 

      $('.bl-main-menu').find('[data-goto="#sct-mostzeros"]').addClass('act');
      
      var $sect = $('#sct-mostzeros-main');

      if(!$sect.hasClass('sct-processed')) {

        $sect.addClass('sct-processed');

        $sect.find('.graph-circ-main').hover(function(){
          $sect.addClass('hover');
        },function(){
          $sect.removeClass('hover');
        })
      }
    }
  }

</script>

</div>