<div id="sct-mostscored2" class="bl-mostscored2 bl-sct sct-vid" data-callbackin="sctsCbs.mostscored2.init" data-url="">

  <div class="ttip-mini">France Gall<br>Poupée de cire, poupée de son - (1965)</div>

  <svg id="svg" xmlns="http://www.w3.org/2000/svg">
  	<defs>
  		<linearGradient x1="1" y1="1" x2="1" y2="0" id="Shumi2zjd3">
  			<stop offset="0%" stop-color="#303030"></stop>
  			<stop offset="100%" stop-color="#772e4b"></stop>
  		</linearGradient>
  	</defs>
  </svg>

  
  <div class="irlanda">Irlanda<br/>fue la primera<br/>en superar los<br/>200 puntos
    <a href="#" class="govideo" data-year="1994" data-country="Irlanda" title="Ver video">Ver el video</a>
  </div>

  <div class="monaco">Mónaco<br/>fue la primera<br/>en superar los<br/>100 puntos
    <a href="#" class="govideo" data-year="1977" data-country="Mónaco" title="Ver video">Ver el video</a>
  </div>
 <p class="hazclick" style="bottom:40px;left:105px">Haz click sobre la barra para ver el vídeo</p>
</div>

<script>
  var sctsCbs = sctsCbs ? sctsCbs : {};
  sctsCbs.mostscored2 = {
    init: function(){

      labTools.console.log('nit mostscored');


      $('.bl-main-menu').find('[data-goto="#sct-mostscored"]').addClass('act');

      var points = [387,372,292,281,280,272,268,263,259,252,248,246,235,234,230,230,229,227,226,221] 
      var countries = ["Noruega","Suecia","Finlandia","Dinamarca","Ucrania","Rusia","Serbia","Serbia & Montenegro","Rusia","Grecia","Rusia","Alemania","Ucrania","Azerbaiyán","Grecia","Ucrania","Bosnia & Herzegovina","Reino Unido","Irlanda","Azerbaiyán"] 
      var years = ["2009","2012","2006","2013","2004","2008","2007","2004","2012","2004","2006","2010","2007","2013","2005","2008","2006","1997","1994","2011"]     

      var s = Snap('#svg');
      var point = 500 - points[0];
      var rect = ""; 
      var text = points[0];
      var country = countries[0]
      var year = years[0]
      var my_fill="";
      var my_vid="";
      var country_song="";
      var year_song="";
      for (var i=0; i<points.length; i++){
          point = 500 - points[i];
          var x1 = 100+31*[i];
          var y1 = 500;
          var x2 = x1+30;
          rect = "M"+ x1 +",500L"+ x1 +","+ point +"L"+ x2 +","+ point +"L"+ x2 +",500Z"; 
          s.path(rect).attr({
            'fill':'rgba(254, 41, 121, 0.1)',
            'stroke-width':'0',
            'data-year': years[i],
            'data-country': countries[i],
            'alt':'Haz click para ver el video de '+countries[i]
          })
          s.text(x1+16,point-5,points[i]).attr({'class':'points'});
          if (countries[i] == "Serbia & Montenegro"){
          s.text(x1+16,518,'S&M').attr({'class':'points','title':'S&M'});           
          }
          else if (countries[i] == "Reino Unido"){
            s.text(x1+16,518,'RU').attr({'class':'points','title':'RU'}); 
          }
          else{
            s.text(x1+16,518,countries[i].toUpperCase().substr(0,3)).attr({'class':'points','title':countries[i]});           
          }
     
      }
      $('svg path').click(function(){
        country_song = $(this).attr('data-country');
        year_song = $(this).attr('data-year')          
        evData.dataTools.videoPopup(year_song,country_song)
      }).hover(function(e){

        my_fill = $(this).attr('fill');
        $(this).attr('fill','#772e4b');

        var $this = $(this);
        var $wrap = $this.parents('.bl-sct');
        var $ttip = $wrap.find('.ttip-mini');

        var song = evData.dataTools.getSong($this.data('year'), $this.data('country'));

        if(!song) return;

        var thisPos = $this.offset();
        var wrapPos = $wrap.offset();
        var posX = thisPos.left - wrapPos.left;
        var posY = thisPos.top - wrapPos.top;

        if (posX > 400) {
          posX = posX - 270;
          $ttip.addClass('left');
        } else {
          posX = posX + 40;
          $ttip.removeClass('left');
        }

        $ttip
          .html(song['artista'] + '<br>"' + song['titulo'] + '" (' + song['year'] + ')')
          .css({'top': posY + 100, 'left': posX})
          .stop(false, false)
          .fadeIn(400);

      }, function(){

        var $this = $(this);
        var $wrap = $this.parents('.bl-sct');
        var $ttip = $wrap.find('.ttip-mini');

        $ttip.stop(false, false).fadeOut(400);
        
        $this.attr('fill', my_fill);
      });

      var c = s.el("circle").attr({cx: 550,  cy: 100}).animate({fill: "#d02d71", r:89, 'opacity':0.9},1500);
      var c = s.el("circle").attr({cx: 740,  cy: 125}).animate({fill: "#d02d71", r:66, 'opacity':0.9},1500);  
    
      s.text(550,130,"200").attr({'class':'dosct'});
      s.text(740,150,"100").attr({'class':'cien'});
      s.line(80,500,80,500).attr({'stroke-width':'1.5'}).animate({x1:750,y1:500,opacity:1},1000);
      s.line(80,400,80,400).attr({'stroke-width':'0.3'}).animate({x1:750,y1:400,opacity:1},1000)
      s.line(80,300,80,300).attr({'stroke-width':'0.2'}).animate({x1:750,y1:300,opacity:1},1000);
      s.line(80,200,80,200).attr({'stroke-width':'0.1'}).animate({x1:750,y1:200,opacity:1},1000); 
      s.line(80,100,80,100).attr({'stroke-width':'0.1'}).animate({x1:750,y1:100,opacity:1},1000); 
    },
    out: {}
  };

</script>