<div id="sct-mostsales" class="bl-mostsales bl-sct sct-vid" data-url="">

  <div class="sales-left">

    <div class="bl-sale bl-sale-1">
      <div class="graph-circ">1976<span>“Save your<br>kisses for me”</span>Brotherhood<br>of man</div>
      <a href="#" class="govideo" data-year="1976" data-country="Reino Unido"  title="Ver video">Ver el video</a>
      <p class="bl-sale-ventas">6 mill.<span> copias</span></p>
    </div>

    <div class="bl-sale bl-sale-2">
      <div class="graph-circ">1974<span>"Waterloo"</span>ABBA</div>
      <a href="#" class="govideo" data-year="1974" data-country="Suecia"  title="Ver video">Ver el video</a>
      <p class="bl-sale-ventas">5 mill.<span> copias</span></p>
    </div>

    <div class="bl-sale bl-sale-3">
      <div class="graph-circ">2012<span>"Euphoria"</span>Loreen</div>
      <a href="#" class="govideo" data-year="2012" data-country="Suecia" title="Ver video">Ver el video</a>
      <p class="bl-sale-ventas">2 mill.<span> copias</span></p>
    </div>

  </div>

  <div class="sales-right">

    <div class="bl-sale bl-sale-4">
      <div class="graph-circ">1958<span>“Nel blu<br>dipinto di blu”</span>Domenico<br>Modugno</div>
      <a href="#" class="govideo" data-year="1958" data-country="Italia" title="Ver video">Ver el video</a>
      <p class="bl-sale-ventas">22 mill.<span> copias vendidas entre las versiones del tema</span></p>
      <div class="bl-sale-extra"></div>
    </div>
  </div>

  <div class="bl-texts">
    <p class="bl-text bl-text-1">Entre otros David Bowie, Paul McCartney o Luciano Pavarotti versionaron el tema de Domenico Modugno, lo que sitúa la cifra de ventas en 22 millones de copias.</p>
  </div>
</div>