<div id="sct-neverlostfestival" class="bl-neverlostfestival bl-sct sct-vid" data-callbackin="sctsCbs.neverlost.init" data-url="">
  
  <div class="head">
    <div class="firsts">Nunca se lo pierden</div>
  </div>

  {% set numElms = 15 %}
  {% set maxHeight = 300 %}
  {% set pLen = numElms %}
  {% set pMin = partis[0].count %}
  {% set pMax = partis[numElms-1].count %}
  {% set pHalf = pMin - ((pMin - pMax)/2) %}

  <div class="graph" style="height: 516px">

    <div class="graph-texts">
      <p class="graph-text graph-text-1">Contando con la edición de 2014, Alemania es el clásico de Eurovisión con 58 participaciones (solo se perdieron la edición de 1996), seguida de Francia (57), Reino Unido (57), Bélgica (56), Suiza (55), Países Bajos (55), España (54) y Suecia (54). </p>
      <p class="graph-text graph-text-2">En contraposición, el único país que solo ha participado una vez en Eurovisión es Marruecos: 1 vez en 1980. Le siguen República Checa en 3 ocasiones, y Serbia y Montenegro, que hasta su separación participó dos veces en el certamen.</p>
    </div>

    <div class="hvr"></div>

    <div class="graph-bar-wrap">

      {% for i in pMin..pMax %}
        <div class="graph-bar"><span class="graph-bar-tit">{{ i }}</span></div>
      {% endfor %}

    </div>

    {% for count in partis | slice(0, numElms) %}

      <div class="graph-circ graph-circ-main graph-circ-{{loop.index}}">

  
        {% if (count.name != 'Reino Unido') %}
          <span>{{ count.name | slice(0,3) }}</span>
        {% else %}
          <span>R.Unido</span>
        {%endif %}

        <div class="hvr-sct"></div>

        {% for year in count.yrs %}

          <div class="govideo2 graph-circ-hid graph-circ graph-circ-{{loop.parent.loop.index}}-{{loop.index}}"
            data-year="{{ year }}" data-country="{{ count.name }}">{{ year }}</div>

        {% endfor %}

      </div>

    {% endfor %}

    <style>

      {% set elmWidt = 120 %}
      {% set prevPos = 0 %}

      {% for count in partis | slice(0, numElms) %}

        {% set cVal = count.count %}

        {% set isBelowHalf = cVal >= pHalf %}

        {% set width = (2 * (cVal - pMax)) + 40 %}

        {% if prevPos != count.yrs | length %}
          {% set pos = 0 %}
          {% set prevPos = count.yrs | length %}
        {% else %}
          {% set pos = pos + 1 %}
        {% endif %}

        {% if count.yrs | length % 2 %}
          {% set left = ((424 / 2) + elmWidt) %}
        {% else %}
          {% set left = ((424 + elmWidt )/ 2 ) %}
        {% endif %}
        {% if pos % 2 %}
          {% set left = left + ( (pos+1) * (elmWidt/2)) %}
        {% else %}
          {% set left = left - ( (pos) * (elmWidt/2)) %}
        {% endif %}

        {% set baseLeft = (count.count | length % 8) * elmWidt %}

         #sct-neverlostfestival .graph-circ-{{loop.index}} {
          width: {{ width }}px;
          height: {{ width }}px;
          bottom: {{ (cVal - pMax) * (maxHeight / pLen) }}px;
          left: {{ left }}px;
          padding-top: {{ width/3 }}px;
          margin-left: -{{width/2}}px;
        }

        #sct-neverlostfestival.sct-active .graph-circ-{{loop.index}} {
          -webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; -o-transition: all 1s ease-out; transition: all 1s ease-out;
          -webkit-transition-delay: {{ 0.2 * loop.index }}s; -moz-transition-delay: {{ 0.2 * loop.index }}s; -o-transition-delay: {{ 0.2 * loop.index }}s; transition-delay: {{ 0.2 * loop.index }}s; 
        }

        #sct-neverlostfestival .graph-circ-{{loop.index}} .hvr-sct { 

          left: -{{ baseLeft + (elmWidt/2) }}px; 
          width: 400px; 
          height: 280px;

          {% if isBelowHalf %}
            top: 20px
          {% else %}
            top: inherit; bottom: 0px
          {% endif %};
        }

        {% for year in count.yrs %}
          {% set elmWidt2 = 60 %}

          {% set lft2 = elmWidt2 * ((loop.index-1) % 8) | number_format(0) %}
          {% set top = (((loop.index-1) / 8) - 0.49) | number_format() %}

          #sct-neverlostfestival .graph-circ-main:hover .graph-circ-{{loop.parent.loop.index}}-{{loop.index}} {
            
            {% if isBelowHalf %}
              top:{{ 90 + (top * elmWidt2*0.8) }}px;
            {% else %}
              top: inherit; bottom:{{ elmWidt2 + (top * elmWidt2*0.9) }}px;
            {% endif %}

            left: {{ lft2 - baseLeft + (elmWidt2/2) }}px;

            -webkit-transition: all 1s ease-out; -moz-transition: all 1s ease-out; -o-transition: all 1s ease-out; transition: all 1s ease-out;
            -webkit-transition-delay: {{ 0.2 * loop.index }}s; -moz-transition-delay: {{ 0.2 * loop.index }}s; -o-transition-delay: {{ 0.2 * loop.index }}s; transition-delay: {{ 0.2 * loop.index }}s; }

        {% endfor %}
      {% endfor %}
      
    </style>
  </div>
</div>

<script>
  var sctsCbs = sctsCbs ? sctsCbs : {};
  sctsCbs.neverlost = {
    init: function(){ 

      var $sect = $('#sct-neverlostfestival');

      if(!$sect.hasClass('sct-processed')) {

        $sect.addClass('sct-processed');

        $sect.find('.graph-circ-main').hover(function(){
          $sect.addClass('hover');
        },function(){
          $sect.removeClass('hover');
        })
      }
    }
  }

</script>