<div id="sct-numbersspain-main" class="bl-numbersspain-main bl-sct sct-vid" data-callbackin="sctsCbs.numberssp2.init" data-url="">
  
  <p>La primera vez que España viaja a Eurovisión es en el año 1961. Nuestra representante fue Conchita Bautista, con la canción "Estando Contigo" que obtuvo 8 puntos y le llevó al 9º puesto de aquel año.</p>
  <p style="display: block; position: absolute; bottom: 90px; left: 0; width: 215px">España solo ha ganado Eurovisión en dos ocasiones: en 1968, en Londres con la canción "La, La, La" interpretada por Massiel; y en 1969, el "Vivo Cantando" de Salomé, fue una de las cuatro ganadoras de aquella edición celebrada en Madrid, que se saldó con un irresoluble cuádruple empate. <br> También atesoramos cuatro segundos puestos, cuatro sextos, cuatro novenos y seis décimos.</p>
  <p style="display: block; position: absolute; right: 0; bottom: 200px; width: 250px; text-align: right;">En la última década la mejor marca de España ha sido un décimo puesto. Con Ramón en 2004 y con Pastora Soler en 2012.  En cuatro ocasiones hemos quedado los últimos, tres de ellas con cero votos.<br><br>

  <a href="#" data-toggleclass="bl-sct-extra-act" class="toggleclass moreinfo" title="Más información" style="display: block;float: right;"></a>
  </p>

  <div class="bl-spainvotes-extra bl-sct-extra">
    <a href="#" class="toggleclass closeextra wk-col-r" data-toggleclass="bl-sct-extra-act" title="cierra el video">X</a>
    <div class="wk-col-l wk-col-50">
      <h3>Cuántas veces hemos ganado</h3>
     <p>La primera vez que España viaja a Eurovisión es en el año 1961, para la sexta edición del festival. Aquel año también debutaron Yugoslavia y Finlandia, sumando así 16 países participantes en el certamen, todo un récord hasta aquel momento.</p>
      <p>Nuestra representante en aquel festival fue Conchita Bautista, que acudió con la canción “Estando Contigo”, que obtuvo 8 puntos y le llevó al 9º puesto de aquel año. Desde entonces, España ha acudido a la cita musical en 54 ocasiones, de manera ininterrumpida. Esto nos coloca como el segundo país que más tiempo lleva viajando a Eurovisión, solo por detrás de Reino Unido, que lleva haciéndolo desde 1959.</p>
      <h3>Ganadores</h3>
      <p>España solo ha salido vencedora de Eurovisión en dos ocasiones: en 1968, en Londres con la canción “La, La, La” interpretada por Massiel; y en 1969, el “Vivo Cantando” de Salomé, fue una de las cuatro ganadoras de aquella edición celebrada en Madrid, que se saldó con un irresoluble cuádruple empate.</p>

    </div>

    <div class="wk-col-l wk-col-50">
      <h3>España cerca de la victoria en Eurovisión</h3>
      <p>Tras estas dos victorias, nuestras mejores marcas también quedan muy atrás en el tiempo. Con otros ocho artistas, nuestro país ha pasado el corte del Top 5, quedando muy cerca de la victoria en cuatro ediciones: Julio Iglesias (1970 con “Gwendolyne - 4º puesto); Karina (1971, “En un mundo nuevo” - 2º puesto); Mocedades (1973, “Eres tú” - 2º puesto); Betty Misiego (1979, “Su canción” - 2º puesto); Bravo (1984, “Lady Lady” - 3er puesto); Azúcar Moreno (1990, “Bandido” - 5º puesto); Sergio Dalma (1991, “Bailar Pegados” - 4º puesto) y Anabel Conde (1995, “Vuelve conmigo” - 2º puesto). </p>
      <p>Desde entonces, España ha entrado en el Top 10 en seis ocasiones, viviendo una buena racha a partir del 6º puesto de David Civera en 2001 (con “Dile que la quiero”). Lograron mantener el listón tres alumnos de Operación Triunfo: Rosa López (2002, “Europe’s Living A Celebration” - 7º puesto), Beth (2003, “Dime” - 8º puesto) y Ramón (2004, “Para llenarme de ti” - 10º puesto). Solo Pastora Soler, en 2012 con “Quédate conmigo”, ha logrado igualar esta última marca en lo que llevamos de siglo.</p>
    </div>
    <h3>Y no tan cerca de la victoria</h3>
    <p>En cuatro ediciones, España ha quedado en la última posición de Eurovisión. El escarnio posterior recayó en Víctor Balaguer (1962, “Llámame” - 13º puesto con cero puntos), Conchita Bautista (que en 1965 se nos representó por segunda vez con “Qué bueno, qué bueno” - 15º puesto con cero puntos), Remedios Amaya (1983, “¿Quién maneja mi barca?” - 19º puesto con cero puntos) y Lydia (1999, “No quiero escuchar” - 23er puesto con 1 punto).</p>
  </div>

  <div class="g-circ-1 graph-circ"><span>Massiel</span> <br>La, La, La</div>
  <div class="g-circ-2 graph-circ">1968</div>
  <div class="g-circ-3 graph-circ">1969</div>
  <div class="g-circ-4 graph-circ"><span>Salomé</span><br>Vivo Cantando</div>
  <a href="#" class="govideo g-circ-5" data-year="1968" data-country="España" title="Ver video">Ver el video</a>
  <a href="#" class="govideo g-circ-6" data-year="1969" data-country="España" title="Ver video">Ver el video</a>

  <div class="g-mazzy">
    <div class="g-maz-elm-1 g-maz-elm"></div>
    <div class="g-maz-elm-2 g-maz-elm"></div>
    <div class="g-maz-elm-3 g-maz-elm"></div>
    <div class="g-maz-elm-4 g-maz-elm"></div>
  </div>

  <div class="g-shalom">
    <div class="g-sal-elm-1 g-sal-elm"></div>
    <div class="g-sal-elm-2 g-sal-elm"></div>
    <div class="g-sal-elm-4 g-sal-elm"></div>
  </div>

</div>
<script>
var sctsCbs = sctsCbs ? sctsCbs : {};
sctsCbs.numberssp2 = {
  init: function() {
    $('.bl-main-menu').find('[data-goto="#sct-numbersspain"]').addClass('act');
  }
};
</script>