<div id="sct-numbersspain" class="bl-numbersspain bl-sct sct-vid" data-callbackin="sctsCbs.numbersspain.init" data-callbackout="sctsCbs.numbersspain.out" data-url="">
  <a href="#" class="butt goto-link" data-goto="#sct-numbersspain-main">Siguiente</a>
  <div class="circ"><span>0</span>PUNTOS</div>
  <div class="wrap-right">
    <h2>¿Cero puntos? ¡Vade retro!</h2>
    <p>En tres ediciones, España ha quedado en la última posición de Eurovisión con cero puntos. El escarnio recayó en Víctor Balaguer (1962), Conchita Bautista (que en 1965 visitaba el festival por segunda vez) y la particular Remedios Amaya, que hundió su barca eurovisiva en 1983.</p>
    <div class="video"></div>
  </div>
</div>

<script>
  var sctsCbs = sctsCbs ? sctsCbs : {};
  sctsCbs.numbersspain = {
    init: function(){

      var $sect = $('#sct-numbersspain');

      if(!$sect.hasClass('sct-processed')) {


        var $vidgen = labTools.media.generaVideo($sect.find('.video'), 'http://video.lab.rtve.es/resources/TE_NGVA/mp4/2014/eurovision/euro_cero_espana', {controls: 'auto', autoplay: true })
        $vidgen.find('video')
          .css({width: '580',height: '330'});


        $sect.addClass('sct-processed');

      }

    },
    out: function() {

      var $sect = $('#sct-numbersspain');

      $sect.find('video')[0].pause();
    }
  };

</script>