<div id="sct-portada" class="sct-portada bl-sct sct-vid">

  <img class="logo1" src="./img/img--logo.png" alt="Logo Eurovisión antiguo">
  <div class="main">
    <img src="./img/img--logo2.png" alt="Logo Eurovisión">
    <h1>Guayominí, el valor de un voto</h1>
    <p>¿Qué país logró la victoria más aplastante del Festival? ¿Ha habido algún empate en las 58 ediciones de Eurovision? ¿Cuál es el perfil del representante español? ¿Cómo funciona la geopolítica eurovisiva? Analizamos los datos de Eurovisión para que descubras todas las claves del festival. </p>
    <a href="#" class="goto-link butt" data-goto="#sct-mostwins">Entrar</a>
  </div>

</div>