<div id="sct-spainvoters" class="bl-spainvoters bl-sct sct-vid" data-callbackin="sctsCbs.spainvoters.init" data-url="">

  <div class="bl-spainvoters-extra bl-sct-extra" style="font-size: 1.1em;">
    <a href="#" class="toggleclass closeextra wk-col-r" data-toggleclass="bl-sct-extra-act" title="cierra el video">X</a>
    <h2>Quiénes son nuestros fans</h2>
    <div class="wk-col-l wk-col-50">
      <p>La media de votos para España está encabezada por nuestro vecino más directo: Andorra. El Principado ha participado en Eurovisión en seis ocasiones, en las que nunca ha llegado a la gran final, etapa del festival para la que sí han contado con derecho a voto. En cinco ediciones han dado la puntuación máxima a España: 2004, 2005, 2006, 2008 y 2009, último año en el que participaron. </p>
      <p>En 2007, Andorra nos “puso los cuernos” con Ucrania, Rumanía y Francia, por quienes votaron con 12, 10 y 8 puntos respectivamente. Aquel año no dieron ni un punto a España, y no es algo que les podamos reprochar: en las semifinales de 2005 y 2006 puntuamos a Andorra con un 10 y con un 8 (nuestros doces fueron a parar a Rumanía y Armenia, respectivamente).</p>
    </div>

    <div class="wk-col-l wk-col-50">
      <p>Por detrás de Andorra, la media de votos a España la sostiene Marruecos (con su única participación en 1980), Portugal (España es el país por el que más han votado en la historia de Eurovisión, otorgándonos la puntuación máxima en seis ocasiones), Grecia (según los “entendidos” nuestro parentesco monárquico pesa mucho, y por detrás de Chipre, somos el país al que más votan) y Albania (por detrás de Grecia, Turquía y Bosnia, España es su país más votado. En este caso, parece que el carácter mediterráneo cuenta mucho).</p>
      <p class="destacado">Como curiosidad, entre los países que no nos han votado nunca lucen los nombres de Azerbayán, Serbia y la República Checa.</p>
    </div>
  </div>

  <div class="graph1">
    <div class="textaco">Portugal es el país que nos ha votado en la historia, con 187 puntos. 
      <a href="#" data-toggleclass="bl-sct-extra-act" class="toggleclass moreinfo" title="Más información"></a>
    </div>
    <div id="map3"></div>
    <svg id="map3Graph"></svg>
    <div id="map3ttil" class="mapttip"></div>
  </div>

</div>



<script>
  var sctsCbs = sctsCbs ? sctsCbs : {};
  sctsCbs.spainvoters = {
    init: function () {
      var $sect = $('#sct-spainvoters');

      if(!$sect.hasClass('sct-processed')) {

        evData.map3 = evData.map3 ? evData.map3 : {};

        evData.map3.data = {
          svg: '',
          path: '',

        };

        drawMapJson2();


        $sect.addClass('sct-processed');

      }

    }
  }

  function drawMapJson2(){

      //Width and height
    var w = 870;
    var h = 600;

    var projection = d3.geo.stereographic()
      .scale(1085)
      .translate([.8*w / 2, h / 2])
      .rotate([-21, -45])
      .clipAngle(180 - 1e-4)
      .clipExtent([[0, 0], [w, h]])
      .precision(.1);

    evData.map3.data.path = d3.geo.path()
      .projection(projection);

    //Create SVG element
    evData.map3.data.svg = d3.select("#map3")
      .append("svg")
      .attr("width", w)
      .attr("height", h);


    //Bind data and create one path per GeoJSON feature
    evData.map3.data.svg.selectAll("path")
      .data(evData.data.geo.features)
      .enter()
      .append("path")
      .attr("d", evData.map3.data.path)
      .attr('stroke-width', '1px')
      .attr("class", function(d) {

        var wins = evData.dataTools.getCountryParticipations(d.properties.name);

        if(wins === false) {
          return 'none';
        }

        return 'hover';
        
      })
      .attr('cursor', function(d){

        var wins = evData.dataTools.getCountryParticipations(d.properties.name);

        if(wins === false) {
          return 'pointer';
        }

        return false;
      })
      .attr('stroke', function(d){

        var wins = evData.dataTools.getCountryParticipations(d.properties.name);

        if(wins === false) {
          return 'rgba(255,255,255,0.2)';
        }

        return 'rgba(255,255,255,0.9)';
      })
      .attr('fill', function(d){

        for(var vote in evData.data.spainvotes.voters) {
          if(evData.data.spainvotes.voters.hasOwnProperty(vote)){
            if(d.properties.name == 'Spain') return 'white';
            if(d.properties.name == vote) {
              return 'rgba(254, 41, 121,' + (evData.data.spainvotes.voters[vote] / 10) + ')';
            }
          };
        }
        return 'none';

      })
      .on("mouseenter", clickCountry)

  }


  function clickCountry (d){ 

    if(d.properties.name == 'Spain') return false;

    var wins = evData.dataTools.getCountryParticipations(d.properties.name);
    if(wins === false) return false;

    var posSpain = [173,323];
    var pos = evData.dataTools.getCentroid(this);

    var mapSnap = Snap($('#map3Graph')[0]);

    mapSnap.clear();

    mapSnap
      .path('M' + posSpain[0] + ',' + posSpain[1] + 'L' + pos[0] + ',' + pos[1])
        .attr({
          class: 'path',
          stroke: 'white',
          'stroke-width': '1px'
        });

    mapSnap
      .image('./img/img--punto-verde.png',posSpain[0]-20, posSpain[1]-20, 10)
        .attr({
          class: 'path2',
          fill: '#FE2979'
        });

    mapSnap
      .image('./img/img--punto-blanco.png',pos[0]-20, pos[1]-20, 10)
        .attr({
          class: 'path2',
          fill: '#FE2979'
        });

    if(evData.data.spainvotes.votersCount[d.properties.name]) {
      $('#map3ttil')
        .html(evData.dataTools.translateCountry2ES(d.properties.name) + ' nos votó  en ' + evData.data.spainvotes.votersCount[d.properties.name] + ' ocasiones <br/> Con una media de ' + evData.data.spainvotes.voters[d.properties.name].toFixed(1) + ' pts.')
        .css({
          'left': pos[0] + 30,
          'top': pos[1] - 10,
        })
        .stop(false,false)
        .fadeIn(400);
    }

    return false;
  }


</script>