<div id="sct-spainstyle2" class="bl-spainstyle2 bl-sct sct-vid" data-url="">
  
  <a href="#" data-toggleclass="bl-sct-extra-act" class="toggleclass moreinfo" title="Más información"></a>

  <div class="bl-spainvotes-extra bl-sct-extra" style="font-size: 1.1em">
    <a href="#" class="toggleclass closeextra wk-col-r" data-toggleclass="bl-sct-extra-act" title="cierra el video">X</a>
    <h2>Así son nuestros representantes</h2>
    <div class="wk-col-l wk-col-50">
      <p>Si nos fiamos del tipo de concursante que más veces ha viajado a la cita eurovisiva, el concursante español medio es un solista masculino de unos 28 años (esto, rigiéndonos por la mediana de la edad de los intérpretes masculinos que nos han representado) que canta baladas de corte pop. Curiosamente, a pesar de ser la tipología de concursante que más se repite, desde el año 1997 no nos da un buen resultado. Entonces, Marcos Llunas quedó 6º. </p>
      <p>A pesar de la predominancia de las intérpretes femeninas en la última década, 21 hombres han representado a España en la historia del festival frente a las 19 mujeres que han defendido a nuestro país a lo largo de 53 ediciones. Y ojo, con ellas nos va mejor: recordemos que dos mujeres han sido las únicas en ganar Eurovisión para España (Massiel y Salomé), además de conseguir tres segundas posiciones (Betty Missiego, Karina y Anabel Conde).</p>
    </div>

    <div class="wk-col-l wk-col-50">
      <p>El resto de concursantes son agrupaciones, como en el año 2013 cuando llevamos a la banda El Sueño de Morfeo. Tampoco es algo que nos funcione del todo bien, ya que solo cinco grupos o dúos han quedado entre las 10 primeras posiciones siendo nuestros representantes: Mocedades, Bravo, Azúcar Moreno, Cadillac, y Sergio y Estíbaliz.</p>
      <p>Atendiendo a la procedencia de los participantes, Andalucia es la comunidad que más veces ha representado a Eurovisión con un total de 14 artistas. Le siguen Madrid (10 partipantes), Cataluña (9), y País Vasco (7). ¿Pero cuáles han tenido más éxito? Las únicas ganadoras del concurso provienen de Madrid y Cataluña, y entre los 10 primeros puestos tenemos siete representantes andaluces, otros cuatro catalanes y cuatro madrileños,  tres vascos, dos canarios, un extremeño, un aragonés y un valenciano. Esta es la primera vez que un artista de procedencia murciana nos representa en Eurovisión. </p>

    </div>
      <p style="clear: both; padding-top: 10px; display: block;">Como curiosidad, en cuatro ocasiones han defendido a España artistas nacidos en el extranjero: el chileno Alejandro Abad, la italiana Patricia Kraus, la peruana Betty Missiego, y los uruguayos Tim, Nelly and Tony. En todos los casos, se trataba de artistas con origen en esos países, pero ya establecidos y residentes en España.</p>
  </div>

  <div class="graph1">
    <div class="g1-circles">
      {% set circs = ["40,7", 37, "21,2", 26] %}
      {% set circsNames = ['hombres','mujeres', 'grupos', 'edad mediana'] %}
      {% set maxWidth1 = 180 %}
      {% for circ in circs %}
        <div class="g2-circ-{{ loop.index-1 }} graph-circ" 
          style="
            width: {{ circs[loop.index-1] * maxWidth1 / circs[1] }}px; 
            height: {{ circs[loop.index-1] * maxWidth1 / circs[1] }}px;
          ">
          {% if loop.index != 4 %} 
            <span>{{ circ }}%</span> {{ circsNames[loop.index-1] }}
          {% else %} 
            <span style="font-size: 1.1em;">{{ circ }} años</span> {{ circsNames[loop.index-1] }}
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="g1-graphs">
      <div class="g1-g1 g1-graph"></div><div class="g1-g2 g1-graph"></div><div class="g1-g3 g1-graph"></div><div class="g1-g4 g1-graph"></div><div class="g1-g5 g1-graph"></div>
    </div>
  </div>

  <div class="graph2">
    <div class="g1-circles">
      {% set comunities = ["25,7","18,5", "16,6", "12,9", "6,5", "3,7", "7,4" ] %}
      {% set comunitiesNames = ['Andaluces','Madrileños', 'Catalanes', 'Vascos', 'Canarios', 'Extremeños', 'Extranjeros' ] %}
      {% set maxWidth = 180 %}

      {% for comunitie in comunities %}
        {% set width = comunities[loop.index-1] * maxWidth / comunities[1] %}
        <style>
          #sct-spainstyle2 .graph2 .g2-circ-{{ loop.index-1 }} { right: 2000px; }
          #sct-spainstyle2.sct-active .graph2 .g2-circ-{{ loop.index-1 }} { right: {{ loop.index * 6 }}px;-webkit-transition-delay: {{ 8 + (loop.index/2) }}s;-moz-transition-delay: {{ 8 + (loop.index/2) }}s;-o-transition-delay: {{ 5 + (loop.index/2) }}s;transition-delay: {{ 8 + (loop.index/2) }}s; }
        </style>
        <div class="g2-circ-{{ loop.index-1 }} graph-circ" 
          style="
            width: {{ width }}px; 
            height: {{ width }}px; 
            bottom: {{ loop.index*6 }}px; 
          ">
            <span>{{ comunitie }}% {{ comunitiesNames[loop.index-1] }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
</div>