<div id="sct-spainstyle1" class="bl-spainstyle1 bl-sct sct-vid" data-callbackin="sctsCbs.spainstyle1.init" data-url="">

  <a href="#" data-toggleclass="bl-sct-extra-act" class="toggleclass moreinfo" title="Más información"></a>

  <div class="bl-spainvotes-extra bl-sct-extra" style="font-size: 1em;">
    <a href="#" class="toggleclass closeextra wk-col-r" data-toggleclass="bl-sct-extra-act" title="cierra el video">X</a>
    <h2>Qué tipo de canciones enviamos</h2>
    <div class="wk-col-l wk-col-50">
      <p>Pop y balada son los estilos que mejor han sentado a España para colarse entre los cinco primeros puestos del festival. Nuestras dos victorias, fueron ejemplos de pop sesentero, de estribillo alegre, sencillo y repetitivo: “La la la” y “Vivo cantando”.</p>
      <p>Muy cerca de la victoria nos dejaron la melódica “Su canción” de Betty Missiego, la orquestal “Vuelve conmigo” de Anabel Conde, o la pintoresca “Lady, Lady” de aquellos ABBA ibéricos llamados Bravo.</p>
      <p>En el lado más sentimental y emotivo, la balada le ha dejado buenos réditos a España siendo el género más recurrente en todas las veces que nuestro país ha quedado entre las 10 primeras posiciones. Las actuaciones mejor valoradas han sido las de Karina con “En un Mundo Nuevo” y Mocedades con el clásico “Eres tú”, que se quedaron en segunda posición en las ediciones de 1971 y 1973, respectivamente. También sonaron a ternura baladística los cuartos puestos de Julio Iglesias (“Gwendolyne”, 1970) y Sergio Dalma (“Bailar pegados”, 1991), o la séptima posición conseguida por Raphael en 1966 (“Yo soy aquel”), la sexta que consiguió el año siguiente (“Hablemos del amor”, 1967); al igual que Nina (“Nacida para amar”, 1989) o Marcos Llunas (“Sin rencor”, 1997).</p>
    </div>

    <div class="wk-col-l wk-col-50">
      <p>Todo intento de acercar el flamenco a Eurovisión ha sido un absoluto fracaso bien ejemplificado en las actuaciones de Antonio Carbonell en el 96 (20º puesto), Las Ketchup en 2006 (21er puesto), Son de Sol en 2007 (21er puesto) o aquel “¿Quién maneja mi barca?” de Remedios Amaya que nos dejó con la última posición en la edición de 1983. Solo una canción muy basada en el folclore español ha quedado entre los cinco primeros puestos, y fue “Bandido” de Azúcar Moreno (5ª en 1990).</p>
      <p>Si nos ponemos latinos, tampoco conseguimos la victoria. Con dos canciones de pop salpicado por elementos latinos, España consiguió un sexto puesto con David Civera en 2001 (con “Dile que la quiero”), y un décimo puesto con Ramón en 2004 (con “Para llenarme de ti”). La última vez que lo volvimos a intentar, Lucía Pérez quedó en el puesto número 23 en 2011 con “Que me quiten lo bailao”.</p>
    </div>
  </div>

  <div class="graph1">
    <div class="g1-circs">
      <div class="g1-balada graph-circ" title="41.5% de las canciones españolas presentadas a Eurovisión fueron baladas"></div>
      <div class="g1-flamenco graph-circ" title="41.5% de las canciones españolas presentadas a Eurovisión fueron canciones flamencas"></div>
      <div class="g1-pop graph-circ" title="41.5% de las canciones españolas presentadas a Eurovisión fueron canciones pop"></div>
      <div class="g1-latin graph-circ" title="41.5% de las canciones españolas presentadas a Eurovisión fueron canciones latinas"></div>
    </div>
    <div class="g1-labels">
      <div class="g1-lbl-balada graph-labl">Balada - 41.5%</div>
      <div class="g1-lbl-flamenco graph-labl">Flamenco - 15%</div>
      <div class="g1-lbl-pop graph-labl">Pop - 35.8%</div>
      <div class="g1-lbl-latin graph-labl">Latino - 7.5%</div>
    </div>
  </div>
  <div class="graph2">
    <div class="legend">
      <div class="wk-col-l">1961</div>
      <div class="wk-col-r">2013</div>
    </div>

    {% set svgHeigth = 250 %}
    {% set svgWidth = 824 %}
    {% set maxVal = 824 %}
    {% set maxPos = 26 %}
    {% set pathIni = '' %}
    {% set pathLine = '' %}
    {% set pathtotal = '' %}

    {% set totals = 0 %}

    {% set keys = spanishPositions|keys %}

    {% set saltoX = svgWidth / (keys | length) %}
    {% set saltoY = svgHeigth / maxPos %}

    {% for key in keys %}

      {% if loop.index == 1 %}
        {% set pathLine = pathLine ~  'M' ~ saltoX * loop.index ~ ' ' ~ saltoY * spanishPositions[key] %}
        {% set pathIni = pathIni  ~  'M'  ~ saltoX * loop.index ~ ' ' ~ svgHeigth %}

      {% else %}
        {% set pathLine = pathLine ~  'L' ~ saltoX * loop.index ~ ' ' ~ saltoY * spanishPositions[key] %}
        {% set pathIni = pathIni  ~  'L'  ~ saltoX * loop.index ~ ' ' ~ svgHeigth %}

      {% endif %}

    {% endfor %}

    {% set pathfill = pathLine ~  'L' ~ svgWidth ~ ' ' ~ svgHeigth ~ 'L0 ' ~ svgHeigth ~ 'Z' %}
    {% set pathInifill = pathIni ~  'L' ~ svgWidth ~ ' ' ~ svgHeigth ~ 'L0 ' ~ svgHeigth ~ 'Z' %}

    <div class="bl-graph2-svg" data-pathIni="{{ pathIni }}" data-pathEnd="{{ pathLine }}" data-pathFillIni="{{ pathInifill }}" data-pathFillEnd="{{ pathfill }}">

      <div class="g2-legend"></div>

      <svg width="{{ svgWidth }}" height="{{ svgHeigth }}">

        <path class="path-fill" d="{{ pathInifill }}"></path>
        <path class="path-line" d="{{ pathIni }}"></path>

        {% for key in keys %}
          
          {% if(key < 1965) %}
            {% set posX = (saltoX * loop.index) + 5 %}
            {% set posXsmall = posX %}
          {% else %}
            {% set posX = (saltoX * loop.index) - 50 %}
            {% set posXsmall = posX - 10 %}
          {% endif %}

          <rect class="g2-hover" data-idx="{{ key }}" x="{{ (saltoX * loop.index) - ( saltoX / 2 ) }}" y="0" height="{{ svgHeigth }}" width="{{ saltoX }}"/>
          <text class="g2-text-{{ key }}" x="{{ posX }}" y="{{ svgHeigth - 15 }}">{{ key }}</text>
          <text class="g2-text-{{ key }} small" x="{{ posXsmall }}" y="{{ svgHeigth }}">Puesto: {{ spanishPositions[key] }}</text>
          <line class="g2-line-{{ key }} g2-line-hidden" x1="{{ saltoX * loop.index }}" y1="{{ svgHeigth }}" x2="{{ saltoX * loop.index }}" y2="{{ saltoY * spanishPositions[key] }}" />

        {% endfor %}

      </svg>

    </div>
  <p class="hazclick" style="bottom:-60px">Haz click sobre el año para ver el vídeo</p> 
  </div>

</div>

<script>
  var sctsCbs = sctsCbs ? sctsCbs : {};
  sctsCbs.spainstyle1 = {
    init: function () {
      var $sect = $('#sct-spainstyle1');

      if(!$sect.hasClass('sct-processed')) {

        $sect.find('.g2-hover')
          .bind('click', function(elm){
            var $this = $(this);
            var idx = $this.data('idx');
            evData.dataTools.videoPopup(idx, 'España');
          })
          .hover(function(elm){
            var $this = $(this);
            var idx = $this.data('idx');
            $this.siblings('.g2-line-' + idx)[0].classList.add('graph-ref');
            $this.siblings('.g2-text-' + idx)[0].classList.add('graph-ref');
            $this.siblings('.g2-text-' + idx)[1].classList.add('graph-ref');
            if(idx < 1970) $this.siblings('.g2-text-' + idx)[0].classList.add('g2-text-right');
          }, function(elm){
            var $this = $(this);
            var idx = $this.data('idx');
            $this.siblings('.g2-line-' + idx)[0].classList.remove('graph-ref');
            $this.siblings('.g2-text-' + idx)[0].classList.remove('graph-ref');
            $this.siblings('.g2-text-' + idx)[1].classList.remove('graph-ref');
          });

        $sect.addClass('sct-processed')
      }

          // elementos ppales
      var $graph2 = $sect.find('.bl-graph2-svg');
      var SnapFill = Snap($graph2.find('svg .path-fill')[0]);
      var SnapLine = Snap($graph2.find('svg .path-line')[0]);

      SnapLine.attr('path', $graph2.data('pathini'));
      SnapFill.attr('path', $graph2.data('pathfillini'));

      SnapLine.animate({'path': $graph2.data('pathend')}, 2000);
      SnapFill.animate({'path': $graph2.data('pathfillend')}, 2000);

    }
  }

</script>