<div id="sct-spainvotes" class="bl-spainvotes bl-sct sct-vid" data-callbackin="sctsCbs.spainvotes.init" data-url="">

  <div class="bl-spainvotes-extra bl-sct-extra">
    <a href="#" class="toggleclass closeextra wk-col-r" data-toggleclass="bl-sct-extra-act" title="cierra el video">X</a>
    <h2>Nuestro país favorito</h2>
    <div class="wk-col-l wk-col-50">
      <p>En sus 52 participaciones en el festival hasta la fecha, España ha acertado en varias ocasiones otorgando 12 puntos al país que ha resultado ganador. En ocho ediciones, el voto de España ha sido clave para el ganador de Eurovisión: Países Bajos en 1975, Reino Unido en 1976, Alemania en 1982, Italia en 1990, Letonia en 2002, Noruega en 2009, Alemania en 2010 y Suecia en 2012.</p>
      <p>Pero… ¿a qué país ha dado España más puntos a lo largo de su historia? Alemania. Sí, en 52 ediciones de festival, nuestro país ha otorgado 227 puntos a la gran potencia, aunque curiosamente en las ediciones de 2011, 2012 y 2013 (ay, los años de la crisis) solo hemos concedido un total de 9 puntos a la cabeza económica de Europa.</p>
      <p>En las grandes finales, España también tiene tradición de voto hacia Italia (168 puntos concedidos en toda la historia), Portugal (cómo no, el gran vecino - 154 puntos), Reino Unido (149 puntos) e Irlanda (146 puntos). Si tomamos en cuenta las semi-finales, además de Alemania, España vota mucho a Portugal, Grecia, Italia e Irlanda (sí, la tradición latina y el rescate económico de la Unión Europea parecen unirnos mucho). </p>
    </div>

    <div class="wk-col-l wk-col-50">
      <h3>Rumanía, caso de estudio</h3>
      <p>Aunque ojo: en la última década uno de nuestros países favoritos es Rumanía, al que desde 2003 hemos otorgado la puntuación máxima en cuatro ocasiones (2005, 2006, 2007 y 2008), además de otras cuatro votaciones de 10 puntos (2003, 2004, 2010 y 2012). Una tendencia que finalizó en 2013, cuando no votamos por Rumanía.</p>
      <p>El principal factor de esta preferencia puede ser el crecimiento de la inmigración Rumana en España, que según el Instituto Nacional de Estadística pasó de 137.347 residentes a 895.970 entre 2003 y 2012. Justo en 2013, esta cifra retrocedió por primera vez hasta los 868.635 rumanos registrados en España, un 3,2% menos respecto al año anterior.</p>
    </div>
  </div>

  <div class="graph1">
    <div class="textaco">Alemania es el país más votado por España en la historia: 227 puntos. Pero nuestro ‘amor’ por los teutones se ha debilitado los tres últimos años.<br><br>Rumanía lidera el ránking de voto español de la década, con cuatro máximas puntuaciones y cuatro dieces. Les hemos otorgado 141 puntos entre finales y semis. 
      <a href="#" data-toggleclass="bl-sct-extra-act" class="toggleclass moreinfo" title="Más información"></a>
    </div>
    <div id="map4"></div>
    <svg id="map4Graph"></svg>
    <div id="map4ttil" class="mapttip"></div>
  </div>


</div>


<script>
  var sctsCbs = sctsCbs ? sctsCbs : {};
  sctsCbs.spainvotes = {
    init: function () {
      var $sect = $('#sct-spainvotes');

      if(!$sect.hasClass('sct-processed')) {

        evData.map4 = evData.map4 ? evData.map4 : {};

        evData.map4.data = {
          svg: '',
          path: '',

        };

        drawMapJson3();


        $sect.addClass('sct-processed');

      }

    }
  }

  function drawMapJson3(){

      //Width and height
    var w = 870;
    var h = 600;

    var projection = d3.geo.stereographic()
      .scale(1085)
      .translate([.8*w / 2, h / 2])
      .rotate([-21, -45])
      .clipAngle(180 - 1e-4)
      .clipExtent([[0, 0], [w, h]])
      .precision(.1);

    evData.map4.data.path = d3.geo.path()
      .projection(projection);

    //Create SVG element
    evData.map4.data.svg = d3.select("#map4")
      .append("svg")
      .attr("width", w)
      .attr("height", h);


    //Bind data and create one path per GeoJSON feature
    evData.map4.data.svg.selectAll("path")
      .data(evData.data.geo.features)
      .enter()
      .append("path")
      .attr("d", evData.map4.data.path)
      .attr('stroke-width', '1px')
      .attr("class", function(d) {

        var wins = evData.dataTools.getCountryParticipations(d.properties.name);

        if(wins === false) {
          return 'none';
        }

        return 'hover';
        
      })
      .attr('cursor', function(d){

        var wins = evData.dataTools.getCountryParticipations(d.properties.name);

        if(wins === false) {
          return 'pointer';
        }

        return false;
      })
      .attr('stroke', function(d){

        var wins = evData.dataTools.getCountryParticipations(d.properties.name);

        if(wins === false) {
          return 'rgba(255,255,255,0.2)';
        }

        return 'rgba(255,255,255,0.9)';
      })
      .attr('fill', function(d){

        for(var vote in evData.data.spainvotes.votes) {
          if(evData.data.spainvotes.votes.hasOwnProperty(vote)){
            if(d.properties.name == 'Spain') return 'white';
            if(d.properties.name == vote) {
              return 'rgba(254, 41, 121,' + (evData.data.spainvotes.votes[vote] / 10) + ')';
            }
          };
        }
        return 'none';
      })
      .on("mouseenter", clickCountry2)
      //.on("mouseout", countryOut);

  }

  function clickCountry2 (d){ 

    if(d.properties.name == 'Spain') return false;

    var wins = evData.dataTools.getCountryParticipations(d.properties.name);
    if(wins === false) return false;

    var posSpain = [173,323];
    var pos = evData.dataTools.getCentroid(this);

    var mapSnap = Snap($('#map4Graph')[0]);

    mapSnap.clear();

    mapSnap
      .path('M' + posSpain[0] + ',' + posSpain[1] + 'L' + pos[0] + ',' + pos[1])
        .attr({
          class: 'path',
          stroke: 'white',
          'stroke-width': '1px'
        });

    mapSnap
      .image('./img/img--punto-verde.png',posSpain[0]-20, posSpain[1]-20, 10)
        .attr({
          class: 'path2',
          fill: '#FE2979'
        });

    mapSnap
      .image('./img/img--punto-blanco.png',pos[0]-20, pos[1]-20, 10)
        .attr({
          class: 'path2',
          fill: '#FE2979'
        });

    if(evData.data.spainvotes.votesCount[d.properties.name]) {
      $('#map4ttil')
        .html('Hemos votado a ' + evData.dataTools.translateCountry2ES(d.properties.name) + ' en ' + evData.data.spainvotes.votesCount[d.properties.name] + ' ocasiones <br/> Con una media de ' + evData.data.spainvotes.votes[d.properties.name].toFixed(1)+ ' pts.')
        .css({
          'left': pos[0] + 30,
          'top': pos[1] - 10,
        })
        .stop(false,false)
        .fadeIn(400);
      }

    return false;
  }

</script>