<div id="sct-viewallactions" class="bl-viewallactions bl-sct sct-vid" data-callbackin="sctsCbs.viewallactions.init" data-url="">

  <div ng-app="app" ng-controller="appCtrl">

    <div class="bl-vids-head clearfix">
      <h2>las canciones de {[{ status.country }]} en Eurovisión</h2>

      <a href="#" class="butt butt-date wk-col-l"
        ng-model="status2.sort" 
        ng-class="{act: status2.sort == 'year'}"
        ng-click="status2.sort = 'year'; status2.sortAsc = true">Por fecha</a>

      <a href="#" class="butt butt-date wk-col-l"
        ng-model="status2.sort" 
        ng-class="{act: status2.sort == 'posicion'}"
        ng-click="status2.sort = 'posicion'; status2.sortAsc = false">Por posición</a>
      
      <div class="tit wk-col-l" ng-show="status2.sort == 'posicion'">ORDENAR</div>

      <a href="#" class="lowr-cas butt-up wk-col-l"
        ng-show="status2.sort == 'posicion'"
        ng-model="status2.sortAsc" 
        ng-class="{act: status2.sortAsc == false}"
        ng-click="status2.sortAsc = false">Ascendente</a>

      <a href="#" class="lowr-cas butt-down wk-col-l"
        ng-show="status2.sort == 'posicion'"
        ng-model="status2.sortAsc" 
        ng-class="{act: status2.sortAsc == true}"
        ng-click="status2.sortAsc = true">Descendente</a>

      <select ng-model="status.country" class="wk-col-r" ng-options="value for value in search.countries | orderBy:'toString()'"></select>

    </div>
    
    <div class="bl-vids-wrap">
      <div class="bl-vids-vids">
        <div ng-repeat="song in songs | filter: status | orderBy: status2.sort : status2.sortAsc" 
            data-year="{[{ song.year }]}" data-country="{[{ song.country }]}" class="temazo" >
          <p class="bl-vids-vid-title">{[{ song.year }]}</p>
          <div class="bl-vids-vid-wrap" style="">
            <img ng-src="{[{ song.smallImg }]}" alt="">
          </div>
          <p class="bl-vids-vid-details">{[{ song.artista }]} - {[{ song.titulo }]}<br><span class="pink">Puesto {[{ song.posicion }]}</span></p>
        </div>
      </div>
    </div>
    <a href="#" class="bl-vids-next"></a>
    <a href="#" div class="bl-vids-prev"></a>
  </div>

</div>


<script>
  var sctsCbs = sctsCbs ? sctsCbs : {};
  sctsCbs.viewallactions = {
    init: function(){ 

      var $sect = $('#sct-viewallactions');

      if(!$sect.hasClass('sct-processed')) {

        $sect.addClass('sct-processed');

        $sect.find('.bl-vids-next').click(function(){
          var top = $sect.find('.bl-vids-wrap').scrollTop();
          $sect.find('.bl-vids-wrap').stop(false, false).animate({scrollTop: top + 500}, 300);
          return false;
        })

        $sect.find('.bl-vids-prev').click(function(){ 
          var top = $sect.find('.bl-vids-wrap').scrollTop();
          $sect.find('.bl-vids-wrap').stop(false, false).animate({scrollTop: top - 500}, 300);
          return false;
        })

      }
    }
  }

</script>