<div id="sct-whovoteswho" class="bl-whovoteswho bl-sct sct-vid" data-callbackin="sctsCbs.whovoteswho.init" data-url="">

  <a href="#" data-toggleclass="bl-sct-extra-act" class="toggleclass moreinfo" title="Más información" style="display: block;float: right;"></a>

  <div class="bl-spainvotes-extra bl-sct-extra">
    <a href="#" class="toggleclass closeextra wk-col-r" data-toggleclass="bl-sct-extra-act" title="cierra el video">X</a>
    <h2>Metodología para detectar los bloques</h2>
    <div class="wk-col-l" style="font-size: 1.1em; margin: 0 20%;">
      <p>Para detectar la geopolítica eurovisiva analizamos las votaciones desde 2000 de los países que participan en Eurovision fijándonos en las máximas puntuaciones: 8, 10 y 12 tantos que ofrece la web oficial de Eurovision.</p>
      <p>En un primer momento, fijamos nuestra atención en quién han dado en los últimos años la máxima puntuación y detectamos pautas de votación entre distintos grupos de países limítrofes. </p>
      <p>Pero no todos los vecinos se dan 12 puntos, aunque sí puntuaciones tan altas que desestabilizan el resultado final para un lado o para otro. Por ellos, para hallar el nivel de apoyos de unos países hacia otros de ese mismo bloque ponderamos las máximas puntuaciones para detectar quiénes son los vecinos mejor o peor avenidos. </p>
      <p>En cuanto a la tasa de éxito, se trata del porcentaje de ocasiones en que cada jurado dio 12 puntos a un representante de un país vecino y éste coincidió con el vencedor final de esa edición. </p>
      <p>En aquellos países que participan en el Festival pero que no forman parte de un bloque, los datos que ofrecemos es el listado completo de los contrincantes a los que han votado con 12 puntos desde el año 2000.</p>

    </div>
  </div>

  <div class="graph1">
    <div class="textsss"><br>
      <p>Hay un equilibrio de fuerzas entre nórdicos y países del este, que concentran sus votos habitualmente entre países vecinos. </p>
    </div>
    <div class="textss">
      <p>Desde 2000, únicamente en cuatro ocasiones no ha ganado un país nórdico o uno del este. Solo ocurrió con Turquía (2003), Grecia (2005), Serbia (2007) y Alemania (2010).</p>
      <p>Escandinavos y países del Este estan empatados a cinco victorias en lo que va de siglo y en Copenhague los nórdicos juegan en casa para adelantarse en esta batalla por el dominio eurovisivo. </p>
      <p style="font-size: 1.2em">Son los países mediterráneos y el Big Five, que no se votan entre ellos, los que cada año deciden. Los balcánicos concentran su voto pero al ser tan pocos no obtiene réditos.</p>
    </div>

    <div id="map2"></div>

    <div class="mapttip geottip geottip2">
      
      <div class="wk-col-l col-l">
      </div>
      <div class="wk-col-r col-r">
      </div>
    </div>

    <div class="text-N txts">Los nórdicos se reparten entre ellos los 12 puntos, Desde 2000, han ganado Eurovision en cinco ocasiones, siendo Dinamarca el único país que ha repetido (2000 y 2014).</div>
    <div class="text-E txts">En el Este <br>votan en bloque</div>
    <div class="text-B txts">Tras la desaparición de Yugoslavia, los países que la conformaban se votan entre ellos como forma general, aunque el hecho de que sean tan poco numerosos hace que esta política no tenga consecuencias significativas.</div>
    <div class="text-M txts" style="font-size: 1em;width: 50%;">En los votos del BIG Five se percibe un fuerte componente migracional. Países como Alemania, Francia o España votan masivamente a países culturalmente alejados como Rumanía o Turquía. Lejos de unir fuerzas, reparten sus tantos favoreciendo eminentemente a países mediterráneos.</div>

    <div class="mapttip geottip geottip-N">
      
      <div class="wk-col-l col-l">
        <a href="#" class="act">Suecia</a>
        <a href="#">Dinamarca</a>
        <a href="#">Noruega</a>
        <a href="#">Finlandia</a>
        <a href="#">Islandia</a>
        <a href="#" class="differents">Hungría</a>
        <a href="#">Irlanda</a>
      </div>
      <div class="wk-col-r col-r">
        <a href="#" class="closeGeottip wk-col-r" data-toggleclass="bl-sct-extra-act" title="cierra el video">X</a>
        <div class="tit">Bloque escandinavo</div>
        <div class="text-ini"></div>
        <div class="texts">
          <div class="text" style="display: block;">
            Suecia va por libre: solo 4 de cada 10 veces apoya a un escandinavo, aunque es uno de los países del bloque que más apoyos recibe en la zona. 
          </div>
          <div class="text">
            Dinamarca vota escandinavo en un 75% de las veces. pero solo tiene tino en dar con el ganador final en un 25% de las ocasiones. Recibe fuerte respaldo de sus vecinos. 
          </div>
          <div class="text">
            Noruega vota también en bloque a sus vecinos: un 85% de las veces les concede los 12 puntos, aunque solo consigue ‘acertar’ al ganador un 15% de veces.  
          </div>
          <div class="text">
            Finlandia apoya ‘solo’ 1 de cada 2 veces  a los países de su región y la suya es la mejor tasa de coincidencia con el mediterráneo. 
          </div>
          <div class="text">
            Islandia adora a sus vecinos: más de 8 de cada 10 veces le da su máxima votación a un país del bloque, aunque su tasa de coincidencia con el ganador final es de un 30%.
          </div>
          <div class="text">
            Los húngaros, sin raíces escandinavas, son fieles votantes: 4 de cada 10 veces le dieron la máxima nota. Su tasa de éxito es  
          </div>
          <div class="text">
            Ojo con Irlanda porqué vota más nórdico que fineses y suecos: en un 70% dan sus 12 votos al norte. Además tiene una digna tasa de éxito: el 33% de las veces que vota con 12 a un nórdico, éste se convierte en campeón. 
          </div>
        </div>
      </div>
    </div>

    <div class="mapttip geottip geottip-E">
      
      <div class="wk-col-l col-l">
        <a href="#" class="act">Rumanía</a>
        <a href="#">Rusia</a>
        <a href="#">Ucrania</a>
        <a href="#">Bielorrusia</a>
        <a href="#">Lituania</a>
        <a href="#">Letonia</a>
        <a href="#">Estonia</a>
        <a href="#">Moldavia</a>
        <a href="#" class="differents">Malta</a>
        <a href="#">Turquía</a>
      </div>
      <div class="wk-col-r col-r">
        <a href="#" class="closeGeottip wk-col-r" data-toggleclass="bl-sct-extra-act" title="cierra el video">X</a>
        <div class="tit">Países del este</div>
        <div class="text-ini"></div>
        <div class="texts">
          <div class="text" style="display: block;">
            Rumanía, que ha votado en 7 de cada 10 ocasiones por un país del este, nunca ha dado sus 12 a un ganador. 
          </div>
          <div class="text">
            Rusia es el principal país receptor de los votos del Este, siendo Bielorrusia su principal protector: en un 76% de las ocasiones le votó con 12,10 ó 8 puntos.
          </div>
          <div class="text">
            Bielorrusia (90%), Moldavia (88%) y Ucrania (82%) son los otros tres países del este que más votan en bloque.  
          </div>
          <div class="text">
            Bielorrusia (90%), Moldavia (88%) y Ucrania (82%) son los otros tres países del este que más votan en bloque. 
          </div>
          <div class="text">
            El más concienciado con la concentración de voto es Lituania: en sus 10 participaciones en Eurovision solo dejó de votar por un vecino en 2009, el año en que Noruega batió el récord histórico con 387 puntos.
          </div>
          <div class="text">
            El más ‘relajado’ en esta estrategia es Letonia: solo en un 40% de ocasiones votó Este.
          </div>
          <div class="text">
            En el otro extremo está Letonia: vota menos Este pero en 1 de cada 2 ocasiones que le da sus 12 a un vecino lo coronan rey de Eurovision. 
          </div>
          <div class="text">
            Bielorrusia (90%), Moldavia (88%) y Ucrania (82%) son los otros tres países del este que más votan en bloque. 
          </div>
          <div class="text">
            
          </div>
          <div class="text">
            Turquía, un país culturalmente mediterráneo, es caladero del voto del Este. En más de un 60%, los otomanos votan a sus vecinos del norte con 12 puntos, teniendo una tasa de éxito, de coincidencia con el resto del gusto europeo, de un 33%.  
          </div>
        </div>
      </div>
    </div>

    <div class="mapttip geottip geottip-B">
      
      <div class="wk-col-l col-l">
        <a href="#" class="act">Bosnia</a>
        <a href="#">Serbia</a>
        <a href="#">Croacia</a>
        <a href="#">Macedonia</a>
        <a href="#">Montenegro</a>
      </div>
      <div class="wk-col-r col-r">
        <a href="#" class="closeGeottip wk-col-r" data-toggleclass="bl-sct-extra-act" title="cierra el video">X</a>
        <div class="tit">Bloque Balcánico</div>
        <div class="text-ini"></div>
        <div class="texts">
          <div class="text" style="display: block;">
            Bosnia, que junto a Croacia es el país que más participaciones acumula -ha estado siempre presente desde el año 2000-, registra además la mayor concentración de voto de sus vecinos.  
          </div>
          <div class="text">
            Serbia, que vota en un 66% a Bosnia, es el otro gran acumulador de apoyos balcánicos y el segundo de la historia en ganar el Festival en su año de debut, Fue en 2007, cuando compitió como país independiente después de haber concursado como Serbia y Montenegro. 
          </div>
          <div class="text">
            Croacia, con 19 apariciones desde 1993, es la que menos apoyos de sus compatriotas recibe y raciona sus apoyos entre serbios y bosnios. 
          </div>
          <div class="text">
            Macedonia vota con ganas a su vecina Albania, aunque también se acuerda a emnudo de turcos y bosnios. 
          </div>
          <div class="text">
            Desde la independencia, Montenegro ha votado en dos ocasiones a su ‘ex’ Serbia con 12 puntazos, pero nunca ha recibido de vuelta ese apoyo.
          </div>
        </div>
      </div>
    </div>

    <div class="mapttip geottip geottip-M">
      
      <div class="wk-col-l col-l">
        <a href="#" class="act">Italia</a>
        <a href="#">Francia</a>
        <a href="#">Alemania</a>
        <a href="#">Reino Unido</a>
        <a href="#">España</a>
      </div>
      <div class="wk-col-r col-r">
        <a href="#" class="closeGeottip wk-col-r" data-toggleclass="bl-sct-extra-act" title="cierra el video">X</a>
        <div class="tit">Big Five</div>
        <div class="text-ini"> </div>
        <div class="texts">
          <div class="text" style="display: block;">
            Italia, que ‘acaba’ de regresar a Eurovision, no tiene por el momento patrón de voto definidio: no ha repetido ni un solo país en sus 8. 10 y 12 en lo que va de siglo. Pero por bloques, se posiciona claramente en el bloque del Este: de allí eran 6 de los 9 países que ha votado en estos tres años.  
          </div>
          <div class="text">
            Francia vota mediterráneo. Turquía es 1 de cada 2 veces el destinatario de sus 12 puntos. Concede también su apoyo a España y nos vota en un 16% de ocasiones con sus 8, 10 o 12.  
          </div>
          <div class="text">
            Alemania, el país con más turcos después de Turquía, da tanto apoyo a los otomanos como Francia, aunque su corazón también lo comparte con el bloque nórdico: en un 28.5% de los certámenes les da la máxima puntuación.
          </div>
          <div class="text">
            Reino Unido vota a destinos vacacionales tradicionales para sus ciudadanos: Grecia, Turquía o Malta se benefician de sus votaciones, que también premian en casi un 15% de las veces a su vecina Irlanda.  
          </div>
          <div class="text">
            España es el Big Five más corporativista y en un 20% de las ocasiones le da sus 12 a uno de los 5 países históricos de Eurovision, siendo Alemania el más beneficiado en este reparto. De hecho, los teutones obtiene en el 30% de las veces 8.10 o 12 puntos de España. Pero es Rumanía el país al que más votamos, con un 47,6% de apoyos.
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<script>
  var sctsCbs = sctsCbs ? sctsCbs : {};
  sctsCbs.whovoteswho = {
    init: function () {
      var $sect = $('#sct-whovoteswho');

      if(!$sect.hasClass('sct-processed')) {

        $('.closeGeottip').click(function(){
          var $map = $('#sct-whovoteswho .graph1');
          $map[0].className = 'graph1';
          $('.geottip2').fadeOut(400);
          return false;
        })

        $sect.find('.geottip .col-l a').click(function(){
          var $this = $(this);
          var $wrap = $this.parents('.mapttip');

          $wrap.find('.text-ini').hide();
          $wrap.find('.texts .text').hide();
          $wrap.find('.texts .text').eq($this.index()).show();

          $wrap.find('.act').removeClass('act');
          $this.addClass('act');

          return false;
        })

        evData.map22 = evData.map2 ? evData.map2 : {};

        evData.map22.data = {
          svg: '',
          path: '',

        };

        drawMapJson22();


        $sect.addClass('sct-processed');

      }

    }
  }

  function drawMapJson22(){

      //Width and height
    var w = 870;
    var h = 600;

    var projection = d3.geo.stereographic()
      .scale(1085)
      .translate([1*w / 2, h / 2])
      .rotate([-21, -45])
      .clipAngle(180 - 1e-4)
      .clipExtent([[0, 0], [w, h]])
      .precision(.1);

    evData.map22.path = d3.geo.path()
      .projection(projection);

    //Create SVG element
    evData.map22.svg = d3.select("#map2")
      .append("svg")
      .attr("width", w)
      .attr("height", h);

    evData.map22.wrap1 = evData.map22.svg
      .append('g')
      .attr('id', 'regs');

    evData.map22.wrap2 = evData.map22.svg
      .append('g')
      .attr('id', 'regs2');

    evData.map22.wrap3 = evData.map22.svg
      .append('g')
      .attr('id', 'regs2');

    evData.map22.wrap2.selectAll("path")
      .data(evData.data.geo.features)
      .enter()
      .append("path")
      .attr("d", evData.map22.path)
      .attr("class", function(d) {
        
        for(var reg in evData.data.regions.givers) {
          for (var i = 0; i < evData.data.regions.givers[reg].length; i++) {
            if(evData.dataTools.translateCountry2ES(d.properties.name) == evData.data.regions.givers[reg][i]['País']) {
              if(evData.data.regions.givers[reg][i]['País'] == 'España') {
                return 'hover reg-M c-'+evData.data.regions.givers[reg][i]['País'];
              } else {
                var rreg = evData.data.regions.givers[reg][i]['Vota países'];
                if(rreg == 'M') rreg == 'BF'; 
                return 'hover reg-' + rreg  + ' c-'+evData.data.regions.givers[reg][i]['País'];
              }
            }
          }
        }
        return 'none';
      })
      .attr('stroke', 'none')
      .attr('fill', 'none')
      .on('click', clickCountry22)

  }

  function clickCountry22 (d, f, e){

    var regiones = {
      'N': 'Bloque Nórdico',
      'E': 'Bloque del Este',
      'M': 'Bloque Mediterráneo',
      'B': 'Bloque Balcánico',
      'BF': 'Big Five'
    }

    var region = this.className.baseVal;
    var find = region.indexOf("reg-");
    if(find == -1) {

      var $map = $('#sct-whovoteswho .graph1');
      $map[0].className = 'graph1';
      $('.geottip2').fadeOut(400);
      
      return;
    };
    region = region.substring(find + 4);
    if(region == 'BF') region == 'M';

    var $map = $('#sct-whovoteswho .graph1');

    if($map.hasClass('reg-act-' + region)){

      var country = evData.dataTools.translateCountry2ES(d.properties.name);

      var ttipCont = '<h2>' + country + ' vota</h2><div class="body">';

      var exito = '';

      if(evData.data.regions.givers[country]){
        for (var i = 0; i < evData.data.regions.givers[country].length; i++) { console.log(evData.data.regions.givers[country][i]['Tasa de éxito'])
          if(evData.data.regions.givers[country][i]['Tasa de éxito']) exito = evData.data.regions.givers[country][i]['Tasa de éxito'];
          if(evData.data.regions.givers[country][i]['Vota países'].length < 3) {
            if(regiones[evData.data.regions.givers[country][i]['Vota países']]) {
              ttipCont += '<span>' + regiones[evData.data.regions.givers[country][i]['Vota países']] + ': ' + evData.data.regions.givers[country][i]['Vota'] + '%<span><br/>';
            }
          } else {
            ttipCont += '- ' + evData.data.regions.givers[country][i]['Vota países'] + ': ' + evData.data.regions.givers[country][i]['Vota'] + '%<br/>';
          }
        };
      }

      if(evData.data.regions.takers[country]){
        ttipCont += '<h2>Votan a '+ country + '</h2><div class="body">';

        for (var i = 0; i < evData.data.regions.takers[country].length; i++) {
          ttipCont += '- ' + evData.data.regions.takers[country][i]['País'] + ': ' + evData.data.regions.takers[country][i]['Vota'] + '%<br/>';
        };
      }

      ttipCont += '</div>';

      $wrap = $('#map2')
      var mousePos = d3.mouse(this);
      var mouseTop = mousePos[1];
      var mouseleft = mousePos[0];
      var despX = 115;
      if (mouseleft < mouseleft) mouseleft = 120;
      if (mouseTop > 250) mouseTop = mouseTop - 250;

      if(exito.length) {
        $('.geottip2')
          .find('.col-l').html('ÉXITO<span>' + exito + '%</span>').end()
      }

      $('.geottip2')
        .find('.col-r').html(ttipCont).end()
        .css({'left': mouseleft - despX, 'top': mouseTop + 20})
        .stop(false,false).fadeIn(400);

    } else {
      $map[0].className = 'graph1';
      $('#sct-whovoteswho .graph1').addClass('reg-act reg-act-' + region);
      $('.geottip2').stop(false, false).fadeOut(400);
    }

    return false;
  }

</script>