{% if seo is defined and url is defined %}

{% set datos = attribute(seo, url) %}

<title>{{attribute(datos, 'titulo')}} | Lab RTVE.es</title>
<meta name="description" content="{{attribute(datos, 'descripcion')}}">
<meta name="Keywords" content="{{attribute(datos, 'keywords')}}">
<meta name="author" content="lab.rtve.es">
<meta property="og:title" content="{{attribute(datos, 'titulo')}}">
<meta property="og:description" content="{{attribute(datos, 'descripcion')}}">
<meta property="og:url" content='http://lab.rtve.es{{ app.request.getRequestURI() }}'>
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@rtve">
<meta name="twitter:creator" content="@lab_rtvees">
<meta name="twitter:title" content="{{attribute(datos, 'titulo')}}">
<meta name="twitter:description" content="{{attribute(datos, 'descripcion')}}">
<meta property="og:image" content="http://lab.rtve.es{{ app.config.base_url }}img/seo/{{attribute(datos, 'imagen')}}.jpg">
<meta name="twitter:image" content="http://lab.rtve.es{{ app.config.base_url }}img/seo/{{attribute(datos, 'imagen')}}.jpg">


{% else %}

<title>Los datos de Eurovisión - Lab RTVE.es</title>
<meta name="description" content="El Lab de RTVE.es te trae todas las curiosidades, rankings, números y datos de Eurovisión">
<meta name="Keywords" content="eurovisión, festival, datos, periodismo de datos, historia, votaciones, actuaciones, ganadores, vídeos, actuaciones, curiosidades, cifras, presupuestoa">
<meta name="author" content="lab.rtve.es">
<meta property="og:title" content="Los datos de Eurovisión - Lab RTVE.es">
<meta property="og:description" content="El Lab de RTVE.es te trae todas las curiosidades, rankings, números y datos de Eurovisión">
<meta property="og:url" content='http://lab.rtve.es{{ app.request.getRequestURI() }}'>
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@rtve">
<meta name="twitter:creator" content="@lab_rtvees">
<meta name="twitter:title" content="¿Lo sabes todo sobre @eurovision_tve? Así resumimos los hitos del festival">
<meta name="twitter:description" content="El Lab de RTVE.es te trae todas las curiosidades, rankings, números y datos de Eurovisión">
<meta property="og:image" content="http://lab.rtve.es{{ app.config.base_url }}img/seo/seo-eurovision.jpg">
<meta name="twitter:image" content="http://lab.rtve.es{{ app.config.base_url }}img/seo/seo-eurovision.jpg">

{% endif %}