{% if seo is defined and ficha is defined %}

{% set datos = attribute(seo, ficha) %}

<title>{{attribute(datos, 'titulo')}} | Lab RTVE.es</title>
<meta name="description" content="{{attribute(datos, 'descripcion')}}">
<meta name="Keywords" content="{{attribute(datos, 'keywords')}}">
<meta name="author" content="lab.rtve.es">
<meta property="og:title" content="{{attribute(datos, 'titulo')}}">
<meta property="og:description" content="{{attribute(datos, 'descripcion')}}">
<meta property="og:url" content='http://lab.rtve.es{{ app.request.getRequestURI() }}'>
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@rtve">
<meta name="twitter:creator" content="@lab_rtvees">
<meta name="twitter:title" content="{{attribute(datos, 'titulo')}}">
<meta name="twitter:description" content="{{attribute(datos, 'descripcion')}}">
<meta property="og:image" content="http://lab.rtve.es{{ app.config.base_url }}img/seo/{{attribute(datos, 'imagen')}}.jpg">
<meta name="twitter:image" content="http://lab.rtve.es{{ app.config.base_url }}img/seo/{{attribute(datos, 'imagen')}}.jpg">


{% else %}

<title>Test de personalidad de los concursantes de Masterchef 2014 | Lab RTVE.es</title>
<meta name="description" content="Contesta a las mismas preguntas que los concursantes de Masterchef 2014 y comprueba con cuál de ellos tienes mayor afinidad.">
<meta name="Keywords" content="Masterchef, TVE, cocina, test, test de personalidad, comida, gastronomía, concurso, Masterchef España, Eva González, Pepe Rodríguez, Jordi Cruz, Samantha Vallejo-Nájera, recetas">
<meta name="author" content="lab.rtve.es">
<meta property="og:title" content="Test de personalidad de los concursantes de Masterchef 2014">
<meta property="og:description" content="Contesta a las mismas preguntas que los concursantes de Masterchef 2014 y comprueba con cuál de ellos tienes mayor afinidad.">
<meta property="og:url" content='http://lab.rtve.es{{ app.request.getRequestURI() }}'>
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@rtve">
<meta name="twitter:creator" content="@lab_rtvees">
<meta name="twitter:title" content="Test de personalidad de los concursantes de Masterchef 2014">
<meta name="twitter:description" content="Contesta a las mismas preguntas que los concursantes de Masterchef 2014 y comprueba con cuál de ellos tienes mayor afinidad.">
<meta property="og:image" content="http://lab.rtve.es{{ app.config.base_url }}img/seo/seo-masterchef.jpg">
<meta name="twitter:image" content="http://lab.rtve.es{{ app.config.base_url }}img/seo/seo-masterchef.jpg">

{% endif %}