{% if seo is defined and url is defined %}

{% set datos = attribute(seo, url) %}

<h1>{{attribute(datos, 'titulo')}}</h1>
<h2>{{attribute(datos, 'descripcion')}}</h2>


<a href="./" title="volver a la home">./</a>

{% else %}

<h1>Los datos de Eurovisión - Lab RTVE.es</h1>
<h2>El Lab de RTVE.es te trae todas las curiosidades, rankings, números y datos de Eurovisión</h2>

<ul>
    <li><a href="./ganadores" title=""></a></li>
    <li><a href="./cero-puntos" title=""></a></li>
    <li><a href="./segundones" title=""></a></li>
    <li><a href="./mayor-puntuacion" title=""></a></li>
    <li><a href="./primer-ganador" title=""></a></li>
    <li><a href="./mayor-participacion" title=""></a></li>
    <li><a href="./aciertos-votacion" title=""></a></li>
    <li><a href="./palizas" title=""></a></li>
    <li><a href="./anfitrion-ganador" title=""></a></li>
    <li><a href="./empates" title=""></a></li>
    <li><a href="./exitos-eurovisivos" title=""></a></li>
    <li><a href="./big-five" title=""></a></li>
    <li><a href="./espana/" title=""></a></li>
    <li><a href="./espana/representantes" title=""></a></li>
    <li><a href="./espana/canciones" title=""></a></li>
    <li><a href="./espana/favoritos" title=""></a></li>
    <li><a href="./espana/fans" title=""></a></li>
    <li><a href="./geopolitica/" title=""></a></li>
    <li><a href="./geopolitica/nordicos" title=""></a></li>
    <li><a href="./geopolitica/este" title=""></a></li>
    <li><a href="./geopolitica/balcanes" title=""></a></li>
    <li><a href="./geopolitica/big-five" title=""></a></li>
    <li><a href="./geopolitica/mediterraneo" title=""></a></li>
    <li><a href="./grandes-cifras" title=""></a></li>
    <li><a href="./actuaciones" title=""></a></li>
</ul>


{% endif %}