<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="es-es"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie7 oldie" lang="es-es"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="es-es"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es-es"> <!--<![endif]-->
<head>
  
  
  <!--[if IE]><script type="text/javascript">
        // Fix for IE ignoring relative base tags.
        // See http://stackoverflow.com/questions/3926197/html-base-tag-and-local-folder-path-with-internet-explorer
        (function() {
            var baseTag = document.getElementsByTagName('base')[0];
            baseTag.href = baseTag.href;
        })();
    </script><![endif]-->
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Language" content="es-es">

  <!-- SEO -->
  {% include 'seo/seo-head.html.twig' %}

  <!-- viewport -->
  <meta name="viewport" content="width=1350"/>

  <!-- build:css bin/styles.min.css -->
    <link rel="stylesheet" href="./css/styles.css">
  <!-- endbuild -->

  <!-- build:js bin/app-pre.js -->
    <script type="text/javascript" src="libs/modernizr-v2.7.1.js"></script>
  <!-- endbuild -->

  <link rel="stylesheet" href="http://www.rtve.es/css/tipografias.css">

  {% if not app.config.debug %}
    <script type="text/javascript" src="//www.rtve.es/js/mushrooms/rtve_mushroom.js" ></script>
  {% endif %}

</head>

<body>

  <img src="./img/bg--mainsprite.png" alt="" height="1" width="1">

  {% include 'head.html.twig' %}

  {% include 'menu-puntos.html.twig' %}

  <main id="seo-basico" role="main" style="display:none" class="hidden">
    <!-- SEO BASICO-->
    {% include 'seo/seo-basico.html.twig' %} 
  </main>
  <!--<script>document.getElementById('seo-basico').innerHTML = '';</script>-->

  <aside role="main" id="everything">
    <div class="wrap">
      {% block content %}No content{% endblock %}
    </div>
  </aside>

  <!-- build:js bin/app.js -->
  <script type="text/javascript" src="libs/jquery-1.11.0.js"></script>
  <script type="text/javascript" src="libs/angular1.2.9.js"></script>

  <script type="text/javascript" src="libs/snap.svg-min.js"></script>
  <script type="text/javascript" src="js/lbt-console.js"></script>
  <script type="text/javascript" src="js/lbt-url.js"></script>
  <script type="text/javascript" src="js/lbt-media.js"></script>
  <script type="text/javascript" src="js/d3.min.js"></script> 
  <script type="text/javascript" src="js/base.js"></script> 
  <script type="text/javascript" src="libs/hammer.min.js"></script>
  <!-- endbuild -->

  <script>

    //var activeSect = {% if section is not defined %} "" {% else %} "{{ section }}" {% endif %};
    //var subSect = {% if year is not defined %} "" {% else %}"{{ year }}"{% endif %};

    var section = "{{ section }}";

    if(labTools && labTools.url) {
      labTools.url.data.baseUrl = '';
      labTools.url.data.baseUrlNO = '{{ app.config.base_url }}';
      labTools.url.data.baseUrlServer = '{{ app.request.getSchemeAndHttpHost() }}';
      
      labTools.url.data.ga = {% if app.config.debug %}false{% else %}true{% endif %};
      labTools.url.data.ga = false;
    }

    if(labTools && labTools.console) {
      labTools.console.data.log = {% if app.config.debug %}true{% else %}false{% endif %};
      //labTools.console.data.log = false;
    }

    evData.data = {
      songs: {{ songs | json_encode() | raw }},
      seo: {{ seo | json_encode() | raw }},
      victors: {{ victors | json_encode() | raw }},
      partis: {{ partis | json_encode() | raw }},
      regions: {{ regions | json_encode() | raw }},
      geo: {{ geo | json_encode() | raw }},
      spainvotes: {{ spainvotes | json_encode() | raw }}
    };

    $('document').ready(function(){
      if ( typeof section != "undefined" && section != "") {

        labTools.console.log("goto -> " + section);
        evData.secciones.goTo('#' + section);
      } else {
        evData.secciones.goTo(evData.secciones.data.active);
      }
    })


    var myApp = angular.module('app', []).config(function($interpolateProvider){
        $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
      }
    );
    myApp.directive('a', function() {
        return {
            restrict: 'E',
            link: function(scope, elem, attrs) {
                if(attrs.ngClick || attrs.href === '' || attrs.href === '#'){
                    elem.on('click', function(e){
                        e.preventDefault();
                        if(attrs.ngClick){
                            scope.$eval(attrs.ngClick);
                        }
                    });
                }
            }
       };
    });
    function appCtrl($scope, $timeout){

      $scope.songs = evData.data.songs;

      $scope.search = evData.dataTools.processAngularSongs();

      $scope.status = {country: 'España'};
      $scope.status2 = {sort: 'year', sortAsc : true};

    };

    {% block js %}{% endblock %}
  </script>

</body>
</html>