{% extends 'base.html.twig' %}

{% block content %}

  {% include 'menu.html.twig' %}

  {% include 'secciones/sct-portada.html.twig' %}

  {% include 'secciones/mostwins.html.twig' %}

  {% include 'secciones/mostzeros.html.twig' %}

  {% include 'secciones/mostscored.html.twig' %} 

  {% include 'secciones/numbersspain.html.twig' %}

  <aside role="main" id="main" class="wk-col-r">

    {% include 'secciones/mostwins-main.html.twig' %}

    {% include 'secciones/mostzeros-main.html.twig' %}
    
    {% include 'secciones/mostseconds.html.twig' %}

    {% include 'secciones/mostscored2.html.twig' %}
    
    {% include 'secciones/firtswin.html.twig' %}

    {% include 'secciones/neverlostfestival.html.twig' %}

    {% include 'secciones/mostsuccessfulvoted.html.twig' %}

    {% include 'secciones/higherbeatings.html.twig' %}

    {% include 'secciones/hostwon.html.twig' %}

    {% include 'secciones/drawsinhistory.html.twig' %}

    {% include 'secciones/mostsales.html.twig' %}

    {% include 'secciones/historicaladvantage.html.twig' %}

    {% include 'secciones/numbersspain-main.html.twig' %}
    
    {% include 'secciones/spainvotes.html.twig' %}
    
    {% include 'secciones/spainvoters.html.twig' %}

    {% include 'secciones/spainstyle1.html.twig' %}

    {% include 'secciones/spainstyle2.html.twig' %}

    {% include 'secciones/whovoteswho.html.twig' %}

    {% include 'secciones/macroeconomy.html.twig' %}
    
    {% include 'secciones/viewallactions.html.twig' %}
    
    {% include 'secciones/creditos.html.twig' %}

    {% include 'tpl-video.html.twig' %}


  </aside>
{% endblock %}

