<div id="container-menu" class="rs-carousel-vertical">

  <a href="#" class="rs-carousel-action rs-carousel-action-prev">Prev</a>

  <ul class="bl-main-menu wk-col-l"> 
    <div class="rs-carousel-item-container">
      <li><a href="{{ path('mostwins') }}" data-goto="#sct-mostwins" class="goto-link">
        <span class="number">1</span>
        <span class="big">¿Qué país ha ganado más Eurovisión?</span>
          Irlanda es el país que más veces se ha impuesto en el Festival, con 7 victorias en 45 participaciones.
      </a></li>
      <li><a href="{{ path('mostzeros') }}" data-goto="#sct-mostzeros" class="goto-link">
        <span class="number">2</span>
        <span class="big">¿Qué país ha hecho más veces el ridículo?</span>
        Noruega es capaz de lo mejor y de lo peor. Hasta en cuatro ocasiones ha vuelto a casa sin un solo punto.
      </a></li>
      <li><a href="{{ path('mostseconds') }}" data-goto="#sct-mostseconds" class="goto-link">
        <span class="number">3</span>
        <span class="big">¿Quién es el eterno segundón?</span>
        Reino Unido es el país que más segundos puestos se ha anotado, un total de 15. Aun así, en su haber tiene 5 victorias. 
      </a></li>
      <li><a href="{{ path('mostscored') }}" data-goto="#sct-mostscored" class="goto-link">
        <span class="number">4</span>
        <span class="big">¿Quién ha obtenido la mayor puntuación?</span>
        Noruega batió el récord de puntos en 2009 al conseguir 387 votos con su canción "Fairy Tail". 
      </a></li> 
      <li><a href="{{ path('firtswin') }}" data-goto="#sct-firtswin" class="goto-link">
        <span class="number">5</span>
        <span class="big">¿Quién ganó por primera vez eurovisión?</span>
        En 1956 se celebró el primer Festival, que ganó Suiza con la canción "Refrain" interpretada por Lys Assia. 
      </a></li>
      <li><a href="{{ path('neverlostfestival') }}" data-goto="#sct-neverlostfestival" class="goto-link">
        <span class="number">6</span>
        <span class="big">¿Qué país no se pierde nunca el festival?</span>
        Alemania, miembro del "Big Five", es el país más fiel en su asistencia: solo se ha perdido una edición, en 1996.  
      </a></li>
      <li><a href="{{ path('mostsuccessfulvoted') }}" data-goto="#sct-mostsuccessfulvoted" class="goto-link">
        <span class="number">7</span>
        <span class="big">¿Quién tiene más tino en sus votaciones?</span>
        Suiza es el país que más ocasiones ha votado con 12 puntos al país que gana esa edición: 18 veces de 43.
      </a></li>
      <li><a href="{{ path('higherbeatings') }}" data-goto="#sct-higherbeatings" class="goto-link">
        <span class="number">8</span>
        <span class="big">Las mayores "palizas" del festival</span>
        Noruega "machacó" con un 43% de diferencia a Islandia, segundo puesto en 2009, donde competían 25 países. 
      </a></li>
      <li><a href="{{ path('hostwon') }}" data-goto="#sct-hostwon" class="goto-link">
        <span class="number">9</span>
        <span class="big">¿Cuántas veces ha ganado un anfitrión?</span>
        Hasta en 5 ocasiones ha ganado un país anfitrión; España fue el que primero lo hizo: en 1969.
      </a></li>
      <li><a href="{{ path('drawsinhistory') }}" data-goto="#sct-drawsinhistory" class="goto-link">
        <span class="number">10</span>
        <span class="big">¿Cuántos empates ha habido en la historia?</span>
        Ha habido dos empates en la final: uno cuádruple en 1969 y otro doble en el año 1991. Descubre qué ocurrió…
      </a></li>
      <li><a href="{{ path('mostsales') }}" data-goto="#sct-mostsales" class="goto-link">
        <span class="number">11</span>
        <span class="big">¿Cuál es el mayor éxito musical eurovisivo?</span>
        "Save Your Kisses For Me" (Reino Unido, 1976) ha vendido más de 6 millones de copias en todo el mundo.
      </a></li>
      <li><a href="{{ path('historicaladvantage') }}" data-goto="#sct-historicaladvantage" class="goto-link">
        <span class="number">12</span>
        <span class="big">¿Tienen los históricos ventaja?</span>
        Alemania, Francia, España, Italia y Reino Unido no pasan por las semifinales como el resto. 
      </a></li>
      <li><a href="{{ path('numbersspain') }}" data-goto="#sct-numbersspain" class="goto-link">
        <span class="number">13</span>
        <span class="big">Los números de España en Eurovisión</span>
        ¿Cómo son nuestros candidatos y canciones? Descubre una radiografía de nuestro paso por Eurovisión.
      </a></li>
      <li><a href="{{ path('spainvotes') }}" data-goto="#sct-spainvotes" class="goto-link">
        <span class="big">Por quién sentimos debilidad</span>
        Alemania es el país al que más puntos hemos otorgado en Eurovisión, una tendencia en declive en los últimos años.
      </a></li>      
      <li><a href="{{ path('spainvoters') }}" data-goto="#sct-spainvoters" class="goto-link">
        <span class="big">Quiénes son nuestros fans</span>
        Portugal es el país que más puntos nos ha dado en la historia, seguido de Suiza y Francia.
      </a></li>
      <li><a href="{{ path('spainstyle2') }}" data-goto="#sct-spainstyle2" class="goto-link">
        <span class="big">Así son nuestros representantes</span>
        Cada año se convierten en nuestra particular apuesta por la música ante Europa. Así son nuestros representantes.
      </a></li> 
      <li><a href="{{ path('spainstyle1') }}" data-goto="#sct-spainstyle1" class="goto-link">
        <span class="big">Qué tipo de canciones enviamos</span>
        ¿Cuál es el género musical que mejor funciona? ¿Balada, pop o flamenco? Descúbrelo aquí
      </a></li>             
      <li><a href="{{ path('whovoteswho') }}" data-goto="#sct-whovoteswho" class="goto-link">
        <span class="number">14</span>
        <span class="big">Geopolítica: ¿Quien vota a quien?</span>
        El "Big Five" y los países mediterráneos rompen el equilibrio de fuerzas entre el norte y el este, que han ganado 11 de las últimas 14 ediciones.
      </a></li>    
      <li><a href="{{ path('macroeconomy') }}" data-goto="#sct-macroeconomy" class="goto-link">
        <span class="number">15</span>
        <span class="big">Macroeconomía: Las grandes cífras</span>
        Revisa las principales cifras para entender el Festival de Eurovisión, que este 2014 cumple 59 años de historia.         
      </a></li>
      <li><a href="{{ path('viewallactions') }}" data-goto="#sct-viewallactions" class="goto-link">
        <span class="number">16</span>
        <span class="big">Ver todas las actuaciones</span>
        Navega todos los vídeos de las actuaciones de las 58 ediciones de Eurovisión, filtrando por fechas y países candidatos. 
      </a></li>
      
    </div> 
  </ul>

  <a href="#" class="rs-carousel-action rs-carousel-action-next">Next</a>

</div>

