
<aside id="container-menu-bottom" class="rs-carousel-horizontal">
  <ul class="bl-main-menu"> 
    <li>
      <a href="{{ path('mostwins') }}" data-goto="#sct-mostwins" class="t-tip goto-link" data-ttip="El super campeón">
      </a>
    </li>
    <li>
      <a href="{{ path('mostzeros') }}" data-goto="#sct-mostzeros" class="t-tip goto-link" data-ttip="De cero en cero"></a>
    </li>   
    <li>
      <a href="{{ path('mostseconds') }}" data-goto="#sct-mostseconds" class="t-tip goto-link" data-ttip="El eterno segundón"></a>
    </li>
    <li>
      <a href="{{ path('mostscored') }}" data-goto="#sct-mostscored" class="t-tip goto-link" data-ttip="La máxima puntuación"></a>
    </li>   
    <li>
      <a href="{{ path('firtswin') }}" data-goto="#sct-firtswin" class="t-tip goto-link" data-ttip="El primer ganador"></a>
    </li>
    <li>
      <a href="{{ path('neverlostfestival') }}" data-goto="#sct-neverlostfestival" data-ttip="El concursante más fiel"  class="t-tip goto-link"></a>
    </li>
    <li>
      <a href="{{ path('mostsuccessfulvoted') }}" data-goto="#sct-mostsuccessfulvoted" data-ttip=" Ojo que vota 12"  class="t-tip goto-link"></a>
    </li>
    <li>
      <a href="{{ path('higherbeatings') }}" data-goto="#sct-higherbeatings" data-ttip="Las mayores 'palizas'" class="t-tip goto-link"></a>
    </li>
    <li>
      <a href="{{ path('hostwon') }}" data-goto="#sct-hostwon" data-ttip="Anfitrión ganador" class="t-tip goto-link"></a>
    </li>
    <li>
      <a href="{{ path('drawsinhistory') }}" data-goto="#sct-drawsinhistory" data-ttip="Empates en la cumbre" class="t-tip goto-link"></a>
    </li> 
    <li>
    <a href="{{ path('mostsales') }}" data-goto="#sct-mostsales" class="t-tip goto-link" data-ttip="El 'hitazo' eurovisivo">
    </a>
    </li>   
    <li>
      <a href="{{ path('historicaladvantage') }}" data-goto="#sct-historicaladvantage" data-ttip="Los 'Big Five'" class="t-tip goto-link"></a>
    </li>        
    <li>
      <a href="{{ path('numbersspain') }}" data-goto="#sct-numbersspain" class="t-tip goto-link" data-ttip="España en Eurovisión"></a>
    </li>
    <li>
      <a href="{{ path('spainvotes') }}" data-goto="#sct-spainvotes" class="t-tip goto-link" data-ttip="Nuestro país favorito"></a>
    </li>      
    <li>
      <a href="{{ path('spainvoters') }}" data-goto="#sct-spainvoters" class="t-tip goto-link" data-ttip="A muerte con España"></a>
    </li>
    <li>
      <a href="{{ path('spainstyle2') }}" data-goto="#sct-spainstyle2" class="t-tip goto-link" data-ttip="¿Quién nos representa?"></a>
    </li>   
     <li>
      <a href="{{ path('spainstyle1') }}" data-goto="#sct-spainstyle1" class="t-tip goto-link" data-ttip="Canciones 'made in Spain'"></a>
    </li>           
    <li>
      <a href="{{ path('whovoteswho') }}" data-goto="#sct-whovoteswho" data-ttip="Quién vota a quién" class="t-tip goto-link"></a>
    </li>    
    <li>
      <a href="{{ path('macroeconomy') }}" data-goto="#sct-macroeconomy" data-ttip="Las grandes cifras" class="t-tip goto-link"></a>
    </li>
    <li>
      <a href="{{ path('viewallactions') }}" data-goto="#sct-viewallactions" data-ttip="Ver todas las actuaciones" class="t-tip goto-link"></a>
    </li>
  </ul>
  <a href="#" data-goto="#sct-credits" class="goto-link gotocreditos">Créditos y contacto</a>
  <p class="enlaces">Descárgate los <a href="https://docs.google.com/spreadsheets/d/1i092gc1e_IKtTQsjP38wkxk2qS8zIR6PtgHnka8s8ak/edit?usp=sharing" title="descargar datos" target="_blank">DATOS</a> y <a href="http://www.rtve.es/participacion/" title="modifica los datos" target="_blank">CUÉNTANOS</a> qué <br>has hecho con ellos.</p>
</aside>

  