<div id="tpl-video" class="bl-sct">
  <div class="bl-vid-head clearfix">
    <h2></h2>
    <div class="videodata">
      <span class="bl-vid-artis"></span>
      <span class="bl-vid-song"></span>
    </div>
    <a href="#" class="closevideo wk-col-r" title="cierra el video">X</a>
  </div>
  <div class="bl-vid-vid"></div>
</div>